footer
	background-color: #282E31;
	padding 55px 0 43px
	border-top 4px solid #F77B00
	.container
		padding 0 104px
		clearfix()
		background-color: #282E31;

.footer__item
	float left
	&:first-child
		width 20%
		margin-right  14%
	&:nth-child(2)
		width 26%
	&:nth-child(3)
		width 28%
		float right
	ul + .footer__header
		margin-top 45px
	li
		margin-bottom 11px
	a
		display inline-block
		font-family "Montserrat"
		font-size 14px
		font-weight 400
		color #FFF
		padding-left 9px
		border-left 2px solid #282E31
		&:hover
			color #F77B00
			border-left 2px solid #F77B00
	li.active a
		color #F77B00
		border-left 2px solid #F77B00

.footer__header
	display block
	color #FFF
	font-family "Montserrat"
	font-size 13px
	font-weight 700
	text-transform uppercase
	border-bottom 1px solid #F77B00
	padding-bottom 5px
	padding-left 9px
	margin-bottom 20px

.blog-list
	a
		border none
		background url('../images/blog-list-bullet.png') left 5px no-repeat
		padding-left 0
		text-indent 20px
		&:hover
			color #fff
			border-left none
	li.active a
		color #fff
		border-left none
		&:hover
			color #fff
			border-left none

a.blog-all
	text-indent 0
	padding-left 0
	border none
	color #F77B00
	text-transform uppercase
	font-style italic
	font-size 12px
	font-size 1.2rem
	& + span
		margin-top 35px
	&:hover
		color #F77B00
		border-left none
		padding 0
		border none

.tweet-content
	font-family 'Montserrat'
	color #fff
	font-size 14px
	font-size 1.4rem
	padding-left 9px

.tweet-time
	font-family 'Montserrat'
	color #ADADAD
	font-size: 11px
	font-size 1.2rem
	padding-left 9px

.footer-bottom
	background-color #242A2D
	padding 23px 0
	color: #FFF;
	font-size 11px
	font-size 1.1rem
	width 100%
	.container
		padding 0 113px
		clearfix()
		display table
		background-color #242A2D
	.info
		width 60%
		display table-cell
	li
		display inline-block
		margin-top 10px
		&:first-child a
			padding-right 6px
			border-right 1px solid #ADADAD
			margin-right 6px
		a
			color #F77B00

.small-button
	display inline-block
	color #FFF
	font-family "Montserrat"
	font-size 12px
	font-weight 700
	text-transform uppercase
	background-color #F77B00
	padding 10px 48px
	border-radius 3px
	position relative
	&:before
		content ""
		width 0
		height 0
		border-style solid
		border-width 8.5px 0 8.5px 10px
		border-color transparent transparent transparent #242A2D
		position absolute
		left 0
		top 50%
		margin-top -8px
	&:after
		content ''
		width 0
		height 0
		border-style solid
		border-width 8.5px 10px 8.5px 0
		border-color transparent #242A2D transparent transparent
		position absolute
		right 0
		top 50%
		margin-top -8px

.footer-cta
	width 38%
	text-align right
	display table-cell
	height 100%
	vertical-align middle



// RESPONSIVE STYLES

@media screen and (max-width: 760px)

	footer .container
		padding 0 10px

	.footer__item:first-child,
	.footer__item:nth-child(2),
	.footer__item:nth-child(3)
		width 100%

	.footer__item:first-child,
	.footer__item:nth-child(2)
		margin-bottom 33px

	a.blog-all + span
		margin-top 33px

	.footer-bottom .container
		padding 0 10px
		display flex
		flex-direction column

	.footer-cta
		width 100%
		display block
		float right
		order -1
		text-align left
		margin-bottom 60px

	.footer-bottom .info
		width 100%
		display block
		float right

