.header
   position fixed
   width 100%
   height 73px
   top 0
   left 0
   border-top 4px solid #F77B00;
   background-color: #242A2D;
   z-index 1001
   .container
       clearfix()
       background-color: #242A2D;
       
.mobile-nav a.mobile-menu-cta
   text-transform uppercase
   background #f77b00
   padding 9px 33px 6px !important
   margin-bottom 30px
   margin-top 4px
   display none !important
   color #FFF 
   font-weight 700
   font-family 'Montserrat' 
 
.chat-link
   height 69px
   line-height 69px
   position absolute
   top 0
   right 0
   background #F77B00
   color #fff
   text-transform uppercase
   padding 0 20px 0 25px
   font-family 'Montserrat'
   font-size 12px
   font-size 1.2rem
 
.logo
   display inline-block
   float left
   // margin-left -108px
 
.logo img
   margin 23px 0
   display block
 
.main-nav
   font-family 'Montserrat', sans-serif
   float left
   margin-left 55px
   a
       display inline-block
       color #FFF
       font-size 12px
       font-weight 700
       text-transform uppercase
       text-decoration none
       padding 30px 5px 20px
       margin-right 19px
       border-bottom 3px solid #242A2D
       &:hover
           border-bottom 3px solid #F77B00
 
   li:last-child a
       margin-right 0
 
   li.active a
       border-bottom 3px solid #F77B00
 
   li
       display inline-block
       position relative
       &.has-child
           background url('../images/icons/menu-dropdown-icon.png') right 54% no-repeat
           padding-right 10px
           &:hover > .inner-menu
               display block !important
       .inner-menu
           position absolute
           top calc(100% - 3px)
           right 0
           width 628px
           -moz-box-shadow 0 0 16px rgba(19, 19, 19, 0.5)
           -webkit-box-shadow 0 0 16px rgba(19, 19, 19, 0.5)
           box-shadow 0 0 16px rgba(19, 19, 19, 0.5)
           border-top 4px solid #F77B00
           background #fff url('../images/inner-menu-bg.png') 490px 66px no-repeat
           border-bottom-left-radius 6px
           border-bottom-right-radius 6px
           z-index 9
           display none
           &:after
               content ""
               width 0
               height 0
               border-style solid
               border-width 0 8px 9px 8px
               border-color transparent transparent #F77B00 transparent
               position absolute
               top -9px
               right 0
           &.inner-menu-is-active
               visibility visible
               transform translateY(0)
               transition transform .5s 0s, visibility 0s 0s
           ul
               clearfix()
               padding 15px 24px
               &:nth-child(2)
                   background #F7F7F7
               border-bottom-left-radius 6px
               border-bottom-right-radius 6px
           ul:nth-child(2)
             li:nth-child(7)
               clear left
           li
               display block
               width 94px
               max-height 133px
               float left
               margin-right 24px
               margin-bottom 24px
               // &:nth-child(7)
               //     clear left
               &:nth-child(6)
                   margin-right 0
               &:last-child
                   margin-right 0
           a
               width 94px
               border-bottom 3px solid transparent
               color #909090
               padding 10px 0 7px
               text-transform none
               font-size 12px
               font-size 1.2rem
               text-align center
               vertical-align bottom
               &:hover
                   background-color #F5F5F5
                   color #F77B00
                   border-bottom 3px solid #F77B00
               span
                   display block
           li.active a
               background-color #F5F5F5
               color #F77B00
               border-bottom 3px solid #F77B00
 
           i
               display inline-block
               width 55px
               height 55px
               background-repeat no-repeat
               background-size contain
               background-position center
               margin-bottom 12px
               
  .mobile-nav
    display none
    height 100vh
    background #242A2D
    position absolute
    top 69px
    left 0
    width 100%
    padding-bottom 100px
    -ms-overflow-y scroll 
    overflow-y scroll 
    z-index 999
    .has-child
      text-align center 
    i
      display inline-block
      width 55px
      height 55px
      background-repeat no-repeat
      background-size contain
      background-position center
      margin-bottom 12px
    .inner-menu
      position absolute
      top 49px
      right 0
      width 100%
      -webkit-overflow-scrolling touch
      // padding-bottom 70px
      // -moz-box-shadow 0 0 16px rgba(19, 19, 19, 0.5)
      // -webkit-box-shadow 0 0 16px rgba(19, 19, 19, 0.5)
      // box-shadow 0 0 16px rgba(19, 19, 19, 0.5)
      border-top 4px solid #F77B00
      background #fff url('../images/inner-menu-bg.png') calc(100% + 80px) 66px no-repeat
      z-index 9
      &.inner-menu-is-active
        visibility visible
        transform translateY(0)
        transition transform .5s 0s, visibility 0s 0s
      ul
        clearfix()
        padding 15px 24px
        background #fff
        padding 0 20px 
        border-bottom-left-radius 6px
        border-bottom-right-radius 6px
      ul:nth-child(2)
        background #F7F7F7
        li.mobile-bottom-cta
          width 100%
          margin 20px 0
        li:nth-child(10)
            margin-right 0
      li
        display block
        width 94px
        max-height 133px
        float left
        margin-right 24px
        margin-bottom 24px
        // &:nth-child(7)
        //     clear left
        // &:nth-child(6)
        //     margin-right 0
        &:last-child
            margin-right 0
      li.mobile-menu-separator
        width 100%
        margin 20px 0
      li.second-menu
        background #F7F7F7 
    a
      display block
      width 94px
      border-bottom 3px solid transparent
      color #909090
      padding 10px 0 7px
      text-transform none
      font-size 12px
      font-size 1.2rem
      text-align center
      vertical-align bottom
      &:hover
          background-color #F5F5F5
          color #F77B00
          border-bottom 3px solid #F77B00
      span
          display block
    li.active a
        background-color #F5F5F5
        color #F77B00
        border-bottom 3px solid #F77B00
 
 .menu-mission
     // display inline-block
     // width 55px
     // height 55px
     background-image url('../images/menu-mission.png')
     // background-repeat no-repeat
     // background-size cover
     // margin-bottom 20px

 .menu-about
     background-image url('../images/menu-about.png')

 .menu-history
     background-image url('../images/menu-history.png')

 .menu-leadership
     background-image url('../images/menu-leadership.png')

 .menu-types
     background-image url('../images/menu-types.png')

 .menu-industries
     background-image url('../images/menu-industries.png')

 .menu-faq
     background-image url('../images/icons/qa-icon.png')

 .menu-blog
     background-image url('../images/menu-blog.png')

 .menu-better
     background-image url('../images/menu-better.png')

 .menu-free-loan
     background-image url('../images/menu-free-loan.png')

 .menu-family
     background-image url('../images/menu-family.png')

 .menu-job
     background-image url('../images/menu-job.png')

 .menu-banking
     background-image url('../images/menu-banking.png')

 .menu-planning
     background-image url('../images/menu-planning.png')

 .menu-animals
     background-image url('../images/menu-animals.png')

 .menu-widows
     background-image url('../images/menu-widow.png')

 .menu-homeless
     background-image url('../images/menu-homeless.png')

 .menu-real-estate
     background-image url('../images/menu-real-estate.png')
 .menu-why
     background-image url('../images/menu-why.png')

 .inner-menu__logo
     display block
     height 17px
     background url('../images/menu-logo.png') left top no-repeat
     margin-bottom 17px

 .inner-menu__service-logo
     display block
     height 17px
     background url('../images/menu-cons-services-logo.png') left top no-repeat
     margin-bottom 20px
 
.mobile-menu
   width 101px
   height 69px
   background #F77B00
   text-align center
   position absolute
   top 0
   right 0
   display none
 
.hamburger-icon
   width 30px
   height 14px
   position absolute
   top 50%
   margin-top -10px
   right 50%
   margin-right -15px
   // display none
   .line
       display block
       background #fff
       width 30px
       height 2px
       -webkit-border-radius 2px
       -moz-border-radius 2px
       border-radius 2px
       position absolute
       left 0
       -webkit-transition all .4s
       -moz-transition all .4s
       -ms-transition all .4s
       -o-transition all .4s
       transition all .4s
   .line.line-1
       top 0
   .line.line-2
       top 50%
   .line.line-3
       top 100%
 
.hamburger-icon.active
   .line-1
       transform: translateY(7px) translateX(0) rotate(45deg)
   .line-2
       opacity 0
   .line-3
       transform: translateY(-7px) translateX(0) rotate(-45deg)
 
 
 
// RESPONSIVE STYLES
 
@media screen and (max-width: 1290px)
   .main-nav
       margin-left 20px
       a
           margin-right 15px
 
@media screen and (max-width: 1200px)
   .main-nav>ul
     display none
   .mobile-menu
       display block
   .chat-link
       display none
   .mobile-nav a.mobile-menu-cta
       display inline-block !important
       width auto
       border-bottom none
   .main-nav li .inner-menu a.mobile-menu-cta
     width auto
     border none
     color #fff
     text-transform uppercase
     margin-top 10px
   .main-nav
       width 100%
       height 90vh
       position absolute
       top 69px
       left 0
       margin-left 0
       display none
       -ms-overflow-y scroll
       overflow-y scroll
       & > ul > li.has-child
           background: #242A2D
           padding-right 0
       & > ul > li.has-child > a
           padding-right 20px
           background url(../images/icons/menu-dropdown-icon.png) 100% 53% no-repeat
       & > ul> li
           display block
           background #242A2D
           text-align center
           a
               padding-left 10px
           // &.has-child:hover > .inner-menu
           //     display none
           .inner-menu
               // position fixed
               // top 73px
               // right -100%
               // left auto
               width 100%
               box-shadow none
               border none
               // transition all .3s ease
               display none
               top 80px
               &:after
                   display none
           .mobile-inner-menu-visible
               display block
               right 0
               transition all .3s ease
               
@media screen and (max-width: 1061px)
  .mobile-nav
    ul:first-child
      li:last-child
        clear left
    ul:nth-child(2)
      li:nth-child(10)
        clear left
        
@media screen and (max-width: 967px)
  .mobile-nav
    ul:first-child
      li:last-child
        clear none
      li:nth-child(8)
        clear left
    ul:nth-child(2)
      li:nth-child(9)
        clear left
      li:nth-child(10)
        clear none
        
@media screen and (max-width: 849px)
  .mobile-nav
    ul:first-child
      li:last-child
        clear none
      li:nth-child(7)
        clear left
      li:nth-child(8)
        clear none
    ul:nth-child(2)
      li:nth-child(9)
        clear none
        
@media screen and (max-width: 731px)
  .mobile-nav
    ul:first-child
      li:nth-child(7)
        clear none
    ul:nth-child(2)
      li:nth-child(7)
        clear left
        
@media screen and (max-width: 613px)
  .mobile-nav
    ul:first-child
      li:last-child
        margin-right 24px
        clear left
    ul:nth-child(2)
      li:nth-child(6)
        clear left
      li:nth-child(8)
        clear none
    ul:nth-child(2)
      li:nth-child(7)
        clear none
      li:nth-child(10)
        margin-right 24px !important
        clear left
        
@media screen and (max-width: 495px)
  .mobile-nav
    ul:first-child
      li:nth-child(7)
        clear left
      li:last-child
        clear none
    ul:nth-child(2)
      li:nth-child(5)
        clear left
      li:nth-child(6)
        clear none
      li:nth-child(10)
        clear none
        
@media screen and (max-width: 380px)
  .mobile-nav .inner-menu li
    margin-right 14px

               
@media screen and (max-width: 613px)
  .main-nav li .inner-menu li:nth-child(7)
    clear none
  
  .main-nav li .inner-menu li:nth-child(6)
    margin-right 24px
    
  .main-nav li .inner-menu li:last-child
    clear left
    
  .main-nav li .inner-menu ul:nth-child(2) li:nth-child(6)
    clear left
    margin-right 24px
    
@media screen and (max-width: 495px)
  .main-nav li .inner-menu li:last-child
    clear none
    
  .main-nav li .inner-menu ul:nth-child(2) li:nth-child(5)
    clear left
    
  .main-nav li .inner-menu ul:nth-child(2) li:nth-child(6)
    clear none
    
@media screen and (max-width: 377px)
  .main-nav li .inner-menu li:last-child
    margin-right 24px
    
  .main-nav li .inner-menu ul:nth-child(2) li:nth-child(5)
    clear none
               
// @media screen and (max-width: 589px)
// 	.main-nav li .inner-menu li:nth-child(7)
// 		clear none
// 	.main-nav li .inner-menu li:nth-child(10)
// 		clear left
// 	.main-nav li .inner-menu ul:nth-child(2) li:nth-child(6)
// 		clear left
// 	.main-nav li .inner-menu li:nth-child(6)
// 		margin-right 24px
		
// @media screen and (max-width: 495px)
// 	.main-nav li .inner-menu li:last-child, .main-nav li .inner-menu li:nth-child(5)
// 		margin-right 0
// 	.main-nav li .inner-menu li:nth-child(9)
// 		margin-right 0
		
// @media screen and (max-width: 471px)
// 	.main-nav li .inner-menu li:nth-child(5)
// 		margin-right 24px
//     // clear left  
//   .main-nav li .inner-menu ul:nth-child(2) li:nth-child(5)
//     clear left 
//   .main-nav li .inner-menu li:nth-child(10), .main-nav li .inner-menu ul:nth-child(2) li:nth-child(6)
//     clear none 
//   .main-nav li .inner-menu li:nth-child(9)
//     margin-right 24px
//   .main-nav li .inner-menu li:nth-child(10), .main-nav li .inner-menu ul:nth-child(2) li:nth-child(6)
//     clear none
//     color red
		
// @media screen and (max-width: 377px)
// 	.main-nav li .inner-menu li:nth-child(6)
// 		margin-right 24px
// 	.main-nav li .inner-menu li:nth-child(4)
// 		margin-right 0
// 	.main-nav li .inner-menu li:nth-child(7)
// 		margin-right 0
// 	.main-nav li .inner-menu ul:nth-child(2) li:nth-child(7)
// 		margin-right 0
		
// @media screen and (max-width: 353px)
// 	.main-nav li .inner-menu li
// 		margin-right 14px
// 	.main-nav li .inner-menu li:nth-child(5)
// 		margin-right 14px
// 	.main-nav li .inner-menu li:nth-child(6)
// 		margin-right 14px
//   .main-nav li .inner-menu li:nth-child(9)
//     margin-right 14px
		
// @media screen and (max-width: 333px)
// 	.main-nav li .inner-menu li:nth-child(4), .main-nav li .inner-menu li:nth-child(7), .main-nav li .inner-menu ul:nth-child(2) li:nth-child(7)
// 		margin-right 14px
// 	.main-nav li .inner-menu li:nth-child(10)
// 		clear left
// 	.main-nav li .inner-menu ul:nth-child(1) li:last-child
// 		clear none
// 	.main-nav li .inner-menu ul:nth-child(2) li:nth-child(5)
// 		margin-right 14px
// 		clear none
	
 
@media screen and (max-width: 375px)
   .header
       height 36px
       border-top-width 2px
   .logo img
       width 150px
       margin 10px 0 9px
   .mobile-menu
       height 34px
       width 50px
   .hamburger-icon
       width 15px
       height 7px
       margin -4px -9px 0 0
       .line
           width 15px
           height 1px
           -webkit-border-radius 1px
           -moz-border-radius 1px
           border-radius 1px
           &.line-2, &.line-3
               margin-top -1px
       &.active
           .line-1
               transform translateY(3px) translateX(0) rotate(45deg)
           .line-3
               transform translateY(-3px) translateX(0) rotate(-45deg)
 
@media screen and (max-height: 728px)
   .inner-menu
       ul
           padding 7px 12px !important
       .inner-menu__logo,
       .inner-menu__service-logo
           margin-bottom 8px !important
 
       li
           margin-bottom 0 !important
       a
           padding-top 7px !important