.overlay
	position fixed
	width 100%
	height 100%
	top 0px
	left 0px
	bottom 0px
	z-index 10000
	background-color rgba(0, 0, 0, 0.4)
	.overlay-close
		position absolute
		right 20px
		top 20px
		z-index 10001
		opacity 0
		-webkit-transition-property opacity
		-moz-transition-property opacity
		-ms-transition-property opacity
		-o-transition-property opacity
		transition-property opacity
		-webkit-transition-duration 0.3s
		-moz-transition-duration 0.3s
		-ms-transition-duration 0.3s
		-o-transition-duration 0.3s
		transition-duration 0.3s
		-webkit-transition-timing-function initial
		-moz-transition-timing-function initial
		-ms-transition-timing-function initial
		-o-transition-timing-function initial
		transition-timing-function initial
		-webkit-transition-delay 0.5s
		-moz-transition-delay 0.5s
		-ms-transition-delay 0.5s
		-o-transition-delay 0.5s
		transition-delay 0.5s

	.modal
		max-width 540px
		position relative
		top 50%
		background #FFF
		margin-top 0px
		margin-right auto
		margin-bottom 0px
		margin-left auto
		padding 60px 40px
		border-top 4px solid #F77B00
		border-bottom-left-radius 5px
		border-bottom-right-radius 5px
		-webkit-transform translateY(-50%)
		-moz-transform translateY(-50%)
		-ms-transform translateY(-50%)
		-o-transform translateY(-50%)
		transform translateY(-50%)
		opacity 0
		-webkit-transition-property opacity
		-moz-transition-property opacity
		-ms-transition-property opacity
		-o-transition-property opacity
		transition-property opacity
		-webkit-transition-duration 0.3s
		-moz-transition-duration 0.3s
		-ms-transition-duration 0.3s
		-o-transition-duration 0.3s
		transition-duration 0.3s
		-webkit-transition-timing-function initial
		-moz-transition-timing-function initial
		-ms-transition-timing-function initial
		-o-transition-timing-function initial
		transition-timing-function initial
		-webkit-transition-delay 0.5s
		-moz-transition-delay 0.5s
		-ms-transition-delay 0.5s
		-o-transition-delay 0.5s
		transition-delay 0.5s
		p
			a
				color #F77B00
				text-decoration underline



.overlay-door
	visibility hidden
	width 0px
	left 50%
	-webkit-transform translateX(-50%)
	-moz-transform translateX(-50%)
	-ms-transform translateX(-50%)
	-o-transform translateX(-50%)
	transform translateX(-50%)
	-webkit-transition-property width, visibility
	-moz-transition-property width, visibility
	-ms-transition-property width, visibility
	-o-transition-property width, visibility
	transition-property width, visibility
	-webkit-transition-duration 0.5s, 0s
	-moz-transition-duration 0.5s, 0s
	-ms-transition-duration 0.5s, 0s
	-o-transition-duration 0.5s, 0s
	transition-duration 0.5s, 0s
	-webkit-transition-timing-function initial, initial
	-moz-transition-timing-function initial, initial
	-ms-transition-timing-function initial, initial
	-o-transition-timing-function initial, initial
	transition-timing-function initial, initial
	-webkit-transition-delay 0.3s, 0.8s
	-moz-transition-delay 0.3s, 0.8s
	-ms-transition-delay 0.3s, 0.8s
	-o-transition-delay 0.3s, 0.8s
	transition-delay 0.3s, 0.8s


.overlay-door.open
	visibility visible
	width 100%
	-webkit-transition-property width
	-moz-transition-property width
	-ms-transition-property width
	-o-transition-property width
	transition-property width
	-webkit-transition-duration 0.5s
	-moz-transition-duration 0.5s
	-ms-transition-duration 0.5s
	-o-transition-duration 0.5s
	transition-duration 0.5s
	-webkit-transition-timing-function initial
	-moz-transition-timing-function initial
	-ms-transition-timing-function initial
	-o-transition-timing-function initial
	transition-timing-function initial
	-webkit-transition-delay initial
	-moz-transition-delay initial
	-ms-transition-delay initial
	-o-transition-delay initial
	transition-delay initial
	.overlay-close
		opacity 1
		-webkit-transition-delay 0.5s
		-moz-transition-delay 0.5s
		-ms-transition-delay 0.5s
		-o-transition-delay 0.5s
		transition-delay 0.5s

	.modal
		opacity 1
		-webkit-transition-delay 0.5s
		-moz-transition-delay 0.5s
		-ms-transition-delay 0.5s
		-o-transition-delay 0.5s
		transition-delay 0.5s



.overlay-close
	position absolute
	top 15px
	right 15px
	font-size 10px
	font-size 1rem
	font-family 'Montserrat'
	font-weight 700
	text-transform uppercase
	color #4C5557

.overlay-door.close
	.modal
		opacity 0
		-webkit-transition-delay 0s
		-moz-transition-delay 0s
		-ms-transition-delay 0s
		-o-transition-delay 0s
		transition-delay 0s

