include ../helpers/variables
include ../helpers/mixins

+script([], ['debug.js', 'common.min.js', 'jquery.formstyler.js', 'jquery.bxslider.js', 'jquery.form.js'])

doctype html
html(lang='en')
	include ../blocks/head
	body
		script.
			var b = document.documentElement;
			b.setAttribute('data-useragent',  navigator.userAgent);
			b.setAttribute('data-platform', navigator.platform );
			b.className += ((!!('ontouchstart' in window) || !!('onmsgesturechange' in window))?' touch':'');

		include ../blocks/header
		block content
		include ../blocks/footer

		include ../blocks/scripts
