html
	font-size 62.5%
	box-sizing border-box

*,
*:after,
*:before
	box-sizing inherit

body
	color: #909090
	background #EBEEF0
	font-family "HelveticaNeueLT Std Lt", sans-serif
	font-size 16px
	font-size 1.6rem
	font-weight 300
	
.no-scroll
	height 100%
	min-height 100% 
	position relative
	overflow hidden
	-webkit-overflow-scrolling touch

.container
	width 100%
	max-width 1140px
	margin 0 auto
	clearfix()
	background #fff

a
	text-decoration none

h1
	font-family "HelveticaNeueLT Std Lt"
	font-size 27px
	font-size 2.7rem
	color #4C5557
	margin-bottom 28px

h1.cta-h1
	color #f77b00
	font-weight 700
	font-family 'Montserrat', sans-serif
	font-size 60px
	font-size 6rem
	margin-bottom -6px
	text-shadow 5px 0 5px rgba(0, 0, 0, .3)
	text-transform uppercase

h2
	color #4C5557
	font-family "Helvetica Neue"
	font-size 27px
	font-size 2.7rem
	font-weight 300
	text-align center
	position relative

h3
	font-family 'Montserrat'
	font-size 13px
	font-size 1.3rem
	font-weight 700
	text-transform uppercase
	margin-bottom 16px
	margin-bottom 1.6rem

strong
	font-weight bold
