// Fonts mixin
font-url(file)
  return '../fonts/' + file

webfont(family, file, hack-chrome-windows = false, weight = 'normal', style='normal')
  @font-face
    font-family family
    src url(font-url('../fonts/' + file + '.eot'))
    src url(font-url('../fonts/' + file + '.eot?#iefix')) format('embedded-opentype'),
        url(font-url('../fonts/' + file + '.woff')) format('woff'),
        url(font-url('../fonts/' + file + '.ttf')) format('truetype'),
        url(font-url('../fonts/' + file + '.svg#'+ family)) format('svg')
    font-weight weight
    font-style style
  if hack-chrome-windows
    @media screen and (-webkit-min-device-pixel-ratio:0)
      @font-face
        font-family family
        src url(font-url(file + '.svg#'+ family)) format('svg')



webfont('HelveticaNeueLT Std Lt', 'HelveticaNeueLTStd-Lt', true, '400')
