
footer
	.container
		.footer__item
			span.footer__header Popular topics
			ul
				li
					a(href="/") Home
				li
					a(href="serve.html") We Serve You
				li
					a(href="military.html") Military Branches
				li
					a(href="responders.html") First Responders
				li
					a(href="why.html") Why a Bridge Loan

			span.footer__header knowledge is power
			ul
				li
					a(href="mission.html") Mission
				li
					a(href="about.html") About Us
				li
					a(href="history.html") History
				li
					a(href="leadership.html") Leadership
				li
					a(href="types.html") Types Of Loans
				li
					a(href="industries.html") Industries Served
				li
					a(href="faq.html") Faq
				li
					a(href="blog.html") Blog
				li
					a(href="better.html") Make Us Better

		.footer__item
			span.footer__header helpful resources
			ul
				li
					a(href="free-loan.html") Interest Free Loan Programs
				li
					a(href="family.html") Family & Friends Programs
				li
					a(href="job.html") Job Placement Services
				li
					a(href="banking.html") Presonal Banking
				li
					a(href="planning.html") Financial Planning
				li
					a(href="animals.html") PTSD Animal Therapy Programs
				li
					a(href="widows.html") Widows & Children Benefits
				li
					a(href="homeless.html") Homeless Veteran Services
				li
					a(href="real-estate.html") Real Estate Brokerage

		.footer__item
			span.footer__header recent posts
			ul.blog-list
				li
					a(href="#") Buying a new car? You military service can help
				li
					a(href="#") 3 simple ways to boost your credit score
				li
					a(href="#") Identity theft: A pervasive treat
				li
					a(href="#") Three bright ideas to save money when you go on leave
				li
					a(href="") BAH cuts: Are they coming?
			a.blog-all(href="#") Vew All

			span.footer__header twitter feed
			p.tweet-content Noah Galloway Actually Win ‘Dancing With the Stars’? http://t.co/KP7jWEphkD
			span.tweet-time about 10 minutes ago

.footer-bottom
	.container
		.info
			| Licensed by the State of Delaware Office of the State Bank Commissioner License # 010826 expiration 12/31/2015
			| JML does not offer payday loans.  All customers are underwritten and repayment terms are 12 months.
			ul
				li
					a(href="privacy.html") Privacy Policy & Legal Disclaimer
				li
					a(href="terms.html") Terms of Use

		.footer-cta
			a.small-button(href="#") get started


