.header
	a.chat-link(href="#") Let's talk!
	.container
		a.logo(href="/")
			img(src="assets/images/logo.png", alt="veterans banker logo")
		nav.main-nav
			ul
				li.active
					a(href="/") Home
				li
					a(href="serve.html") We Serve You
				li
					a(href="military.html") Military Branches
				li
					a(href="responders.html") First Responders
				li
					a(href="types.html") Types of Loans
				li(class="has-child")
					a(href="#") Knowledge center
					.inner-menu
						ul
							//- span.inner-menu__logo
							//- li.active
							//- 	a(href="mission.html")
							//- 		i.menu-mission
							//- 		span Mission
							li
								a(href="about.html")
									i.menu-about
									span About Us
							li
								a(href="history.html")
									i.menu-history
									span History
							li
								a(href="leadership.html")
									i.menu-leadership
									span Leadership
							li
								a(href="types.html")
									i.menu-types
									span Types Of Loans
							li
								a(href="why.html")
									i.menu-why
									span What is Bridge Financing
							li
								a(href="industries.html")
									i.menu-industries
									span Industries Served
							li
								a(href="faq.html")
									i.menu-faq
									span FAQ
							li
								a(href="blog.html")
									i.menu-blog
									span Blog
							li
								a(href="better.html")
									i.menu-better
									span Make Us Better

						ul
							span.inner-menu__service-logo
							li
								a(href="free-loan.html")
									i.menu-free-loan
									span Interest Free Loan Programs
							li
								a(href="family.html")
									i.menu-family
									span Family & Friends Programs
							li
								a(href="planning.html")
									i.menu-planning
									span Financial Planning
							li
								a(href="banking.html")
									i.menu-banking
									span Personal Banking
							li
								a(href="real-estate.html")
									i.menu-real-estate
									span Shopping Savings
							li
								a(href="animals.html")
									i.menu-animals
									span PTSD Animal Therapy Programs
							li
								a(href="widows.html")
									i.menu-widows
									span Widows & Children Benefits
							li
								a(href="homeless.html")
									i.menu-homeless
									span Homeless Veteran Services
							li
								a(href="job.html")
									i.menu-job
									span Job Placement Services
		

		nav.mobile-nav
			.has-child
				a.mobile-menu-cta(href="#") Let's Talk
				.inner-menu
					ul
						//- span.inner-menu__logo
						//- li.active
						//- 	a(href="mission.html")
						//- 		i.menu-mission
						//- 		span Mission
						li
							a(href="about.html")
								i.menu-about
								span About Us
						li
							a(href="history.html")
								i.menu-history
								span History
						li
							a(href="leadership.html")
								i.menu-leadership
								span Leadership
						li
							a(href="types.html")
								i.menu-types
								span Types Of Loans
						li
							a(href="why.html")
								i.menu-why
								span What is Bridge Financing
						li
							a(href="industries.html")
								i.menu-industries
								span Industries Served
						li
							a(href="faq.html")
								i.menu-faq
								span FAQ
						li
							a(href="blog.html")
								i.menu-blog
								span Blog
						li
							a(href="better.html")
								i.menu-better
								span Make Us Better
					ul
						span.inner-menu__service-logo
						li
							a(href="free-loan.html")
								i.menu-free-loan
								span Interest Free Loan Programs
						li
							a(href="family.html")
								i.menu-family
								span Family & Friends Programs
						li
							a(href="planning.html")
								i.menu-planning
								span Financial Planning
						li
							a(href="banking.html")
								i.menu-banking
								span Personal Banking
						li
							a(href="real-estate.html")
								i.menu-real-estate
								span Shopping Savings
						li
							a(href="animals.html")
								i.menu-animals
								span PTSD Animal Therapy Programs
						li
							a(href="widows.html")
								i.menu-widows
								span Widows & Children Benefits
						li
							a(href="homeless.html")
								i.menu-homeless
								span Homeless Veteran Services
						li
							a(href="job.html")
								i.menu-job
								span Job Placement Services
						li.mobile-bottom-cta
							a.mobile-menu-cta(href="quote.html") Quick Quote
		.mobile-menu
			a.hamburger-icon(href="#")
				span.line.line-1
				span.line.line-2
				span.line.line-3
