form.c-quick-form,
form.c-full-form
	.textarea
		margin-top 50px
		label
			top -30px
			transform none
		label[for="about"]
			top -50px
		textarea
			width 100%
			height 80px
			border none
			background #EEE
			padding 15px

	.captcha
		clearfix()
		height 38px
		label
			position relative
			left auto
			float left
		input
			background #eee
			border-bottom none
			width 92px
			height 38px
			float right

form#contact
	background #F6F6F6
	input[type="text"]
		background #F6F6F6
	#captcha
		background #EEE

form.c-quick-form label span.operand1, form.c-quick-form label span.operation, form.c-quick-form label span.operand2
	color #909090

.operand1
	display inline-block
	margin-left 10px

#captcha
	padding 0 10px
