.blog__item
	display table
	.list-more
		position relative

.blog__preview
	width 52%
	// float left
	display table-cell
	vertical-align middle
	p
		margin-bottom 0 !important

.blog__img
	float left
	display table-cell
	vertical-align middle
	img
		margin-right 0
		float right

.pagination
	padding 0
	margin 0
	list-style none
	li
		display inline-block
		height 17px
		padding 0
		background none
		&:not(:last-child)
			border-right 1px solid #909090
		&:first-child a
			padding-left 0
		a
			display inline-block
			text-decoration none
			border none
			padding 0 10px 0 6px
			color #909090
		a.pagination-more
			display block
			width 0
			height 0
			position relative
			top 3px
			left 3px
			border-style solid
			border-width 8px 0 8px 10px
			border-color transparent transparent transparent #f77b00
