.c-faq-list
	ul
		margin-bottom 40px
		padding 0
		li
			background none
			padding 0
		ul
			padding-left 19px
			margin-bottom 30px
			li
				background url('../images/article-list-bullet.png') 0 5px no-repeat
				padding-left 19px
				&:not(:last-child)
					margin-bottom 16px

	li:not(:last-child)
		margin-bottom 23px

	span
		display inline-block
		text-decoration underline
		cursor pointer

.c-faq-list__inner
	display none
	padding-top 28px
	.c-article__list
		margin-bottom 0
