.links-container
	width 45%
	margin-top 63px
	span
		font-family 'Montserrat'
		font-size 13px
		font-size 1.3rem
		text-transform uppercase
		font-weight 700
	li
		display block
		padding 0 0 13px 19px
		border-bottom 1px solid #E7E7E7
		&:not(:first-child)
			margin-top 19px
			
@media screen and (max-width: 798px)
	.links-container
		width 100%
