.cta-section
   height 100vh
   background url('../images/cta-bg.jpg') 50% top no-repeat
   background-size cover
   position relative
   overflow hidden
   // margin-top -60px
   .container
       height auto
       
 .fullscreen-video
 	min-width 100%
 	min-height 100%
 
.cta-video
   position absolute
   top 50%
   left 50%
   min-width 100%
   min-height 100%
   width auto
   height auto
   -webkit-transform translateX(-50%) translateY(-50%)
   transform translateX(-50%) translateY(-50%)
   background url('../images/cta-bg.jpg') no-repeat
   background-size cover
 
.check
   // position absolute
   // bottom 0
   // left 0
   position relative
   width 100%
   height 112px
   background rgba(36, 42, 45, .65)
   margin-top -112px
   .container
       background transparent
   form
       clearfix()
       padding-left 80px
       padding-top 20px
 
.top-form-col
   float left
   label
       display block
       font-family 'Montserrat'
       font-size 13px
       font-size 1.3rem
       color #FFF
       margin-bottom 11px
       background url('../images/top-label-bg.png') 0 6px no-repeat
       padding-left 10px
 
.top-form-col:first-child
   width 27.7%
   margin-right 14px
 
.top-form-col:nth-child(2)
   width 20.2%
   margin-right 14px
 
.top-form-col:nth-child(3)
   width 26.8%
   margin-right 14px
 
.top-form-submit
   display inline-block
   color #FFF
   text-decoration none
   font-family 'Montserrat'
   font-weight 700
   font-size 12px
   font-size 1.2rem
   text-transform uppercase
   background #f77b00
   border-radius 3px
   padding 9px 33px 6px
   margin-top 28px
 
.cta__text
   width 71.5%
   position relative
   left 50%
   transform translateX(-50%)
   text-align center
   margin-top 40vh
   // margin-bottom 176px
   span
       font-family 'Montserrat'
       font-weight 700
       font-size 34px
       font-size 3.4rem
       color #FFF
       text-transform uppercase
       span
           color #F77B00
   p
       font-family 'Montserrat'
       font-size 18px
       font-size 1.8rem
       line-height 1.75
       margin-bottom 35px
       padding 0 32px
       color #FFF
   .scroll-arrow
       display block
       width 26px
       height 68px
       background url('../images/scroll-arrow4.png') 0 0 no-repeat
       margin 23px auto 0
 
.cta__text-header
   position relative
   margin-bottom 46px
   &:before
       content ""
       width 100%
       height 6px
       background url('../images/cta-header-top-bg.png') 0 0 repeat-x
       position absolute
       top -8px
       left 0
   &:after
       content ""
       width 100%
       height 6px
       background url('../images/cta-header-bottom-bg.png') 0 0 repeat-x
       position absolute
       bottom -17px
       left 0
 
.outlined-button
   font-family 'Montserrat'
   font-weight 700
   font-size 12px
   font-size 1.2rem
   text-transform uppercase
   display inline-block
   color #FFF
   padding 13px 52px 8px
   border-radius 30px
   border  3px solid #FFF
   margin-top 27px
 
.simple-button
   display inline-block
   padding 13px 77px
   background-color #F77B00
   color #fff
   font-family 'Montserrat', sans-serif
   border-radius 42px
   text-decoration none
   text-transform uppercase
   font-size 12px
   font-size 1.2rem
 
 
// WE SERVE YOU SECTION
 
.serve-section
   padding 59px 0 83px
   text-align center
   background #FFF
   .container
       padding 0 74px
   .feature
       padding 0
       border none
   // h2
   //     width 57%
   //     margin 0 auto 69px
 
.section-motto
   font-family 'Montserrat'
   color #909090
   font-size 14px
   font-size 1.4rem
   font-weight 700
   text-transform uppercase
   display block
   text-align center
   margin-bottom 6px
 
.section-header
   width 57%
   margin 0 auto 86px
 
.section-header:after
   content ""
   width 78px
   height 5px
   border-radius 5px
   background-color #F77B00
   position absolute
   left 50%
   transform translateX(-50%)
   bottom -14px
 
.benefits
   clearfix()
 
.benefits__item
   width 33.3%
   float left
   color #909090
   p
       padding 0 27px
 
.benefit-header
   display inline-block
   font-family 'Montserrat'
   color #4C5557
   font-size 13px
   font-size 1.3rem
   font-weight 700
   text-transform uppercase
   margin-bottom 8px
 
.yes-icon
   display block
   width 70px
   height 48px
   background url('../images/icons/yes-icon.png') no-repeat
   background-size cover
   margin 0 auto 26px
 
.fast-icon
   display block
   width 159px
   height 37px
   background url('../images/icons/fast-icon.png') no-repeat
   background-size cover
   margin 6px auto 31px
 
.trust-icon
   display block
   width 60px
   height 60px
   background url('../images/icons/trust-icon.png') no-repeat
   background-size cover
   margin -12px auto 26px
 
.square-button
   display inline-block
   color #4C5557
   font-family "Montserrat"
   font-size 14px
   font-size 1.4rem
   font-weight 700
   text-transform uppercase
   text-decoration none
   border 2px solid #545F66
   border-radius 5px
   padding 13px 32px
   margin-top 44px
 
 
 
// MILITARY BRANCHES SECTION
 
.branches-section
   background-color #F8F8F8
   padding 70px 0 74px
   .container
       background-color #F8F8F8
 
   .section-header
       margin 0 auto 81px
 
.c-twocol-list
   padding-left 26px
   .row
       clearfix()
       position relative
       &:not(:last-child)
           margin-bottom 24px
   p
       margin-bottom -5px
 
   .left-side,
   .right-side
       float left
       width 50%
       padding-bottom 30px
 
   .left-side
       padding-left 140px
       padding-right 30px
 
   .right-side
       padding-left 61px
       padding-right 141px
 
   .left-side:before,
   .right-side:before
       content ""
       width 50%
       z-index -1
       position absolute
       top 0
       bottom 0
       background #FFF
 
   .left-side:before
       left 0
 
   .right-side:before
       right 0
 
.list-content
   width calc(100% - 50px)
   float left
   padding-left 35px
 
.list-header
   display block
   margin-bottom 9px
   color #F77B00
   font-family "Montserrat"
   font-size 14px
   font-weight 700
   text-transform uppercase
 
.army-icon
   display block
   float left
   width 50px
   height 39px
   background url('../images/icons/army-icon.png') no-repeat
   background-size cover
   margin-top 25px
 
.air-icon
   display block
   float left
   width 50px
   height 39px
   background url('../images/icons/air-icon.png') no-repeat
   background-size cover
   margin-top 26px
 
.marine-icon
   display block
   float left
   width 50px
   height 40px
   background url('../images/icons/marine-icon.png') no-repeat
   background-size cover
   margin-top 26px
 
.coast-icon
   display block
   float left
   width 50px
   height 40px
   background url('../images/icons/coast-icon.png') no-repeat
   background-size cover
   margin-top 26px
 
.navy-icon
   display block
   float left
   width 50px
   height 40px
   background url('../images/icons/navy-icon.png') no-repeat
   background-size cover
   margin-top 26px
 
.guard-icon
   display block
   float left
   width 50px
   height 40px
   background url('../images/icons/guard-icon.png') no-repeat
   background-size cover
   margin-top 26px
 
.list-more
   position absolute
   bottom 0
   color #F77B00
   font-size 14px
   font-size 1.4rem
   line-height 1
   vertical-align middle
   &:after
     content ""
     width 5px
     height 10px 
     background url('../images/icons/more-link-bg.png') no-repeat
     position absolute
     top 50%
     margin-top -4px
     right -10px
     
html[data-platform="MacIntel"] .list-more:after
  margin-top -6px
  
 
 
// FIRST CTA SECTION
 
.cta-right
   padding 81px 0 50px
   background #FFF
   .container
       clearfix()
       position relative
 
.cta-right__content
   width 57.6%
   float left
   background url('../images/vertical-shadow.png') right center no-repeat
   padding-right 50px
   & > div
       display inline-block
       float right
 
.cta-right__img
   width 142px
   height 142px
   border-radius 50%
   overflow hidden
   border 5px solid #E3E3E3
   float left
   img
       max-width 100%
       height auto
 
.cta-quote
   float right
   color #4C5557
   font-size 27px
   font-weight 300
   background url('../images/quote-bg.png') left 35px no-repeat
   text-indent 45px
   padding-top 30px
   margin-left 30px
 
.cta-button-container
   width 42%
   float left
   position relative
   height 161px
 
.cta-button
   display inline-block
   border 2px solid #E1E1E1
   border-radius 4px
   color #F77B00
   font-family "Montserrat"
   font-size 14px
   font-size 1.4rem
   font-weight 700
   text-transform uppercase
   padding 14px 78px 14px 39px
   position absolute
   top 50%
   transform translateY(-86%)
   left 60px
   background url('../images/right-arow.png') calc(100% - 40px) center no-repeat
   white-space nowrap
 
 
 
// RESPONDERS SECTION
 
.responders-section
   background #F8F8F8
   padding 60px 0 64px
   .container
       background-color #F8F8F8
 
.firefighters-icon
   display block
   float left
   width 50px
   height 40px
   background url('../images/icons/firefighters-icon.png') no-repeat
   background-size cover
   margin-top 26px
 
.paramedics-icon
   display block
   float left
   width 50px
   height 40px
   background url('../images/icons/paramedics-icon.png') no-repeat
   background-size cover
   margin-top 26px
 
.emergency-icon
   display block
   float left
   width 50px
   height 40px
   background url('../images/icons/emergency-icon.png') no-repeat
   background-size cover
   margin-top 26px
 
 
 
// SECOND CTA SECTION
 
.cta-left
   padding 78px 0 83px
   background #FFF
   .container
       clearfix()
       position relative
   .cta-button-container
       width 43.8%
       background url('../images/vertical-shadow.png') right center no-repeat
       .cta-button
           right 73px
           left auto
   .cta-quote
       float left
 
.cta-left__content
   width 55%
   float left
   padding-right 50px
   & > div
       display inline-block
       float left
 
.cta-left__img
   width 142px
   height 142px
   border-radius 50%
   overflow hidden
   border 5px solid #E3E3E3
   float left
   margin-left 38px
   img
       max-width 100%
       height auto
 
 
 
// FORM SECTION
 
.form-section
   padding 70px 0 17px
   background #F8F8F8
   .container
       clearfix()
       padding 0 6% 0 10%
       background-color #F8F8F8
   .section-header
       margin 0 auto 77px
 
.form-section__features,
.c-form-section__form
   width 50%
   float left
 
.form-section__features
   padding-top 97px
   padding-right 20px
 
.c-simple-list
   li
       background url('../images/list-bullet.png') left 3px no-repeat
       padding-left 26px
       span
           display block
           margin-bottom 7px
           font-family 'Montserrat'
           color #4C5557
           font-size 13px
           font-weight 700
           text-transform uppercase
       &:not(:last-child)
           margin-bottom 35px
 
.form-section__button
   display inline-block
   background #f77b00
   color #fff
   border-radius 5px
   font-family 'Montserrat'
   font-size 11px
   font-size 1.1rem
   padding 10px 49px 10px 15px
   text-transform uppercase
   margin-left 34px
   margin-top 22px
   position relative
   &:after
       content ''
       width 31px
       height 100%
       border-radius 5px
       background #ED7200 url('../images/form-section-button-bg.png') center center no-repeat
       position absolute
       top 0
       right 0
 
// .c-form-section__form
form.c-quick-form
   width 100%
   max-width 344px
   background-color #eeeeee
   border-radius 3px
   padding 25px 0
   border-top 12px solid #F77B00
   position relative
   float right
   &:after
       content ""
       triangle 'down' 15px #F77B00
       position absolute
       top -8px
       left 32px
   .form-row
       position relative
       margin-bottom 12px
       padding 0 20px
   label
       position absolute
       left 30px
       top 60%
       transform translateY(-39%)
       span
           color #F77B00
   input
       display block
       width 100%
       outline none
       border none
       border-bottom 1px solid #CFD2D3
       background-color #eeeeee
       padding 26px 0 15px 0
   .big-button
       display block
       margin 0 auto
       width calc(100% - 40px)
       text-align center
       background-color #F77B00
       border-radius 4px
       border none
       color #FFF
       font-family "Montserrat"
       font-size 13px
       font-weight 700
       text-transform uppercase
       padding 13px 0
       position relative
       margin-top 36px
       &:before
           content ""
           width 0
           height 0
           border-style solid
           border-width 8.5px 0 8.5px 10px
           border-color transparent transparent transparent #eee
           position absolute
           left 0
           top 50%
           margin-top -8px
       &:after
           content ''
           width 0
           height 0
           border-style solid
           border-width 8.5px 10px 8.5px 0
           border-color transparent #eee transparent transparent
           position absolute
           right 0
           top 50%
           margin-top -8px
   .jq-selectbox__select
       font-size 23px
       font-size 2.3rem
       padding 25px 72px 0 10px
 
   .jq-selectbox__dropdown
       font-size 23px
       font-size 2.3rem
 
   .quick-form-success
       position absolute
       width 100%
       height 100%
       background #f1f1f1
       z-index 999
       padding-left 30px
       display none
       .success__text
           position relative
           top 50%
           transform translateY(-50%)
       span
           font-family 'Montserrat'
           font-size 14px
           font-size 1.4rem
           text-transform uppercase
           color #4C5557
.form-header
   display block
   color #4C5557
   font-family "Montserrat"
   font-size 13px
   font-weight 700
   text-transform uppercase
   padding-left 30px
   margin-bottom 20px
   & + p.small-text
       margin-top -15px
       padding-left 30px
 
p.small-text
   font-size 13px
   font-size 1.3rem
   span
       color #F77B00
 
.disclaimer
   float right
   width 344px
   text-align center
   font-size 11px
   font-size 1.1rem
   margin-top 30px
   span
       display inline-block
       background url('../images/icons/lock-icon.png') left top no-repeat
       padding-left 13px
 
 
 
// COMPARE SECTION
 
.compare-section
   padding 86px 0 84px
   background #FFF
   .container
       padding 0 7%
       position relative
   .section-header
       width 83%
       margin-bottom 73px
   .section-motto
       margin-bottom 6px
 
.compare__table-header
   background-color #F77B00
   border-top-left-radius 5px
   border-top-right-radius 5px
   text-align center
   padding 28px 20px 15px
   position relative
   border-bottom 6px solid #EE7300
   &:before
               content ""
               width 0
               height 0
               border-style solid
               border-width 8.5px 0 8.5px 10px
               border-color transparent transparent transparent #fff
               position absolute
               left 0
               top 50%
               margin-top -8px
           &:after
               content ''
               width 0
               height 0
               border-style solid
               border-width 8.5px 10px 8.5px 0
               border-color transparent #fff transparent transparent
               position absolute
               right 0
               top 50%
               margin-top -8px
   h3
       color #FFF
       font-family "Montserrat"
       font-weight 700
       text-transform uppercase
       text-shadow 0 4px 4px rgba(196, 80, 0, 0.16)
       font-size 22px
       font-size 2.2rem
       span
           font-size 28px
           font-size 2.8rem
 
.compare__table
   clearfix()
   li
       display block
       // height 53px
   i
       display block
       width 100%
       height 53px
       position relative
       top 50%
       transform translateY(-50%)
 
   .ft-table
       position relative
 
   .attr-col
       width 38%
       float left
       ul
           border-left 2px solid #EBEEF0
           border-bottom 2px solid #EBEEF0
           border-bottom-left-radius 5px
       li
           display block
           padding 15px 40px 15px 27px
           text-align right
           &:not(:last-child)
               border-bottom 1px solid #E3E3E3
 
       .attr-title
           background-color #EBEEF0
           height 53px
   .ft-special
       width 28%
       position absolute
       left 38%
       top -18px
       background #FFF
       border-radius 8px
       .ft-rows
           text-align center
           border 3px solid #E6E9EA
           border-radius 8px
           box-shadow 0 0 15px rgba(19, 19, 19, 0.09)
           padding 15px 0
           .ft-title
               background #FFF
               border-bottom none
               padding 0 10px
               height 53px
               img
                   max-width 100%
 
   .ft-body
       padding-left  66%
       ul
           border-right 2px solid #EBEEF0
           border-bottom 2px solid #EBEEF0
           border-bottom-right-radius 5px
       li
           clearfix()
 
   .ft-rows
       text-align center
       li
           &:not(:last-child)
               border-bottom 1px solid #E3E3E3
           span
               display block
               width 50%
               float left
               position relative
               top 50%
               transform translateY(-50%)
               height 53px
       .ft-title
           background-color #EBEEF0
           font-family "Montserrat"
           font-size 14px
           font-size 1.4rem
           font-weight 700
           text-transform uppercase
           height 53px
           span
               height auto
 
.check-green
   background url('../images/icons/check-icon-green.png') center center no-repeat
.check-gray
   background url('../images/icons/check-icon-gray.png') center center no-repeat
.none
   background url('../images/icons/none-icon.png') center center no-repeat
 
.compare__table-mobile
   display none
   clearfix()
   li
       display block
       // height 53px
   i
       display block
       width 100%
       height 53px
       position relative
       top 50%
       transform translateY(-50%)
 
   .part-one, .part-two
       position relative
       clearfix()
 
   .part-one
       // padding-bottom 56px
       .attr-col ul, .ft-body ul
           border-bottom none
           border-bottom-left-radius 0
           border-bottom-right-radius 0
           padding-bottom 56px
 
   .part-two
       border-radius 5px
       border-left 2px solid #EBEEF0
       border-right 2px solid #EBEEF0
       border-bottom 2px solid #EBEEF0
       border-top-left-radius 0
       border-top-right-radius 0
       padding-bottom 144px
       margin-top 0
       .attr-col ul, .ft-body ul
           border none
       .attr-col .attr-title
           background-color #FFF
       .ft-special .ft-rows .ft-title
           border-bottom 1px solid #e3e3e3
       .round-button
           position absolute
           bottom 14px
 
   .attr-col
       width 54%
       float left
       ul
           border-left 2px solid #EBEEF0
           border-bottom 2px solid #EBEEF0
           border-bottom-left-radius 5px
       li
           display block
           padding 15px 40px 15px 27px
           text-align right
           &:not(:last-child)
               border-bottom 1px solid #E3E3E3
 
       .attr-title
           background-color #EBEEF0
           height 53px
 
   .ft-special
       width 46%
       position absolute
       right 10px
       top -18px
       background #FFF
       border-radius 8px
       .ft-rows
           text-align center
           border 3px solid #E6E9EA
           border-radius 8px
           box-shadow 0 0 15px rgba(19, 19, 19, 0.09)
           padding 15px 0
           .ft-title
               background #FFF
               border-bottom none
               padding 0 10px
               height 53px
               img
                   max-width 100%
 
   .ft-body
       padding-left  54%
       ul
           border-right 2px solid #EBEEF0
           border-bottom 2px solid #EBEEF0
           border-bottom-right-radius 5px
       li
           clearfix()
 
   .ft-rows
       text-align center
       li
           &:not(:last-child)
               border-bottom 1px solid #E3E3E3
           span
               display block
               width 50%
               float left
               position relative
               top 50%
               transform translateY(-50%)
               height 53px
       .ft-title
           background-color #EBEEF0
           font-family "Montserrat"
           font-size 14px
           font-size 1.4rem
           font-weight 700
           text-transform uppercase
           height 53px
           span
               height auto
 
.round-button
   display inline-block
   line-height 65px
   width 174px
   background-color #F77B00
   border-radius 65px
   margin-top 63px
   position relative
   left 50%
   transform translateX(-50%)
   overflow hidden
   a
       display block
       color #FFF
       font-family "Montserrat"
       font-size 13px
       font-size 1.3rem
       font-weight 700
       text-transform uppercase
       padding-left 26px
       z-index 1
       &:after
           content ''
           width 65px
           height 70px
           background #ed7200
           transform skew(-18deg)
           position absolute
           top 0
           right -10px
           z-index 2
       &:before
           content ''
           width 13px
           height 9px
           background url('../images/icons/compare-cta-arrow.png')
           position absolute
           top 50%
           margin-top -4px
           right 26px
           z-index 3
 
 
 
// TESTIMONIALS SECTION
 
.testimonials-section
   background-color #F8F8F8
   .container
       padding 63px 0 51px
       position relative
       background-color #F8F8F8
   .section-motto
       margin-bottom 6px
 
.carousel
   width 79%
   min-height 225px
   margin 0 auto
   overflow hidden
   position relative
   margin-top -10px
 
.inner
   width 100%
   height 100%
 
.slide
   clearfix()
   width 100%
   height 100%
   background #F8F8F8
 
.slide__image
   width 36.5%
   height 225px
   float left
   // background #EAEAEA
   overflow hidden
   position relative
   img
       position absolute
       max-width 100%
       border 10px solid #EAEAEA
       height auto
       left 50%
       top 50%
       transform translate(-50%, -50%)
 
.slide__content
   width 62%
   float left
   padding-left 18px
   padding-top 20px
   font-size 17px
   font-size 1.7rem
   line-height 1.65
   clearfix()
 
.slide__author
   width 40%
   float left
   margin-top 12px
   border-bottom 4px solid #F77B00
   padding-bottom 5px
   span
       display block
   .name
       color #4C5557
       font-size 14px
       font-weight 700
   .org
       color #C8CBCD
       font-size 14px
       font-weight 700
 
.bx-prev
   width 24px
   height 39px
   background url('../images/carousel-prev.png')
   position: absolute
   left 37px
   top 50%
   transform translateY(29%)
   cursor pointer
   text-indent -9999px
   z-index 9
 
.bx-next
   width 24px
   height 39px
   background url('../images/carousel-next.png')
   position: absolute
   right 14px
   top 50%
   transform translateY(29%)
   cursor pointer
   text-indent -9999px
   z-index 9
 
.bx-wrapper .bx-pager.bx-default-pager a
   width 9px
   height 9px
   border-radius 9px
   background-color #DDE0E1
   text-indent -9999px
 
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active
   background-color #F77B00
 
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto
   bottom -57px
 
 
 
 
// LOAN SECTION
 
.loan-section
   background #fff
   .container
       padding 92px 90px 142px
   .section-motto
       margin-bottom 6px
 
.justify
   text-align justify
   line-height 0
   font-size 1px
   -ms-text-justify newspaper
   text-justify newspaper
   zoom 1
   -ms-text-align-last justify
   text-align-last justify
   &:after
       width 100%
       height 100%
       visibility hidden
       overflow hidden
       content ""
       display inline-block
 
.feature
   text-align center
   width 31%
   display inline-block
   line-height 1.5
   font-size 16px
   font-size 1.6rem
   vertical-align top
   border 1px solid #E1E1E1
   border-radius 5px
   padding 35px 25px 24px
   position relative
   /* эмуляция inline-block для IE6-7*/
   //display : inline;
   //zoom : 1;
 
.feature__icon
   text-align center
   margin-bottom 22px
 
.feature__text
   span
       display inline-block
       color #4C5557
       font-family 'Montserrat'
       font-size 13px
       font-size 1.3rem
       font-weight 700
       text-transform uppercase
 
.note-button
   display inline-block
   color #FFF
   font-family "Montserrat"
   font-size 12px
   font-weight 700
   text-transform uppercase
   background-color #F77B00
   padding 8px 48px
   border-radius 3px
   position relative
   margin-top 21px
   &:before
       content ""
       width 0
       height 0
       border-style solid
       border-width 8.5px 0 8.5px 10px
       border-color transparent transparent transparent #fff
       position absolute
       left 0
       top 50%
       margin-top -8px
   &:after
       content ''
       width 0
       height 0
       border-style solid
       border-width 8.5px 10px 8.5px 0
       border-color transparent #fff transparent transparent
       position absolute
       right 0
       top 50%
       margin-top -8px
 
 
 
// RESPONSIVE STYLES
 
@media screen and (max-width: 1101px)
   .cta__text
       width 80%
 
@media screen and (max-width: 1061px)
   .main-content
       padding-left 0
 
   aside
       padding-right 0
 
@media screen and (max-width: 1024px)
   .main-nav>ul>li a
     padding-left 0
     margin-right 0
     padding 15px 5px 5px
   .main-nav>ul>li.has-child>a
     background-position 100% 60% 
   .top-form-col:nth-child(2)
       display none
   .top-form-col:first-child
       width 38%
       margin-right 10px
   .top-form-col:nth-child(3)
       width 30%
       margin-right 10px
   video
   	  display none
   .cta-section .container
   	  background transparent
   .list-more:after
      margin-top -6px
 
@media screen and (max-width: 998px)
   form.c-quick-form .form-row.captcha
       padding 0 10px
 
@media screen and (max-width: 986px)
   .cta__text
       width 90%
 
@media screen and (max-width: 930px)
   form.c-quick-form .form-row.captcha
       font-size 14px
       font-size 1.4rem
       padding 0 15px
 
@media screen and (max-width: 908px)
   .top-form-col:nth-child(3)
       width 35%
 
 
// scroll-rows
@media screen and (max-height: 1000px)
   .cta__text p
       margin-bottom 9px
 
@media screen and (max-height: 940px)
   .cta__text p
       margin-bottom 9px
   .cta__text .scroll-arrow
       height 51px
       margin 0 auto
       background url('../images/scroll-arrow4.png') 0 -17px no-repeat
 
@media screen and (max-height: 900px)
   .cta__text p
       margin-bottom 9px
   .cta__text .scroll-arrow
       height 34px
       margin 0 auto
       background url('../images/scroll-arrow4.png') 0 -34px no-repeat
 
@media screen and (max-height: 879px)
   .cta__text p
       margin-bottom 9px
   .cta__text .scroll-arrow
       height 18px
       margin 0 auto
       background url('../images/scroll-arrow1.png')
 
@media screen and (max-height: 830px)
   .outlined-button
       display    none
   .cta__text p
       margin-bottom 30px 
 
@media screen and (max-height: 750px)
   .cta__text p
       margin-bottom 15px
 
@media screen and (max-height: 699px)
   .cta__text .scroll-arrow
       display none
 
 
@media screen and (max-width: 869px)
   h1.cta-h1
       font-size 50px
       font-size 5rem
   .cta__text span
       font-size 24px
       font-size 2.4rem
       
@media screen and (max-width: 830px)
   .note-button
   		padding 8px 28px
 
@media screen and (max-width: 792px)
   .check form
       padding-left 20px
 
 
 
@media screen and (max-width: 732px)
   .top-form-col:nth-child(3)
       width 36%
 
@media screen and (max-height: 730px)
   // .cta-section
   //     height auto
   //     & .container
   //         height auto
   // .cta__text
   //     position relative
   //     margin-top 30px
   //     margin-bottom 30px
   //     bottom auto
   // .main-nav li .inner-menu
   //     height 87vh
   //     -ms-overflow-y scroll
   //     overflow-y scroll
 
@media screen and (max-width: 728px)
   .cta-section
       height auto
   .cta__text
       margin-bottom 176px
       
@media screen and (max-height: 630px)
   .cta-section
       height auto
   .cta__text
       margin-bottom 120px

 
@media screen and (max-height: 824px)
   .outlined-button
       margin-top -3px
 
@media screen and (max-height: 768px)
   .outlined-button
       margin-top -17px
 
@media screen and (max-height: 751px)
   .outlined-button
       display none
 
@media screen and (max-width: 713px)
   .top-form-col:nth-child(3)
       display none
   .top-form-col:first-child
       width 68%
 
// @media screen and (max-width: 584px)
//    .top-form-col:first-child
//        width 60%
 
@media screen and (max-width: 1140px)
   .container
       padding 0 10px
 
@media screen and (max-width: 1140px)
   .container
       padding 0 8px
 
@media screen and (min-width: 1291px)
   .main-nav
       display block !important
 
@media screen and (max-width: 1023px)
   .cta-right__content
       width 100%
       background none
       padding 0
       & > div
           float none
           position relative
           left 50%
           transform translateX(-50%)
 
   .cta-left__content
       width 100%
       background none
       padding 0
       margin-bottom 161px
       & > div
           float none
           position relative
           left 50%
           transform translateX(-50%)
           margin-top -161px
 
   .cta-left__img
       margin 0
   .cta-button-container
       width 100%
   .cta-left .cta-button-container
       width 100%
   .cta-button
       left 50%
       transform translateX(-50%)
   .cta-left .cta-button-container .cta-button
       right auto
       left 50%
       transform translateX(-50%)
       margin-top 161px
   .cta-left .cta-button-container
       background none
 
@media screen and (max-width: 900px)
   .c-twocol-list .left-side
       padding-left 0
   .c-twocol-list .right-side
       padding-right 0
 
@media screen and (max-width: 860px)
   .cta-right__content
       width 100%
       background none
   .cta-right__img
       float left
   .cta-quote
       width calc(100% - 172px)
 
@media screen and (max-width: 760px)
   .compare__table
       display none
       & + .round-button
           display none
   .compare__table-mobile
       display block
       
 @media screen and (max-width: 736px)
    .main-nav>ul>li .inner-menu
    	padding-bottom 50px
 
 
@media screen and (max-width: 720px)
   .feature
       width 100%
       margin-bottom 50px
   .c-twocol-list .left-side, .c-twocol-list .right-side
       width 100%
       padding 0
       margin-bottom 30px
   .c-twocol-list .row:not(:last-child)
       margin-bottom 0
   .list-more
       position relative
   .form-section
       .container
           padding 0 10px
   .form-section__features
       padding-right 20px
 
   .slide__author
       width 100%
   footer
       .container
           padding 0 10px
   .footer-bottom
       .container
           padding 0 10px
 
@media screen and (max-width: 650px)
   .section-header
       width 100%
   .form-section__features
       width 100%
       padding-top 0
       margin-bottom 30px
   .form-section__button
       margin 26px 0 0
       position relative
       left 50%
       transform translateX(-50%)
   .c-form-section__form
       width 100%
       .disclaimer
           float none
           margin 17px auto 0
   form.c-quick-form
       float none
       margin 0 auto
   .carousel
       width 90%
   .carousel-next, .carousel-prev
       display none
 
 
@media screen and (max-width: 500px)
   h2
       font-size 20px
       font-size 2rem
   .loan-section .container
       padding 70px 10px
   .serve-section .container
       padding 0 10px
 
@media screen and (max-width: 467px)
   // .top-form-submit
   //     padding 9px 18px 6px
   // .top-form-col:first-child
   //     width 68%
 
@media screen and (max-width: 456px)
   // .top-form-col:first-child
   //     width 66%
 
@media screen and (max-width: 432px)
   .top-form-submit
       padding 9px 10px 6px
   // .top-form-col:first-child
   //     width 68%
   .check form
       padding-left 0
 
 
@media screen and (max-width: 450px)
   .compare__table-mobile .ft-rows .ft-title
       font-size 10px
       font-size 1rem
   .compare__table-mobile .attr-col li
       font-size 12px
       font-size 1.2rem
   .check-numbers
       width 230px
       height 9px
 
@media screen and (max-width: 424px)
   .cta-left__img,.cta-right__img
       width 66px
       height 66px
       border 2px solid #e3e3e3
 
   .cta-quote
       width auto
       float left
       background url(../images/quote-bg.png) left 10px no-repeat
       padding-top 10px
       font-size 20px
       font-size 2rem
       margin-left 10px
 
   .cta-left
       padding 0
 
@media screen and (max-width: 420px)
   .check:after
       width 300px
       height 62px
       background-size cover
       right 0
       
@media screen and (max-width: 396px)
	// .top-form-col:first-child
	// 	width 100%
	// .top-form-col:last-child
	// 	width 100%
	// 	text-align center
	// .check
	// 	height 155px
	// 	margin-top -155px
	// .cta__text
	// 	margin-bottom 165px !important
		
@media screen and (max-width: 350px)
	.logo img
		width 84%
    margin 8px 0 5px   
 
@media screen and (max-width: 375px)
   .header-form input
       min-width 0
       width 100%