.underlined-header
	font-size 27px
	font-size 2.7rem
	padding-bottom 10px
	border-bottom 1px solid #e7e7e7

span.list-subheader
	font-family 'Montserrat'
	display inline-block
	font-size 13px
	font-size 1.3rem
	font-weight 700
	margin-top 15px
	margin-bottom 10px
	text-transform uppercase

.ascetic-list
	margin-bottom 40px
	padding 0
	li
		padding 0
		background none
	li:not(:last-child)
		margin-bottom 5px
