@media screen and (max-width: 392px)
    .top-form-col label
     font-size 10px
     font-size 1rem
     background url(../images/top-label-bg.png) 0 1px no-repeat
    .check .jq-selectbox__select
     font-size 12px
     font-size 1.2rem
    .top-form-submit
     font-size 6px
     font-size 0.6rem
    .top-form-col:first-child
     width 66%
    .top-form-submit
     padding 0 10px 0 10px
     height 30px
     line-height 30px
     margin-top 25px

@media screen and (max-width: 375px)

   .mobile-nav
     top 34px
     height 94vh
     i
        width 27px
        height 27px
   .mobile-nav .inner-menu ul:nth-child(2)
     padding 7px 12px 90px !important 
   .cta-section
       height auto
   .cta__text
       margin-bottom 88px
       width 90%
       span
           font-size 12px
           font-size 1.2rem
       p
           margin-bottom 8px
           font-size 10px
           font-size 1rem
           padding 0
   .cta__text-header
       margin-bottom 23px
       &:before, &:after
           height 3px
           background-size 2px 3px
       &:before
           top -4px
       &:after
           bottom -8px
   h1.cta-h1
     font-size 25px
     font-size 2.5rem
     text-shadow 2.5px 0 2.5px rgba(0,0,0,0.3)

   .inner-menu ul
     padding 15px 7px !important
   .mobile-nav .inner-menu li
     margin 0
     display inline-block
     width 50%
     float left
     text-align center
     a
       margin 0 auto
   .mobile-nav ul:nth-child(2) li:nth-child(5)
     clear none
   .main-nav li .inner-menu li:nth-child(6)
     margin 0
   .main-nav li .inner-menu ul:nth-child(2) li:nth-child(6)
     margin 0
     // margin-right 8px
   // .main-nav li .inner-menu li:nth-child(6)
   //   margin-right 8px
   // .main-nav li .inner-menu li:last-child
   //   margin-right 0
   // .main-nav li .inner-menu ul:nth-child(2) li:nth-child(5)
   //   clear left
   // .main-nav li .inner-menu ul:nth-child(2) li:nth-child(6)
   //   margin-right 8px
   .serve-section
     padding 29px 0 42px
   // .section-motto
   //   font-size 10px
   //   font-size 1rem
   // h2
   //   font-size 18px
   //   font-size 1.8rem
   .section-header
     margin 0 auto 43px
     padding 0 10px
   .section-header:after
     width 39px
     height 3px
     bottom -7px
   // .yes-icon
   //   width 35px
   //   height 24px
   //   margin 0 auto 13px
   // .benefit-header
   //   font-size 10px
   //   font-size 1rem
   // .feature
   //   font-size 12px
   //   font-size 1.2rem
   //   margin-bottom 25px
   // .fast-icon
   //   width 79px
   //   height 18px
   //   margin 3px auto 15px
   // .trust-icon
   //   width 30px
   //   height 30px
   //   margin -6px auto 13px
   .square-button
     font-size 10px
     font-size 1rem
     margin-top 22px
   .branches-section
     padding 35px 0 37px
   .branches-section .section-header
     margin 0 auto 40px
   // .army-icon, .air-icon, .marine-icon, .coast-icon, .navy-icon, .guard-icon,
   // .firefighters-icon, .paramedics-icon, .emergency-icon
   //   width 25px
   //   height 20px
   .list-content
     padding-left 17px
   // .list-header
   //   font-size 10px
   //   font-size 1rem
   // p
   //   font-size 12px
   //   font-size 1.2rem
   // .list-more
   //   font-size 10px
   //   font-size 1rem

   .c-twocol-list .list-more
     display inline-block
     margin-top 15px

   .list-more:after
   //   -webkit-background-size 50%
   //   -o-background-size 50%
   //   background-size 50%
     top 2px
     margin-top 0

   .responders-section
     padding 30px 0 32px

   // .cta-right
   //   padding 40px 0 25px
   // .cta-left__img, .cta-right__img
   //   width 71px
   //   height 71px

   // .cta-quote
   //   font-size 13px
   //   font-size 1.3rem
   //   -webkit-background-size 15px 13px
   //   -o-background-size 15px 13px
   //   background-size 15px 13px
   //   text-indent 22px
   // .cta-button
   //   top auto
   //   margin-top 20px
   //   font-size 10px
   //   font-size 1rem
   //   background-size 8px 6px
   //   background-position calc(100% - 20px) center
   //   padding 7px 39px 7px 18px
   .cta-button-container
     height 91px
   .cta-left__content
     margin-bottom 114px
   .cta-left .cta-button-container .cta-button
     margin-top 132px
   .form-section
     padding 35px 0 17px
   .form-section .section-header
     margin 0 auto 38px
   // .c-simple-list li
   //   background-size 7px 7px
   //   padding-left 13px
   //   background-position left 3px
   //   font-size 12px
   //   font-size 1.2rem
   // .c-simple-list li span
   //   font-size 10px
   //   font-size 1rem
   .c-simple-list li:not(:last-child)
     margin-bottom 17px
   .compare-section .section-header
     margin-bottom 36px
     width 100%
     padding 0
   .compare__table-header h3
     font-size 11px
     font-size 1.1rem
     margin-bottom 0
   .compare__table-header h3 span
     font-size 14px
     font-size 1.4rem
   .compare__table-header
     padding 14px 20px 8px
   .none, .check-gray, .check-green
     background-size 10px 10px
   .compare__table-mobile .part-one .attr-col ul, .compare__table-mobile .part-one .ft-body ul
     padding-bottom 28px
   .round-button
     line-height 50px
     border-radius 50px
     margin-top 30px
   .round-button a
     font-size 10px
     font-size 1rem
   .testimonials-section .container
     padding 31px 0 25px
   .loan-section .container
     padding 35px 0 17px
   .features
     padding 0 20px
   .feature__icon img
     width 39px
     height 35px
   .feature__text span
     font-size 10px
     font-size 1rem
   .footer__header
     font-size 10px
     font-size 1rem
   .footer__item a
     font-size 12px
     font-size 1.2rem
   .small-button
     font-size 10px
     font-size 1rem
   .article__title span
     font-size 10px
     font-size 1rem
   .slide__image img
     border 5px solid #eaeaea
   article h1
     font-size 14px
     font-size 1.4rem
   .text-block-img-rigth p
     font-size 10px
     font-size 1rem
   .text-block-img-rigth p span
     font-size 10px
     font-size 1rem
   .article__divider
     margin 20px 0
   article .round-button
     margin-top 20px
   .principles
     padding 25px 12px
   blockquote
     background-size 62px 44px
     font-size 12px
     font-size 1.2rem

   blockquote span
     font-size 10px
     font-size 1rem
   // h3
   //   font-size 10px
   //   font-size 1rem
   // article ul, .c-article__list
   //   font-size 10px
   //   font-size 1rem
   // article ul li, .c-article__list li
   //   background-size 3px 3px
   //   background-position 0 4px
   //   padding-left 8px
   .article__cta
     font-size 12px
     font-size 1.2rem
     padding 8px 8px 3px 8px
     padding-left 8px
   .c-banner__icon
     width 79px
     height 19px
   .c-twitter-feed__header
     font-size 10px
     font-size 1rem
   .blog__item
     display block
   .blog__img
     width 100%
     display block
     float none
     text-align center
   .blog__img img
     float none
     display inline-block
     margin 0
   article img
     border 5px solid #eaeaea
   article h2
     font-size 18px
     font-size 1.8rem
   article h2+span
     font-size 10px
     font-size 1rem

   .main-nav li .inner-menu i
     width 28px
     height 28px

   // .underlined-header
   //   font-size 14px
   //   font-size 1.4rem
   .full-form-info .c-article__list__header
     font-size 12px
     font-size 1.2rem
   .article__title h1
     font-size 18px
     font-size 1.8rem
     margin-bottom 12px
   form.c-full-form
     margin-top 25px
   .types__item__icon img
     width 33px
     height 31px
   .types__item:nth-child(4) .types__item__icon img
     width 36px
     height 25px
   .types__item:nth-child(5) .types__item__icon img,
   .types__item:nth-child(6) .types__item__icon img
     width 31px
     height 31px
   html[data-platform=MacIntel] .list-more:after
     margin-top 0
   // .links-container li
   //   padding 0 0 7px 8px
   .c-faq-list ul ul li
     background-size 3px 3px
     padding-left 8px
   .c-faq-list__inner
     padding 0
