.c-banner
	width 100%
	max-width 320px
	background #f6f6f6
	padding 24px
	border-top 4px solid #F77B00
	text-align center
	margin-bottom 33px
	margin-top 116px
	p
		margin-bottom 22px

.c-banner__icon
	display block
	margin 27px auto
	width 159px
	height 37px
	background url('../images/icons/fast-icon.png')
	background-size cover

.c-twitter-feed
	width 100%
	max-width 320px
	background #f6f6f6
	border-top-left-radius 5px
	border-top-right-radius 5px
	.article__divider
		margin 26px 0 12px

.c-twitter-feed__header
	border-top-left-radius 5px
	border-top-right-radius 5px
	border-bottom 4px solid #ee7300
	padding 20px 20px 15px
	background #ee7300
	color #fff
	font-family 'Montserrat'
	font-size 15px
	font-size 1.5rem
	text-transform uppercase
	font-weight 700
	position relative
	&:before
		content ""
		width 0
		height 0
		border-style solid
		border-width 8.5px 0 8.5px 10px
		border-color transparent transparent transparent #fff
		position absolute
		left -3px
		top 50%
		margin-top -8px
	&:after
		content ''
		width 0
		height 0
		border-style solid
		border-width 8.5px 10px 8.5px 0
		border-color transparent #fff transparent transparent
		position absolute
		right -3px
		top 50%
		margin-top -8px

.c-twitter-feed__content
	padding 30px 24px 15px

.c-twitter-feed__item:not(:last-child)
	margin-bottom 20px

.item-header
	clearfix()

.item-ava
	float left
	margin-right 16px

.item-author
	float left
	font-family 'Montserrat'
	font-weight 700
	font-size 12px
	font-size 1.2rem
	span
		display block
		font-family "HelveticaNeueLT Std Lt"

.item-time
	font-family 'Montserrat'
	font-size 11px
	font-size 1.1rem
	float right

.item-content
	font-size 14px
	font-size 1.4rem

.c-twitter-feed__follow
	font-size 14px
	font-size 1.4rem
	height 32px
	line-height 32px
	a
		color #909090

.twitter-icon
	display inline-block
	float left
	width 32px
	height 32px
	background url('../images/icons/twitter-icon.png')
	background-size cover
	margin-right 14px
