form.c-full-form
   width 100%
   margin-top 50px
   background-color #f6f6f6
   border-radius 3px
   padding 30px 0
   border-top 12px solid #F77B00
   position relative
   margin-bottom 128px
   &:after
       content ""
       triangle 'down' 15px #F77B00
       position absolute
       top -8px
       left 11px
   .form-row
       position relative
       margin-bottom 20px
       padding 0 30px
   .radio-container
       clearfix()
       label
           display inline-block
           position relative
           left auto
           top auto
           transform none
           background url('../images/checkbox.png') left top no-repeat
           padding-left 26px
           cursor pointer
       label.clean
           background none
           padding-left 0
           cursor auto
           margin-bottom 20px
           top -30px
       label.top
           top -30px
           margin-right 20px
           margin-left 9px
       input[type="radio"]
           display none
           &:checked + label
               background url('../images/checkbox-checked.png') left top no-repeat
       #military + label
           float left
       #responders + label
           float right
 
 
   .jq-selectbox__select
       font-size 23px
       font-size 2.3rem
       padding 25px 72px 0 10px
       &.required-input
           border-bottom 1px solid red
 
   .jq-selectbox__dropdown
       font-size 23px
       font-size 2.3rem
 
   .checkboxes-container
       label
           position relative
           top auto
           transform none
           display block
           margin-bottom 5px
           font-size 13px
           font-size 1.3rem
       input[type="checkbox"]
           display none
           &:checked + label
               background url("../images/checkbox-field-checked.png") left top no-repeat
       label
           background url('../images/checkbox-field.png') left top no-repeat
           padding-left 29px
       a
           color #f77b00
           text-decoration underline
           font-size 13px
           font-size 1.3rem
 
   label
       position absolute
       left 0
       top 50%
       transform translateY(-50%)
       span
           color #F77B00
   input
       display block
       width 100%
       outline none
       border none
       border-bottom 1px solid #CFD2D3
       background-color #f6f6f6
       padding 15px 0
   .big-button
       display block
       margin 0 auto
       width calc(100% - 60px)
       max-width 286px
       text-align center
       background-color #F77B00
       border-radius 4px
       border none
       color #FFF
       font-family "Montserrat"
       font-size 13px
       font-weight 700
       text-transform uppercase
       padding 13px 0
       position relative
       margin-top 31px
       &:before
           content ""
           width 0
           height 0
           border-style solid
           border-width 8.5px 0 8.5px 10px
           border-color transparent transparent transparent #f6f6f6
           position absolute
           left 0
           top 50%
           margin-top -8px
       &:after
           content ''
           width 0
           height 0
           border-style solid
           border-width 8.5px 10px 8.5px 0
           border-color transparent #f6f6f6 transparent transparent
           position absolute
           right 0
           top 50%
           margin-top -8px
 
   .disclaimer
       float none
       width 100%
       margin-bottom 0
       position absolute
       bottom 20px
 
   .quick-form-success
       position absolute
       width 100%
       height 100%
       background #f6f6f6
       z-index 999
       padding-left 30px
       display none
       .success__text
           position relative
           top 50%
           transform translateY(-50%)
       span
           font-family 'Montserrat'
           font-size 14px
           font-size 1.4rem
           text-transform uppercase
           color #4C5557
 
   .submit
       width 222px
       margin 0 auto
       background #f77b00 url('../images/submit-sep.png') 128px top no-repeat
       padding 6px
       border-radius 3px
       clearfix()
       input
           float left
           display inline-block
           width auto
           border none
           background #fff
           padding 10px 7px 4px
       input[type="text"]
           border-radius 3px
           width 108px
           font-size 13px
           font-size 1.3rem
       /#submit-button
           width 80px
           font-size 13px
           font-size 1.3rem
           font-family 'Montserrat'
           font-weight 700
           text-transform uppercase
           color #fff
           background #F77B00
           text-align center
           float right
           padding 8px 7px 4px
           border none
           display inline-block
           cursor pointer
       /.disabled #submit-button
           cursor default
 
   .textarea .jq-selectbox__select-text
       text-align left
 
   #summ-styler.jq-selectbox
       width 47.6%
       float left
 
   .form-row
       clearfix()
       padding 0 15px
 
   .form-header
       padding-left 15px
       & + p.small-text
           padding-left 15px
 
   .input-container
       width 47.6%
       float left
       position relative
       &:nth-child(even)
           float right
 
       .jq-selectbox
           height 34px
           background #e7e7e7
 
       .date-container .jq-selectbox
           // width 30%
           // float left
           &:not(:last-child)
               margin-right 15px
 
       .jq-selectbox__select
           font-size 14px
           font-size 1.4rem
           color #909090
           height 34px
           padding 11px 70px 0 10px
           text-shadow none
 
       // .jq-selectbox__select-text span,
       // .jq-selectbox__dropdown li span
       //     display none
 
       .jq-selectbox__dropdown
           font-size 14px
           font-size 1.4rem
           color #909090
 
       .jq-selectbox__trigger
           width 35px
           height 34px
           background #D2D2D2
 
       .jq-selectbox__trigger-arrow
           width 9px
           height 12px
           background url('../images/icons/tip-icon.png')
 
.full-form__info
   display block
   width 50%
   padding-top 20px
   font-size 13px
   font-size 1.3rem
   float right
 
#duty-styler.jq-selectbox,
#branch-styler.jq-selectbox,
#rank-styler.jq-selectbox,
#years-styler.jq-selectbox,
#location-styler.jq-selectbox
       width 100%
 
.c-full-form
   #duty-styler .jq-selectbox__select-text,
   #branch-styler .jq-selectbox__select-text,
   #rank-styler .jq-selectbox__select-text,
   #years-styler .jq-selectbox__select-text,
   #location-styler .jq-selectbox__select-text
       text-align left
 
.full-form-info
   border 1px solid #DCDCDC
   -webkit-border-radius 5px
   border-radius 5px
   padding 20px 9px
   margin-top 239px
 
   .c-article__list
       padding 0
 
       span
           display block
           margin-top 5px
 
   .c-article__list__header
       font-family 'Montserrat'
       font-weight 700
        font-size 13px
        font-size 1.3rem
        text-transform uppercase
        color #4C5557
        display inline-block
        padding-left 19px
        margin-bottom 20px
 
i.help
   display inline-block
   width 13px
   height 13px
   background url('../images/icons/help-icon.png')
   background-size cover
   cursor pointer
   margin-left 9px
   position relative
   top 2px
 
.verify
   border-top 1px solid #E7E7E7
   border-bottom 1px solid #E7E7E7
   padding 27px 0
   clearfix()
   font-size 13px
   font-size 1.3rem
   img
       display inline-block
       float left
       margin-right 45px
 
.c-full-form__back
   color #f77b00
   text-decoration underline
   position absolute
   left 15px
   bottom -34px
   font-size 13px
   font-size 1.3rem
 
fieldset
   width 100%
   position absolute
   top 30px
   left 0
   border none
   &:first-child
       z-index 2
   &:not(:first-of-type)
       opacity 0
       z-index 1
 
.jq-file
   width 100%
   background #e7e7e7
 
.jq-file__name
   font-size 14px
   font-size 1.4rem
   font-style italic
   padding 11px 70px 4px 10px
 
.jq-file__browse
   width 49px
   height 34px
   background #D2D2D2 url('../images/icons/upload-icon.png') center center no-repeat
   position absolute
   top 0
   right 0
   text-indent -9999px
 
.responders-checked
   display none
   margin-bottom 124px
   input[type="text"]
       border none
       height 34px
       padding 11px 70px 0 10px
       background #DCDCDC
       color #909090
 
.card-receipts
   position relative
   top -20px
   display none
   &:before
       content ''
       width 35px
       height 41px
       background url('../images/card-receipts-bg.png')
       position: absolute
       left 0
       top -7px
   input[type="text"]
       border none
       height 34px
       padding 11px 70px 0 10px
       background #e7e7e7
       color #909090
       font-style italic
       padding-left 45px
       top -20px
 
form.c-full-form input.required-input
   border-bottom 1px solid red
 
.date-container
   clearfix()
 
#birth-styler
   width 45%
   float left
   margin-right 10px
   
#date-styler
   width 24%
   float left
   margin-right 10px

#year-styler
   width 24%
   float left
   
form.c-full-form .input-container #date-styler .jq-selectbox__select
	padding 11px 60px 0 10px 
 
.disabled
   opacity 0.5
 
.verify-button
   display inline-block
   width 186px
   height 52px
   line-height 52px
   float left
   color #FFF
   font-family 'Montserrat'
   font-weight 700
   font-size 13px
   font-size 1.3rem
   text-transform uppercase
   text-align center
   background #dcdcdc
   margin-right 45px
   border none
 
 
// RESPONSIVE STYLES
 
@media screen and (max-width: 1024px)
   fieldset
       position relative
       &:first-child
       z-index auto
       &:not(:first-of-type)
           opacity 1
           z-index auto
 
   form.c-full-form .big-button.js-next, .c-full-form__back
       display none
 
   .responders-checked
       margin-bottom 0
 
   form.c-full-form .disclaimer
       position relative
       bottom -10px
 
 
@media screen and (max-width: 900px)
   form.c-full-form .radio-container label.clean
       display block
       
@media screen and (max-width: 670px)
   form.c-full-form #summ-styler .jq-selectbox__select
     font-size 20px
     font-size 2rem