.main-content
	width 66%
	padding-left 24px
	margin-top 98px
	float left

article
	// padding-bottom 123px
	&:not(:last-child)
		margin-bottom 30px
	&:last-child
		padding-bottom 114px
	h1
		border-bottom 4px solid #F77B00
		padding-bottom 17px
	a
		color #F77B00
		border-bottom 1px solid rgba(247, 123, 0, .5)
	img
		max-width 100%
		float left
		border 10px solid #eaeaea
		margin-right 20px
		margin-bottom 17px
	h2
		font-size 22px
		font-size 2.2rem
		text-align left
		margin-bottom 20px
		margin-bottom 2rem
		& + span
			display block
			font-family 'Montserrat'
			font-size 12px
			font-size 1.2rem
			text-transform uppercase
			font-weight 700
			margin-top -10px
			margin-top -1rem
			margin-bottom 10px
			margin-bottom 1rem
	h3
		margin-bottom 7px
	p
		line-height 1.75
		&:not(:last-child)
			margin-bottom 12px

	ul
		padding-left 27px
		margin-bottom 30px
		margin-top 31px
		li
			background url('../images/article-list-bullet.png') 0 5px no-repeat
			padding-left 19px
			&:not(:last-child)
				margin-bottom 6px

	.round-button
		margin-top 49px

	.article__header
		position relative
		margin-bottom 20px
		img
			width 100%
			display block
			border 10px solid #eaeaea
			margin 0
			float none
		.caption
			width calc(100% - 20px )
			background rgba(0, 0, 0, .9)
			border-left 5px solid #F77B00
			padding 18px 20px
			position absolute
			left 10px
			bottom 0
			&:before
				content ''
				width 0
				height 0
				border-style solid
				border-width 8.5px 0 8.5px 10px
				border-color transparent transparent transparent #F77B00
				position absolute
				left -5px
				top 50%
				margin-top -8px

.breadcrumbs
	a
		font-size 11px
		font-size 1.1rem
		border-bottom none
		position relative
		color #F77B00
		&:not(:last-child)
			margin-right 10px
		&:not(:last-child):after
			content "»"
			position absolute
			right -7px
			top 50%
			transform translateY(-51%)
		&.current
			color #909090

.article__title
	padding-top 17px
	span
		font-size 13px
		font-size 1.3rem
		font-family 'Montserrat'
		font-weight 700
		text-transform uppercase
	h1
		margin-top 9px
		margin-bottom 23px
		padding-bottom 10px
	p
		line-height 1.65

blockquote
	padding 10px 62px 24px 41px
	margin-bottom 10px
	background url('../images/bloquote-bg.png') 34px top no-repeat
	font-family 'Georgia'
	font-size 20px
	font-size 2rem
	color #B4B4B4
	margin-top 30px
	span
		font-size 17px
		font-size 1.7rem
		display block
		text-align right
		padding-right 20px

.c-article__list
	padding-left 19px
	margin-bottom 30px
	li
		background url('../images/article-list-bullet.png') 0 5px no-repeat
		padding-left 19px
		&:not(:last-child)
			margin-bottom 19px

.article__cta
	background #F8F8F8
	text-align center
	padding 16px 0 3px
	margin 55px 0 0 0

	span
		text-transform uppercase
		color #F77B00


	.round-button
		margin-top 0

aside
	width 30%
	float right
	margin-top 100px
	padding-right 24px
	margin-bottom 70px
	form.c-quick-form
		width 100%
		max-width 320px
		padding 22px 0
		&:after
			left 9px
		.big-button
			margin 22px auto 0
	.form-header
		padding-left 14px
	.disclaimer
		width 100%
		margin-bottom 40px
		margin-top 12px

.form-info
	padding 0 30px
	font-size 13px
	font-size 1.3rem
	margin-top 37px

.disclaimer
	margin-bottom 50px

.c-aside-compare
	width 100%
	max-width 320px
	img
		width 100%
		border 8px solid #f8f8f8
	table
		font-size 13px
		font-size 1.3rem
		width 100%
		margin-top 12px
	thead
		background #F8F8F8
		text-align left
		th
			height 40px
	i
		display inline-block
		width 13px
		height 11px
		background-size cover
	td:not(:first-child)
		text-align center
	tr:not(:last-child) td
		border-bottom 1px solid #E3E3E3
	td
		padding 13px 0 3px
		vertical-align middle
	th:first-child, td:first-child
		width 60%
		padding-left 11px



// RESPONSIVE STYLES

@media screen and (max-width: 900px)

	.main-content
		width 100%
		padding 0

	aside
		float left
		width 100%
		// max-width 320px
		padding 0
		margin-top 30px

	.c-aside-compare
		margin 0 auto

	.full-form-info, .c-banner
		margin-top 0

	form.c-full-form
		margin-bottom 0

	.c-banner
		width 100%
		margin 0 auto 20px auto

	.c-twitter-feed
		width 100%
		margin 0 auto

	aside form.c-quick-form
		margin 0 auto
		float none

	.disclaimer
		width 100%
		display block

	form.c-quick-form .captcha input, form.c-full-form .captcha input
		float left
		margin-left 20px

	article:last-child
		padding-bottom 0

	// .round-button
	// 	margin-top 0

@media screen and (max-width: 650px)
	// aside form.c-quick-form
	// 	float right

@media screen and (max-width: 600px)
	form.c-full-form .input-container
		width 100%
		margin-bottom 20px

	form.c-full-form .textarea .input-container:not(:last-child)
		margin-bottom 40px

	form.c-full-form #summ-styler.jq-selectbox
		width 100%

	form.c-full-form .radio-container label.clean
		display block
		margin-bottom 0

	form.c-full-form .jq-selectbox
		width 100%

	.verify
		text-align center
		p
			width 100%
			clear both
		.verify-button
			float none
			margin-right 0
			margin-bottom 20px

	.full-form__info
		width 100%
		
@media screen and (max-width: 580px)
	article img, img.right, img.left
		float none
		display block
		margin 0 auto 20px
	article h2, article h2+span
		text-align center
		
@media screen and (max-width: 500px)
	article .article__header .caption
		padding 10px

@media screen and (max-width: 460px)
	article .article__header .caption
		font-size 14px
		font-size 1.4rem

@media screen and (max-width: 400px)
	article .article__header .caption
		font-size 10px
		font-size 1rem
		
@media screen and (max-width: 375px)
	.main-content
		margin-top 60px
