.text-block-img-rigth
	clearfix()
	padding 35px 0
	border-bottom 1px solid #E3E3E3
	p
		width 50%
		float left
		font-family 'Montserrat'
		font-weight 700
		text-transform uppercase
		font-size 14px
		font-size 1.4rem
		span
			display block
			margin-top 10px
			font-size 16px
			font-size 1.6rem
			font-family "HelveticaNeueLT Std Lt"
			font-weight 300
			text-transform none
	img
		float right
		margin-right 10%
		border none

.text-block-img-left
	clearfix()
	padding 35px 0
	img
		float left
		margin-left 10%
		border none

	p
		width 50%
		float right
		font-family 'Montserrat'
		font-weight 700
		text-transform uppercase
		font-size 14px
		font-size 1.4rem
		padding 35px 0
		span
			display block
			margin-top 10px
			font-size 16px
			font-size 1.6rem
			font-family "HelveticaNeueLT Std Lt"
			font-weight 300
			text-transform none

.principles
	background #f8f8f8
	padding 50px 24px
	h2
		width 100%

.article__divider
	height 1px
	border-top 1px solid #E3E3E3
	margin 45px 0

@media screen and (max-width: 565px)
	.text-block-img-rigth img
		margin-right 0
		width 40%
		
	.text-block-img-left img
		margin-left 0
		width 40%
		
	.text-block-img-left p
		padding 0