.types
	display flex
	justify-content space-around
	flex-wrap wrap
	.list-more
		bottom 12px
		left 50%
		transform translateX(-50%)
		border-bottom none
		position absolute

.types__row
	display flex
	justify-content space-around

.types__item
	// display flex
	text-align center
	width 42%
	border 1px solid #E1E1E1
	border-radius 5px
	padding 20px 20px 40px
	position relative
	margin-bottom 44px
	// &:nth-child(2)
	// 	float right


.types__item__icon
	margin-bottom 28px
	img
		border none
		float none
		margin 0 auto

.types__item__text
	display block
	span
		display inline-block
		color #4C5557
		font-family 'Montserrat'
		font-size 13px
		font-size 1.3rem
		font-weight 700
		text-transform uppercase
		margin-bottom 15px

article
	.features
		padding 0 50px
	.feature
		width 38%
		padding 20px
		.feature__icon
			margin-bottom 20px
		.feature__text
			span
				margin-bottom 15px
		img
			border none
			float none
			margin 0
		.list-more
			bottom 12px
			left 50%
			transform translateX(-50%)
			border-bottom none
	sup
		font-size 10px
		font-size 1rem
		
	form.c-quick-form input.required-input
		border-bottom 1px solid red



// RESPONSIVE STYLES

@media screen and (max-width: 600px)
	.types__item
		width 100%
