.c-quick-form, .c-full-form
	.jq-selectbox
		width 100%
		vertical-align middle
		cursor pointer
		margin-bottom 13px

	.jq-selectbox__select
		height 72px
		padding 15px 72px 0 10px
		background-color #E1E1E1
		font-size 36px
		font-size 3.6rem

	// .jq-selectbox__select:hover
	// 	background-color #E6E6E6

	// .jq-selectbox__select:active
	// 	background #F5F5F5
	// 	box-shadow inset 1px 1px 3px #DDD

	// .jq-selectbox.focused .jq-selectbox__select
	// 	border 1px solid #5794BF

	.jq-selectbox.disabled .jq-selectbox__select
		border-color #CCC
		background #F5F5F5
		box-shadow none
		color #888

	.jq-selectbox__select-text
		display block
		width 100% !important
		text-align center
		span
			font-size 18px
			font-size 1.8rem
			position relative
			top -15px

	.jq-selectbox .placeholder
		color #909090
		span
			font-size 18px
			font-size 1.8rem
			position relative
			top -15px

	.jq-selectbox__trigger
		position: absolute
		top 0
		right 0
		width 72px
		height 100%
		background-color #D9D9D9

	.jq-selectbox__trigger-arrow
		position absolute
		top 50%
		right 50%
		transform translate(50%, -50%)
		width 22px
		height 14px
		background url('../images/dropdown-arrow.png')


	.jq-selectbox:hover .jq-selectbox__trigger-arrow
		opacity 1

	.jq-selectbox.disabled .jq-selectbox__trigger-arrow
		opacity: 0.3

	.jq-selectbox__dropdown
		top 100% !important
		width 100%
		-moz-box-sizing border-box
		box-sizing border-box
		margin 0
		padding 0
		background #E1E1E1
		color #909090
		font-size 36px
		font-size 3.6rem
		li span
			font-size 18px
			font-size 1.8rem
			position relative
			top -15px

	.jq-selectbox__search
		margin 5px

	.jq-selectbox__search input
		-moz-box-sizing border-box
		box-sizing border-box
		width 100%
		margin 0
		padding 5px 27px 6px 8px
		outline none
		border 1px solid #CCC
		border-radius 3px
		box-shadow inset 1px 1px #F1F1F1
		color #333
		-webkit-appearance textfield

	.jq-selectbox__search input::-webkit-search-cancel-button,
	.jq-selectbox__search input::-webkit-search-decoration
		-webkit-appearance none

	.jq-selectbox__not-found
		margin 5px
		padding 5px 8px 6px
		background #F0F0F0
		font-size 13px

	.jq-selectbox li
		min-height 18px
		padding 5px 10px 6px
		-webkit-user-select none
		   -moz-user-select none
		    -ms-user-select none
		        user-select none
		     -o-user-select none
		white-space nowrap
		background #F1F1F1

	.jq-selectbox li.selected
		background-color #D9D9D9

	.jq-selectbox li:hover
		background-color #D9D9D9

	.jq-selectbox li.disabled
		color #AAA

	.jq-selectbox li.disabled:hover
		background none

	.jq-selectbox li.optgroup
		font-weight bold

	.jq-selectbox li.optgroup:hover
		background none
		color #231F20
		cursor default

	.jq-selectbox li.option
		padding-left 25px

	input[type="email"].styler,
	input[type="number"].styler,
	input[type="password"].styler,
	input[type="search"].styler,
	input[type="tel"].styler,
	input[type="text"].styler,
	input[type="url"].styler,
	textarea.styler
		padding 7px 9px
		border 1px solid #CCC
		border-bottom-color #B3B3B3
		border-radius 4px
		box-shadow inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,0.1)
		color #333
		font 14px Arial, sans-serif

	input[type="search"].styler
		-webkit-appearance none

	textarea.styler
		overflow auto

	input[type="email"].styler:hover,
	input[type="number"].styler:hover,
	input[type="password"].styler:hover,
	input[type="search"].styler:hover,
	input[type="tel"].styler:hover,
	input[type="text"].styler:hover,
	input[type="url"].styler:hover,
	textarea.styler:hover
		border-color #B3B3B3

	input[type="email"].styler:focus,
	input[type="number"].styler:focus,
	input[type="password"].styler:focus,
	input[type="search"].styler:focus,
	input[type="tel"].styler:focus,
	input[type="text"].styler:focus,
	input[type="url"].styler:focus,
	textarea.styler:focus
		border-color #CCC
		border-top-color #B3B3B3
		box-shadow inset 0 1px 2px rgba(0,0,0,0.1)
		outline none

	button.styler,
	input[type="button"].styler,
	input[type="submit"].styler,
	input[type="reset"].styler
		overflow visible
		padding 7px 11px
		outline none
		border 1px solid #CCC
		border-bottom-color #B3B3B3
		border-radius 4px
		box-shadow inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,0.1)
		color #333
		font 14px Arial, sans-serif
		cursor pointer

	button.styler::-moz-focus-inner,
	input[type="button"].styler::-moz-focus-inner,
	input[type="submit"].styler::-moz-focus-inner,
	input[type="reset"].styler::-moz-focus-inner
		padding 0
		border 0

	button.styler:after
		content ''

	button.styler:not([disabled]):hover,
	input[type="button"].styler:not([disabled]):hover,
	input[type="submit"].styler:not([disabled]):hover,
	input[type="reset"].styler:hover
		background-color #E6E6E6
		background-position 0 -10px

	button.styler:not([disabled]):active,
	input[type="button"].styler:not([disabled]):active,
	input[type="submit"].styler:not([disabled]):active,
	input[type="reset"].styler:active
		background #F5F5F5
		box-shadow inset 1px 1px 3px #DDD

	button.styler[disabled],
	input[type="button"].styler[disabled],
	input[type="submit"].styler[disabled]
		border-color #CCC
		background #F5F5F5
		box-shadow none
		color #888

.check
	.jq-selectbox
		vertical-align middle
		cursor pointer
		width 100%

	.jq-selectbox__select
		height 30px
		min-width 164px
		padding 8px 0 0 17px
		font-family 'Montserrat'
		font-size 13px
		font-size 1.3rem
		color #242A2D
		background rgba(255, 255, 255, .9)

	// .jq-selectbox__select:hover
	// 	background-color #E6E6E6

	// .jq-selectbox__select:active
	// 	background #F5F5F5
	// 	box-shadow inset 1px 1px 3px #DDD

	// .jq-selectbox.focused .jq-selectbox__select
	// 	border 1px solid #5794BF

	.jq-selectbox.disabled .jq-selectbox__select
		border-color #CCC
		background #F5F5F5
		box-shadow none
		color #888

	.jq-selectbox__select-text
		display block
		width 100% !important
		text-align left
		span
			font-size 13px
			font-size 1.3rem
			position relative
			top -15px

	.jq-selectbox .placeholder
		color #242a2d
		span
			font-family 'Montserrat'
			font-size 13px
			font-size 1.3rem
			position relative
			top -15px

	.jq-selectbox__trigger
		position: absolute
		top 0
		right 0
		width 35px
		height 100%
		background-color rgba(255, 255, 255, .9)

	.jq-selectbox__trigger-arrow
		position absolute
		top 50%
		right 50%
		transform translate(50%, -50%)
		width 14px
		height 8px
		background url('../images/top-menu-arrow.png')


	.jq-selectbox:hover .jq-selectbox__trigger-arrow
		opacity 1

	.jq-selectbox.disabled .jq-selectbox__trigger-arrow
		opacity: 0.3

	.jq-selectbox__dropdown
		bottom 100% !important
		width 100%
		-moz-box-sizing border-box
		box-sizing border-box
		margin 0
		padding 0
		background #fff
		color #242A2D
		font-family 'Montserrat'
		font-size 13px
		font-size 1.3rem
		text-align left
		li span
			font-size 13px
			font-size 1.3rem
			position relative
			top -15px

	.jq-selectbox__search
		margin 5px

	.jq-selectbox__search input
		-moz-box-sizing border-box
		box-sizing border-box
		width 100%
		margin 0
		padding 5px 27px 6px 8px
		outline none
		border 1px solid #CCC
		border-radius 3px
		box-shadow inset 1px 1px #F1F1F1
		color #333
		-webkit-appearance textfield

	.jq-selectbox__search input::-webkit-search-cancel-button,
	.jq-selectbox__search input::-webkit-search-decoration
		-webkit-appearance none

	.jq-selectbox__not-found
		margin 5px
		padding 5px 8px 6px
		background #F0F0F0
		font-size 13px

	.jq-selectbox li
		min-height 18px
		padding 5px 10px 6px
		-webkit-user-select none
		   -moz-user-select none
		    -ms-user-select none
		        user-select none
		     -o-user-select none

	.jq-selectbox li.selected
		background-color #D9D9D9

	.jq-selectbox li:hover
		background-color #D9D9D9

	.jq-selectbox li.disabled
		color #AAA

	.jq-selectbox li.disabled:hover
		background none

	.jq-selectbox li.optgroup
		font-weight bold

	.jq-selectbox li.optgroup:hover
		background none
		color #231F20
		cursor default

	.jq-selectbox li.option
		padding-left 25px

	input[type="email"].styler,
	input[type="number"].styler,
	input[type="password"].styler,
	input[type="search"].styler,
	input[type="tel"].styler,
	input[type="text"].styler,
	input[type="url"].styler,
	textarea.styler
		padding 7px 9px
		border 1px solid #CCC
		border-bottom-color #B3B3B3
		border-radius 4px
		box-shadow inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,0.1)
		color #333
		font 14px Arial, sans-serif

	input[type="search"].styler
		-webkit-appearance none

	textarea.styler
		overflow auto

	input[type="email"].styler:hover,
	input[type="number"].styler:hover,
	input[type="password"].styler:hover,
	input[type="search"].styler:hover,
	input[type="tel"].styler:hover,
	input[type="text"].styler:hover,
	input[type="url"].styler:hover,
	textarea.styler:hover
		border-color #B3B3B3

	input[type="email"].styler:focus,
	input[type="number"].styler:focus,
	input[type="password"].styler:focus,
	input[type="search"].styler:focus,
	input[type="tel"].styler:focus,
	input[type="text"].styler:focus,
	input[type="url"].styler:focus,
	textarea.styler:focus
		border-color #CCC
		border-top-color #B3B3B3
		box-shadow inset 0 1px 2px rgba(0,0,0,0.1)
		outline none

	button.styler,
	input[type="button"].styler,
	input[type="submit"].styler,
	input[type="reset"].styler
		overflow visible
		padding 7px 11px
		outline none
		border 1px solid #CCC
		border-bottom-color #B3B3B3
		border-radius 4px
		box-shadow inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,0.1)
		color #333
		font 14px Arial, sans-serif
		cursor pointer

	button.styler::-moz-focus-inner,
	input[type="button"].styler::-moz-focus-inner,
	input[type="submit"].styler::-moz-focus-inner,
	input[type="reset"].styler::-moz-focus-inner
		padding 0
		border 0

	button.styler:after
		content ''

	button.styler:not([disabled]):hover,
	input[type="button"].styler:not([disabled]):hover,
	input[type="submit"].styler:not([disabled]):hover,
	input[type="reset"].styler:hover
		background-color #E6E6E6
		background-position 0 -10px

	button.styler:not([disabled]):active,
	input[type="button"].styler:not([disabled]):active,
	input[type="submit"].styler:not([disabled]):active,
	input[type="reset"].styler:active
		background #F5F5F5
		box-shadow inset 1px 1px 3px #DDD

	button.styler[disabled],
	input[type="button"].styler[disabled],
	input[type="submit"].styler[disabled]
		border-color #CCC
		background #F5F5F5
		box-shadow none
		color #888

