// Devide `_val` by 2.
_d(_val)
	(_val / 2)

sprite2Width($sprite)
	width _d($sprite[4])

sprite2Height($sprite)
	height _d($sprite[5])

sprite2Image($sprite)
	background-image url($sprite[8])
	background-repeat no-repeat

sprite2Position($sprite)
	background-position _d($sprite[2]) _d($sprite[3]);

sprite2Size($sprite)
	background-size _d($sprite[6]) _d($sprite[7])

// All sprite image properties for Retina.
sprite2($sprite)
	sprite2Width($sprite)
	sprite2Height($sprite)
	sprite2Image($sprite)
	sprite2Position($sprite)
	sprite2Size($sprite)

// Clear the float on any element.
clearfix()
	&:after
		display table
		clear both
		content ''

// Fix no working `-webkit-text-size-adjust: 100%;` in Android.
fix-text-size-adjust()
	background-image linear-gradient(transparent, transparent)

// Mixin: Triangle
//
// One of my favorites. Makes a little css triangle for you. Pass it a direction
// (up, down, left, right), size (in pixels), and a color.
//
// ex. triangle()
// ex. triangle: 'down' 15px blue

triangle(direction='up', size=10px, color=#000)
	width 0
	height 0
	if direction == 'up'
		border-left size solid transparent
		border-right size solid transparent
		border-bottom size solid color
	else if direction == 'down'
		border-left size solid transparent
		border-right size solid transparent
		border-top size solid color
	else if direction == 'left'
		border-top size solid transparent
		border-bottom size solid transparent
		border-right size solid color
	else if direction == 'right'
		border-top size solid transparent
		border-bottom size solid transparent
		border-left size solid color
