extends ../layouts/default

block head
	- pageTitle = 'First Responders';

block content
	.container
		.main-content
			article
				.breadcrumbs
					a(href="/") Home
					a.current(href="about.html") About us

				.article__title
					span about us
					h1 We are here to serve you

				.article__text
					img(src="assets/images/about.jpg")

					h2 A historical look at how Memorial Day came to be

					p Veterans Banker Loans has been offering personal loans to active duty military personnel with fast, efficient and
						| friendly service. We specialize in military lending; whether you need money for car repairs or you have a medical
						| emergency, Just Military Loans has a loan available to fit

					h3 Here are some of the benefits of doing business with VEterans Banker

					p Veterans Banker has been offering personal loans to active duty military personnel with fast, efficient and friendly
						| service. We specialize in military lending; whether you need money for car repairs or you have a medical emergency,
						| Just Military Loans has a loan available to fit.

					ul.c-simple-list
						li
							span more affordable
							| We have an “A” rating from Better Business Bureau and we are licensed in the state of Delaware.
						li
							span Fast Application and Funding
							| We provide emergency, short-term installment loans to help military personnel overcome financial challenges
							| like costs associated with relocation, deployments, or even covering childcare costs.
						li
							span Automatic Payment
							| We treat you with the respect you deserve by offering you our 15-day guarantee where you can cancel at any
							| time with no fees or penalties.
						li
							span more affordable
							| Current and former customers overwhelmingly approve of the job and the help we have provided them.

				.article__divider

				.round-button
					a(href="#") apply now


		aside
			.c-banner
				h2 Get Started Today!

				i.c-banner__icon

				span.c-banner__slogan A fast, simple bridge loan process

				p In order to get the full experience you need to sign up. It takes only 30 seconds!

				a.simple-button(href="quote.html") quick quote!


			.c-twitter-feed
				.c-twitter-feed__header twitter feed

				.c-twitter-feed__content

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.article__divider

					.c-twitter-feed__follow
						i.twitter-icon
						a(href="#") Follow us on Twitter




