extends ../layouts/default

block head
	- pageTitle = 'Air Force Bridge Loans';

block content
	.container
		.main-content
			article
				.article__header
					img(src="assets/images/ai-force-bridge-loan.jpg")
					.caption If you're an active duty member of the Navy, whether an officer or enlisted, and need a military loan,
						| Veterans Banker Bridnge Loans has the loan for you.

				.breadcrumbs
					a(href="/") Home
					a(href="#") Military Branches
					a.current(href="air-force-loan.html") Air Force Bridge Loans

				.article__title
					span Military Branch
					h1 Air Force Bridge Loans

				.article__text
					p We offer Air Force bridge loans with competitive interest rates and manageable payment schedules to fit all
						| budgets and needs.

					p Formed under the
						a(href="#")  National
						|  Securities Act of 1947, the United States Air Force is the most recent branch of the United States Military to
						| be formed. Currently operating over 5,000 manned aircraft, the USAF lists some of its chief responsibilities
						| as Nuclear Deterrence Operations, Rapid Global Mobility, and Agile Combat Support. If you’re an active duty
						| member of the Air Force, whether an officer or enlisted, and need a military loan, Just Military Loans has the
						| loan for you. We offer Air Force loans with competitive interest rates and manageable payment schedules to fit
						| all budgets and needs.

					p Even if you have bad credit, if you have at least 18 months left in your tour of duty, Just Military Loans may be
						| able to help you. Air Force loans are specially designed to help you take care of your needs. It can be difficult
						| to handle an emergency when you are serving our
						a(href="#")  country
						|  and these loans make it easy to get back on your feet.
						| You can use the Air Force loan to pay off medical debts, for a car repair or to consolidate your debt payments.
						| It is important to find the terms that work the best for your Air Force loan. It is important to carefully manage
						| your money and to create a solid budget to cover your basic needs. However, emergencies do come up and Air Force
						| loans can help you out of a tight situation so you can focus on your job and the service you do for our country.
						| Your Air Force loan is set up with monthly payments that you can afford and make it much easier to manage your
						| bills over the next several months. If you have bad credit, you can still qualify for Air Force loans. The loans
						| are easy to set up and you can qualify quickly to take care of your needs. These loans have helped other military
						| members handle the bumps in the road and give them extra cash when they need it the most. Each loan is designed to
						| help you manage your current financial situation. Just Military Loans offers loans up to $4,500, with an easy,
						| no-hassle repayment process.  Payments are broken up over a 12 month period and there is no penalty for paying
						| your loan off early. A military loan is an excellent solution when you need cash quickly, but need to break the
						| payments up over several months so that you do not ruin the rest of your budget.

					p Whether you’re looking to consolidate debt, need funds for relocating, or need a vehicle repaired, our loans provide
						| flexibility and non-restrictive terms. At Just Military Loans, we understand the unique circumstances of Air
						| Force personnel. Many times, military
						a(href="#")  service
						|  men and women do not have the time to form good credit. In this
						| case, our Air Force loans may still be available to you. To top it off, our approval process is simple and fast,
						| meaning you’ll be able to use your loan quickly.

					blockquote Excellent and professional service. You helped us bring our business to a higher level. Thank you!
						span Elmer Y

					h3 do you qualify?

					p Unlike our competitors and traditional sources of financing that base their lending decisions on credit scores,
						| we look at the business as a whole. Our approvals and offers are based on the business not a three digit
						| credit score. Reliant Funding looks at what you want to achieve and works with you to get there.
						| You may qualify if you meet the following criteria:

					ul
						li In business for at least 12 months.
						li Minimum of $8,000 per month in sales.
						li No open bankruptcies (prior BK is often ok).

					.article__cta In order to find out how much you qualify for
						span  CALL 877-850-0998 NOW.
					.round-button
						a(href="quote.html") apply now


		aside
			form(id="" method="POST" action="" class="c-quick-form")

				.quick-form-success
					.success__text
						span Thank you for your submission
						p We'll be in touch shortly

				span.form-header get a free quick quote

				select.js-summ-select(name="summ" id="summ")
					option(value="$5,000 - $10,000") $5,000
					option(value="$10,000 - $15,000") $10,000
					option(value="$15,000 -$20,000") $15,000
					option(value="$20,000 - $25,000") $20,000
					option(value="$30,000 - $35,000") $30,000
					option(value="$35,000 - $50,000") $35,000
					option(value="$50,000 - $75,000") $50,000
					option(value="$75,000 - $150,000") $75,000
					option(value="$150,000 - $250,000") $150,000
					option(value="More than $250,000") More than $250,000

				.form-row
					label(for="first_name") First name
						span *
					input(type="text" name="first_name" id="first_name")

				.form-row
					label(for="last_name") Last name
						span *
					input(type="text" name="last_name" id="last_name")

				.form-row
					label(for="company") Company
						span *
					input(type="text" name="company" id="company")

				.form-row
					label(for="email") Email
						span *
					input(type="email" name="email" id="email")

				.form-row
					label(for="phone") Phone
						span *
					input(type="text" name="phone" id="phone" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')")

				.form-info To qualify, your business must have more than $100,000 in gross annual revenue, and be in business
					| more than 6 months with no open bankruptcies.


				a.big-button(href="quote.html") Next

			.disclaimer
				span We never share your information

			.c-aside-compare
				img(src="assets/images/aside-compare5.jpg")

				table
					thead
						tr
							th Comparison
							th Veterans
								br
								|Banker
							th Banks
					tbody
						tr
							td Approvals within 24 hours

							td
								i.check-green
							td
								i.none
						tr
							td Funding in as little as 3 days

							td
								i.check-green
							td
								i.none
						tr
							td Renewable source of funds

							td
								i.check-green
							td
								i.none
						tr
							td No personal collateral or assets

							td
								i.check-green
							td
								i.none
						tr
							td Minimal paperwork

							td
								i.check-green
							td
								i.none


