extends ../layouts/default

block head
	- pageTitle = 'Make us better';

block content
	.overlay.overlay-door#form-req-error
		.modal
			h3 please fill all fields
			a.overlay-close(href="#") close

	.overlay.overlay-door#form-captcha-error
		.modal
			h3 capthca is wrong
			a.overlay-close(href="#") close

	.overlay.overlay-door#form-send-error
		.modal
			h3 oops, something went wrong. please try again
			a.overlay-close(href="#") close
	.container
		.main-content
			article
				.breadcrumbs
					a(href="/") Home
					a.current(href="better.html") Make Us Better

				.article__title
					span Make Us Better
					h1 We'd love to hear your feedback

				.article__text

					p There aren't many days of the year that virtually all
						a(href="#")  Americans
						|  observe, but Memorial Day happens to be one of
						| them. Schools close, government services like the U.S. Postal Service take a break for the day and as a
						| recent survey from Bloomberg indicates, 97 percent of American employers will provide their workers with
						| paid time off to spend with their families and loved ones.

					p It's for good reason that Memorial Day is given this kind of respect, as this is the one day of the year in which
						| everyone pays tribute to the men and women who gave their lives for the cause of
						a(href="#")  freedom.
						|  Yet while millions of
						| people will participate in moments of silence and visit area cemeteries, many people aren't aware of when
						| Memorial Day became a tradition. For that, a trip down memory lane is in order.


		aside
			form(id="contact" method="POST" action="" class="c-quick-form")

				.quick-form-success
					.success__text
						span Thank you for your submission
						p We'll be in touch shortly

				span.form-header contact us

				.form-row
					label(for="first_name") Your name
						span *
					input(type="text" name="first_name" id="first_name")

				.form-row
					label(for="address") Your address (street, state, zip)
						span *
					input(type="text" name="address" id="address")

				.form-row
					input(type="text" name="address1" id="address1")

				.form-row
					label(for="email") Email
						span *
					input(type="text" name="email" id="email")

				.form-row
					label(for="phone") Phone
						span *
					input(type="text" name="phone" id="phone" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')")

				.form-row.textarea
					label(for="message") Your message
						span *
					textarea(name="message" id="message")

				.form-row.captcha
					label(for="captcha") Are you human?
						span.operand1 7
						span.operation +
						span.operand2 11
						span *
					input(type="text" id="captcha" name="captcha")


				input.big-button(type="submit" value="Next")

			.disclaimer
				span We never share your information


