extends ../layouts/default

block head
	- pageTitle = 'Blog';

block content
	.container
		.main-content
			article

				.breadcrumbs
					a(href="/") Home
					a.current(href="blog.html") Blog

				.article__title
					span blog
					h1 Veterans Banker latest news

				.article__text

					.blog__item

						.blog__img
							img(src="assets/images/blog1.jpg")

						.blog__preview
							h2 A historical look at how Memorial Day came to be
							span By admin | May 20th, 2015

							p While millions of people will participate in moments of silence and visit area cemeteries this Memorial Day
								| weekend, many people aren't aware of when it became

							a.list-more(href="post.html") Learn more

					.article__divider

					.blog__item

						.blog__img
							img(src="assets/images/blog2.jpg")

						.blog__preview
							h2 3 simple ways to boost your credit score
							span By admin | May 20th, 2015

							p In the military, and life in general, your word is your bond. And in the financial world,
								| this is sort of how credit works  it serves as your reputation, where companies...

							a.list-more(href="#") Learn more

					.article__divider

					.blog__item

						.blog__img
							img(src="assets/images/blog1.jpg")

						.blog__preview
							h2 A historical look at how Memorial Day came to be
							span By admin | May 20th, 2015

							p While millions of people will participate in moments of silence and visit area cemeteries this Memorial Day
								| weekend, many people aren't aware of when it became

							a.list-more(href="#") Learn more

					.article__divider

					.blog__item

						.blog__img
							img(src="assets/images/blog2.jpg")

						.blog__preview
							h2 3 simple ways to boost your credit score
							span By admin | May 20th, 2015

							p In the military, and life in general, your word is your bond. And in the financial world,
								| this is sort of how credit works  it serves as your reputation, where companies...

							a.list-more(href="#") Learn more

					.article__divider

					.blog__item

						.blog__img
							img(src="assets/images/blog1.jpg")

						.blog__preview
							h2 A historical look at how Memorial Day came to be
							span By admin | May 20th, 2015

							p While millions of people will participate in moments of silence and visit area cemeteries this Memorial Day
								| weekend, many people aren't aware of when it became

							a.list-more(href="#") Learn more

					.article__divider

					ul.pagination
						li
							a(href="#") 1
						li
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") 4
						li
							a(href="#") 5
						li
							a(href="#") 6
						li
							a(href="#") 7
						li
							a(href="#") 8
						li
							a(href="#") 9
						li
							a(href="#") 10
						li
							a(href="#") ...
						li
							a(href="#") 21
						li
							a(href="#") 22
						li
							a(href="#") 23
						li
							a.pagination-more(href="#")

		aside
			.c-banner
				h2 Get Started Today!

				i.c-banner__icon

				span.c-banner__slogan A fast, simple bridge loan process

				p In order to get the full experience you need to sign up. It takes only 30 seconds!

				a.simple-button(href="quote.html") quick quote!


			.c-twitter-feed
				.c-twitter-feed__header twitter feed

				.c-twitter-feed__content

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.article__divider

					.c-twitter-feed__follow
						i.twitter-icon
						a(href="#") Follow us on Twitter


