extends ../layouts/default

block head
	- pageTitle = 'Coast Guard Bridge Loans';

block content
	.container
		.main-content
			article
				.article__header
					img(src="assets/images/coast-guard.jpg")
					.caption If you're an active duty member of the Navy, whether an officer or enlisted, and need a military loan,
						| Veterans Banker Bridnge Loans has the loan for you.

				.breadcrumbs
					a(href="/") Home
					a(href="#") Military Branches
					a.current(href="coast-guard-bridge-loan.html") Coast Guard Bridge Loans

				.article__title
					span Military Branch
					h1 Coast Guard Bridge Loans

				.article__text
					p We offer Coast Guard bridge loans with competitive interest rates and manageable payment schedules to fit all
						| budgets and needs.

					p Founded by Alexander Hamilton in 1790, the
						a(href="#")  United States
						|  Coast Guard has a mission of maritime law enforcement. During peacetime, the US Coast Guard operates under
						| the Department of Homeland Security, but can become an arm of the Department of the Navy during times of war
						| if necessary. At this time, the USCG has 42,000 men and women on active duty who embody the Coast Guard motto:
						| Semper Paratus (Always Prepared).

					p Meaning Always Ready, Semper Paratus reflects the dedication, bravery and preparedness of the U.S. Coast Guard’s
						| brave service men and women. However, it is fundamentally impossible to always be prepared for what life throws
						| at you. No one can control a vehicle breaking down, receiving Permanent Change of Station orders, or losing a
						| loved one. The
						a(href="#")  financial
						|  strain when you go through life’s unexpected events can be extremely frustrating. At
						| Just Military Loans, we provide financial assistance for U.S. Coast Guard personnel to help weather the storm
						| of unexpected costs with competitive interest Coast Guard loans.

					p If you’re an active duty member of the United States Coast Guard, whether an officer or enlisted, and need a military
						| loan, Just Military Loans has the loan for you. We offer Coast Guard loans with low interest rates and manageable
						| payment schedules to fit all budgets and needs.  Even if you have bad credit, if you have at least 18 months left
						| in your tour of duty, Just Military Loans may be able to help you.

					p At Just Military Loans, we offer Coast Guard loans that take into account the unique circumstances of Coast Guard
						| personnel. Many times, military service men and women have not had the time to settle down and develop good
						| credit—or credit at all. In most cases, subpar credit translates into high interest rates and unreasonable term
						| restrictions. We do not penalize Coast Guard personnel for their unique circumstances. Our Coast Guard loans have
						| competitive interest rates and provide a comprehensive, monthly payment plan to accommodate all budgets and needs.

					p Emergencies are just that — emergencies. Our hassle-free, fast application process ensures that if approved, you can
						| use your loan quickly. Unlike other lenders that may take weeks, our approval process is frequently same-day,
						| meaning you’ll be able to cover the costs of your emergency in a timely manner. Although the U.S. Coast Guard
						| branch of military is unquestionably always ready, no one can know what life has in store.

					blockquote Excellent and professional service. You helped us bring our business to a higher level. Thank you!
						span Elmer Y

					h3 do you qualify?

					p Unlike our competitors and traditional sources of financing that base their lending decisions on credit scores,
						| we look at the business as a whole. Our approvals and offers are based on the business not a three digit
						| credit score. Reliant Funding looks at what you want to achieve and works with you to get there.
						| You may qualify if you meet the following criteria:

					ul
						li In business for at least 12 months.
						li Minimum of $8,000 per month in sales.
						li No open bankruptcies (prior BK is often ok).

					.article__cta In order to find out how much you qualify for
						span  CALL 877-850-0998 NOW.
					.round-button
						a(href="quote.html") apply now


		aside
			form(id="" method="POST" action="" class="c-quick-form")

				.quick-form-success
					.success__text
						span Thank you for your submission
						p We'll be in touch shortly

				span.form-header get a free quick quote

				select.js-summ-select(name="summ" id="summ")
					option(value="$5,000 - $10,000") $5,000
					option(value="$10,000 - $15,000") $10,000
					option(value="$15,000 -$20,000") $15,000
					option(value="$20,000 - $25,000") $20,000
					option(value="$30,000 - $35,000") $30,000
					option(value="$35,000 - $50,000") $35,000
					option(value="$50,000 - $75,000") $50,000
					option(value="$75,000 - $150,000") $75,000
					option(value="$150,000 - $250,000") $150,000
					option(value="More than $250,000") More than $250,000

				.form-row
					label(for="first_name") First name
						span *
					input(type="text" name="first_name" id="first_name")

				.form-row
					label(for="last_name") Last name
						span *
					input(type="text" name="last_name" id="last_name")

				.form-row
					label(for="company") Company
						span *
					input(type="text" name="company" id="company")

				.form-row
					label(for="email") Email
						span *
					input(type="email" name="email" id="email")

				.form-row
					label(for="phone") Phone
						span *
					input(type="text" name="phone" id="phone" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')")

				.form-info To qualify, your business must have more than $100,000 in gross annual revenue, and be in business
					| more than 6 months with no open bankruptcies.


				a.big-button(href="quote.html") Next

			.disclaimer
				span We never share your information

			.c-aside-compare
				img(src="assets/images/aside-compare5.jpg")

				table
					thead
						tr
							th Comparison
							th Veterans
								br
								|Banker
							th Banks
					tbody
						tr
							td Approvals within 24 hours

							td
								i.check-green
							td
								i.none
						tr
							td Funding in as little as 3 days

							td
								i.check-green
							td
								i.none
						tr
							td Renewable source of funds

							td
								i.check-green
							td
								i.none
						tr
							td No personal collateral or assets

							td
								i.check-green
							td
								i.none
						tr
							td Minimal paperwork

							td
								i.check-green
							td
								i.none


