extends ../layouts/default

block head
	- pageTitle = 'FAQ';

block content
	.container
		.main-content.c-faq-list
			article

				.breadcrumbs
					a(href="/") Home
					a.current(href="faq.html") FAQ

				.article__title
					span faq
					h1 Funding Q & A

				.article__text

					span.list-subheader Small Business Loans

					ul
						li
							span How do I know if I qualify for a Reliant Funding Business Loan?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.
						li
							span What are some of the reasons I may be denied a Reliant Funding Business Loan?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.
						li
							span How long does the approval process take?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.
						li
							span Will you review the owner's credit history?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.
						li
							span Does the business owner have to personally guarantee or pledge collateral for the loan?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.
						li
							span Do I need to accept or process credit cards to get a Reliant Funding Business Loan? If I do
								| process credit cards, do I have to switch processors?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.
						li
							span Are there any restrictions on how the Reliant Funding Small Business Loan can be used?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.

					span.list-subheader Merchant Cash Advance

					ul.c-faq-list
						li
							span How do I know if I qualify for a Reliant Funding Business Loan?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.
						li
							span What are some of the reasons I may be denied a Reliant Funding Business Loan?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.
						li
							span How long does the approval process take?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.
						li
							span Will you review the owner's credit history?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.
						li
							span Does the business owner have to personally guarantee or pledge collateral for the loan?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.
						li
							span Do I need to accept or process credit cards to get a Reliant Funding Business Loan? If I do
								| process credit cards, do I have to switch processors?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.
						li
							span Are there any restrictions on how the Reliant Funding Small Business Loan can be used?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.

					span.list-subheader Equipment Leasing

					ul.c-faq-list
						li
							span What type of equipment can I lease?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.
						li
							span Can I buy equipment from multiple vendors on one lease?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.
						li
							span How quickly can I get the funds to purchase the equipment?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.
						li
							span Can I buy used equipment from a private party?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.
						li
							span What is your rate?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.
						li
							span Is there a pre-payment penalty?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.
						li
							span What types of equipment leases do you offer?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.
						li
							span Will this affect my personal credit?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.
						li
							span Are there tax benefits to leasing?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.

					span.list-subheader Premium Programs

					ul.c-faq-list
						li
							span What is the difference between Reliant Funding's "normal" programs and Premium Programs?
							.c-faq-list__inner
								ul
									li Been in business for at least a year
									li Business does at least $100k in annual sales (roughly $10,000 in monthly sales).
									li No open bankruptcies.

		aside
			form(id="" method="POST" action="" class="c-quick-form")

				.quick-form-success
					.success__text
						span Thank you for your submission
						p We'll be in touch shortly

				span.form-header get a free quick quote

				select.js-summ-select(name="summ" id="summ")
					option(value="$5,000 - $10,000") $5,000
					option(value="$10,000 - $15,000") $10,000
					option(value="$15,000 -$20,000") $15,000
					option(value="$20,000 - $25,000") $20,000
					option(value="$30,000 - $35,000") $30,000
					option(value="$35,000 - $50,000") $35,000
					option(value="$50,000 - $75,000") $50,000
					option(value="$75,000 - $150,000") $75,000
					option(value="$150,000 - $250,000") $150,000
					option(value="More than $250,000") More than $250,000

				.form-row
					label(for="first_name") First name
						span *
					input(type="text" name="first_name" id="first_name")

				.form-row
					label(for="last_name") Last name
						span *
					input(type="text" name="last_name" id="last_name")

				.form-row
					label(for="company") Company
						span *
					input(type="text" name="company" id="company")

				.form-row
					label(for="email") Email
						span *
					input(type="email" name="email" id="email")

				.form-row
					label(for="phone") Phone
						span *
					input(type="text" name="phone" id="phone" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')")

				.form-info To qualify, your business must have more than $100,000 in gross annual revenue, and be in business
					| more than 6 months with no open bankruptcies.


				a.big-button(href="quote.html") Next

			.disclaimer
				span We never share your information

			.c-aside-compare
				img(src="assets/images/aside-compare1.jpg")

				table
					thead
						tr
							th Comparison
							th Veterans
								br
								|Banker
							th Banks
					tbody
						tr
							td Approvals within 24 hours

							td
								i.check-green
							td
								i.none
						tr
							td Funding in as little as 3 days

							td
								i.check-green
							td
								i.none
						tr
							td Renewable source of funds

							td
								i.check-green
							td
								i.none
						tr
							td No personal collateral or assets

							td
								i.check-green
							td
								i.none
						tr
							td Minimal paperwork

							td
								i.check-green
							td
								i.none


