extends ../layouts/default

block head
	- pageTitle = 'First Responders';

block content
	.container
		.main-content
			article
				.breadcrumbs
					a(href="/") Home
					a.current(href="history.html") History

				.article__title
					span history
					h1 Serving you since 2010

				.article__text
					img(src="assets/images/history.jpg")

					h2 A historical look at how Memorial Day came to be

					p Veterans Banker Loans has been offering personal loans to active duty military personnel with fast, efficient and
						| friendly service. We specialize in military lending; whether you need money for car repairs or you have a medical
						| emergency, Just Military Loans has a loan available to fit

					h3 Here are some of the benefits of doing business with VEterans Banker

					p Veterans Banker has been offering personal loans to active duty military personnel with fast, efficient and friendly
						| service. We specialize in military lending; whether you need money for car repairs or you have a medical emergency,
						| Just Military Loans has a loan available to fit.

					.links-container
						span MILITARY BRANCHES

						ul.c-list-of-links
							li
								a(href="army-bridge-loan.html") Army bridge loans
							li
								a(href="marine-bridge-loan.html") Marine Corps bridge loans
							li
								a(href="air-force-loan.html") Air Force bridge loans
							li
								a(href="coast-guard-bridge-loan.html") Coast guard bridge loans
							li
								a(href="national-guard-bridge-loan.html") National guard bridge loans

					.links-container
						span first responders

						ul.c-list-of-links
							li
								a(href="responders.html") Firefighters bridge loans
							li
								a(href="paramedic-bridge-loans.html") Paranedics bridge loans
							li
								a(href="emergency-bridge-loans.html") Emergency medical technicians bridge loans
							li
								a(href="police-bridge-loans.html") Pocice bridge loans


		aside
			.c-banner
				h2 Get Started Today!

				i.c-banner__icon

				span.c-banner__slogan A fast, simple bridge loan process

				p In order to get the full experience you need to sign up. It takes only 30 seconds!

				a.simple-button(href="quote.html") quick quote!


			.c-twitter-feed
				.c-twitter-feed__header twitter feed

				.c-twitter-feed__content

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.article__divider

					.c-twitter-feed__follow
						i.twitter-icon
						a(href="#") Follow us on Twitter




