extends ../layouts/default

block head
	- pageTitle = 'Veterans Banker';

block content
	.cta-section
		.container
			.fullscreen-video
				video(loop muted autoplay poster="assets/images/cta-bg.jpg" class="cta-video")
					source(src="assets/images/video.mp4" type="video/mp4")
					source(src="assets/images/video.ogv" type="video/ogv")
					source(src="assets/images/video.webm" type="video/webm")

			.cta__text
				.cta__text-header
					h1.cta-h1 Small Business Loans
					span for veterans
						span
							|  &
						|  first responders
				p
					| Veterans Banker offers Small Business Loans for Veterans, Active Duty Military and First Responders.
					| We provide Bridge Financing to Qualified Entrepreneurs, based on the health of a
					| business - not a personal credit score.

				i.scroll-arrow
				a.outlined-button(href="#") learn more

	.check
		.container
			form(action="#" method="get").header-form
				.top-form-col
					label(for="summ") How much would you like to borrow?
					select.js-summ-select(name="summ" id="summ")
						option(value="$5,000 - $2,000,000") $5,000 - $2,000,000
						option(value="$10,000 - $15,000") $10,000 - $15,000
						option(value="$15,000 -$20,000") $15,000 -$20,000
						option(value="$20,000 - $25,000") $20,000 - $25,000
						option(value="$30,000 - $35,000") $30,000 - $35,000
						option(value="$35,000 - $50,000") $35,000 - $50,000
						option(value="$50,000 - $75,000") $50,000 - $75,000
						option(value="$75,000 - $150,000") $75,000 - $150,000
						option(value="$150,000 - $250,000") $150,000 - $250,000
						option(value="More than $250,000") More than $250,000
				.top-form-col
					label(for="bus_age") How old is your business?
					select(name="bus_age" id="bus_age")
						//- option(value="Start Up") Start Up
						option(value="1-3 years") 1-3 years
						option(value="3-5 years") 3-5 years
						option(value="5-10 years") 5-10 years
						option(value="More than 10 years") More than 10 years
				.top-form-col
					label(for="soon") How soon do you need  the money?
					select(name="soon" id="soon")
						option(value="immediatly") Immediatly
						option(value="1 week") 1 week
						option(value="30 days") 30 days
						option(value="More than 30 days") More than 30 days

				.top-form-col
					a.top-form-submit(href="quote.html") quick quote

	.serve-section
		.container
			span.section-motto We serve you
			h2.section-header Thousands of your fellow service men and women have chosen Just Military Loans.

			.features.justify
				.feature
					i.yes-icon
					span.benefit-header We say “yes” more
					p In order to get the full experience you need to sign up. It takes only 30 seconds!

				.feature
					i.fast-icon
					span.benefit-header A fast, simple bridge loan process
					p In order to get the full experience you need to sign up. It takes only 30 seconds!

				.feature
					i.trust-icon
					span.benefit-header A Company You Can Trust
					p In order to get the full experience you need to sign up. It takes only 30 seconds!

			a.square-button(href="#") SEE TYPES OF LOANS WE OFFER

	.branches-section
		.container
			span.section-motto Military branches
			h2.section-header Thousands of your fellow service men and women have chosen Just Military Loans.

			.c-twocol-list
				.row
					.left-side
						i.army-icon
						.list-content
							span.list-header army bridge loans
							p
								| If you’re an active duty member of the Army, whether an officer or enlisted,
								| and need a military loan, Just Military Loans has the loan for you.
							a.list-more(href="army-bridge-loan.html") Learn more

					.right-side
						i.air-icon
						.list-content
							span.list-header air force bridge loans
							p
								| We offer Air Force loans with competitive interest rates and manageable
								| payment schedules to fit all budgets and needs.

							a.list-more(href="air-force-loan.html") Learn more


				.row
					.left-side
						i.marine-icon
						.list-content
							span.list-header marine corps bridge loans
							p
								| If you’re an active duty member of the Army, whether an officer or enlisted,
								| and need a military loan, Just Military Loans has the loan for you.
							a.list-more(href="marine-bridge-loan.html") Learn more

					.right-side
						i.coast-icon
						.list-content
							span.list-header coast guard bridge loans
							p
								| We offer Air Force loans with competitive interest rates and manageable
								| payment schedules to fit all budgets and needs.

							a.list-more(href="coast-guard-bridge-loan.html") Learn more

				.row
					.left-side
						i.navy-icon
						.list-content
							span.list-header navy bridge loans
							p
								| If you’re an active duty member of the Army, whether an officer or enlisted,
								| and need a military loan, Just Military Loans has the loan for you.
							a.list-more(href="#") Learn more

					.right-side
						i.guard-icon
						.list-content
							span.list-header national guard bridge loans
							p
								| We offer Air Force loans with competitive interest rates and manageable
								| payment schedules to fit all budgets and needs.

							a.list-more(href="national-guard-bridge-loan.html") Learn more

	.cta-right
		.container
			.cta-right__content
				div
					.cta-right__img
						img(src="assets/images/cta-1.jpg")
					p.cta-quote $2.0 Billion +
						br
						| Total Funded Loans
			.cta-button-container
				a.cta-button(href="quote.html") qualify now

	.responders-section
		.container
			span.section-motto first responders
			h2.section-header Thousands of your fellow service men and women have chosen Just Military Loans.

			.c-twocol-list
				.row
					.left-side
						i.firefighters-icon
						.list-content
							span.list-header firefighters bridge loans
							p
								| If you’re an active duty member of the Army, whether an officer or enlisted,
								| and need a military loan, Just Military Loans has the loan for you.
							a.list-more(href="#") Learn more

					.right-side
						i.paramedics-icon
						.list-content
							span.list-header paramedic bridge loans
							p
								| We offer Air Force loans with competitive interest rates and manageable
								| payment schedules to fit all budgets and needs.

							a.list-more(href="#") Learn more

				.row
					.left-side
						i.emergency-icon
						.list-content
							span.list-header emergency medical technicians bridge Loans
							p
								| If you’re an active duty member of the Army, whether an officer or enlisted,
								| and need a military loan, Just Military Loans has the loan for you.
							a.list-more(href="#") Learn more

					.right-side
						i.guard-icon
						.list-content
							span.list-header police bridge loans
							p
								| We offer Air Force loans with competitive interest rates and manageable
								| payment schedules to fit all budgets and needs.

							a.list-more(href="#") Learn more

	.cta-left
		.container
			.cta-button-container
				a.cta-button(href="quote.html") qualify now
			.cta-left__content
				div
					.cta-left__img
						img(src="assets/images/cta-2.jpg")
					p.cta-quote 30,0000 +
						br
						| Small Businesses Served

	.form-section
		span.section-motto how much do you need?
		h2.section-header We are faster than a bank and more flexible than a merchant cash advance
		.container

			.form-section__features
				ul.c-simple-list
					li
						span More affordable
						| In order to get the full experience you need to sign up. It takes only 30 seconds!
					li
						span Fast Application and Funding
						| In order to get the full experience you need to sign up. It takes only 30 seconds!
					li
						span Automatic Payment
						| In order to get the full experience you need to sign up. It takes only 30 seconds!

				a.form-section__button(href="#") Learn more

			.c-form-section__form
				form( class="c-quick-form" method="POST" action="")

					.quick-form-success
						.success__text
							span Thank you for your submission
							p We'll be in touch shortly

					span.form-header get a free quick quote

					select.js-summ-select(name="summ1" id="summ1")
						option(value="$5,000 - $10,000") $5,000
						option(value="$10,000 - $15,000") $10,000
						option(value="$15,000 -$20,000") $15,000
						option(value="$20,000 - $25,000") $20,000
						option(value="$30,000 - $35,000") $30,000
						option(value="$35,000 - $50,000") $35,000
						option(value="$50,000 - $75,000") $50,000
						option(value="$75,000 - $150,000") $75,000
						option(value="$150,000 - $250,000") $150,000
						option(value="More than $250,000") More than $250,000

					.form-row
						label(for="first_name") First name
							span *
						input(type="text" name="first_name" id="first_name")

					.form-row
						label(for="last_name") Last name
							span *
						input(type="text" nmae="last_name" id='last_name')

					.form-row
						label(for="company1") Company
							span *
						input(type="text" name="company1" id="company1")

					.form-row
						label(for="email") Email
							span *
						input(type="email" name="email" id="email")

					.form-row
						label(for="phone") Phone
							span *
						input(type="text" name="phone" id="phone" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')")

					//- input(type="submit" id="submit" value="Next")
					a.big-button(href="quote.html") Next

				.disclaimer
					span We never share your information

	.compare-section
		.container
			span.section-motto how we compare?
			h2.section-header We are faster than a bank and more flexible than a credit card cash advance - receive a true business loan

			.compare__table-header
				h3 how
					span  veterans banker
					|  compares

			.compare__table
				.attr-col
					ul
						li.attr-title
						li Fatest Funding
						li Values Cash Flow, Not Just Credit Score
						li Builds Business Credit
						li Minimal Amount of Paperwork
						li Transparent Rates and Fees
						li World-Class Customer Services A+ rating with the Better Business Bureau
						li Repeat Customer Benefits

				.ft-table
					.ft-special
						ul.ft-rows
							li.ft-title
								img(src="assets/images/compare-logo.png", alt="")
							li
								i.check-green
							li
								i.check-green
							li
								i.check-green
							li
								i.check-green
							li
								i.check-green
							li
								i.check-green
							li
								i.check-green
					.ft-body
						ul.ft-rows
							li.ft-title
								span most banks
								span credit card
									br
									| advances
							li
								span.none
								span.none
							li
								span.none
								span.check-gray
							li
								span.check-gray
								span.none
							li
								span.none
								span.none
							li
								span.check-gray
								span.none
							li
								span.none
								span.none
							li
								span.none
								span.none

			.round-button
						a(href="quote.html") apply now

			.compare__table-mobile
				.part-one
					.attr-col
						ul
							li.attr-title
							li Fatest Funding
							li Values Cash Flow, Not Just Credit Score
							li Builds Business Credit
							li Minimal Amount of Paperwork
							li Transparent Rates and Fees
							li World-Class Customer Services A+ rating with the Better Business Bureau
							li Repeat Customer Benefits

					.ft-table
						.ft-body
							ul.ft-rows
								li.ft-title
									span most banks
									span credit card
										br
										| advances
								li
									span.none
									span.none
								li
									span.none
									span.check-gray
								li
									span.check-gray
									span.none
								li
									span.none
									span.none
								li
									span.check-gray
									span.none
								li
									span.none
									span.none
								li
									span.none
									span.none

				.part-two
					.attr-col
						ul
							li.attr-title
							li Fatest Funding
							li Values Cash Flow, Not Just Credit Score
							li Builds Business Credit
							li Minimal Amount of Paperwork
							li Transparent Rates and Fees
							li World-Class Customer Services A+ rating with the Better Business Bureau
							li Repeat Customer Benefits

					.ft-table
						.ft-special
							ul.ft-rows
								li.ft-title
									img(src="assets/images/compare-logo.png", alt="")
								li
									i.check-green
								li
									i.check-green
								li
									i.check-green
								li
									i.check-green
								li
									i.check-green
								li
									i.check-green
								li
									i.check-green
					.round-button
						a(href="quote.html") apply now

	.testimonials-section
		.container
			span.section-motto testimonials
			h2.section-header We Love the Way You Love Us!

			.carousel
				.inner
					.slide
						.slide__image
							img(src="assets/images/slide-1.jpg")
						.slide__content
							p
								| "On
								strong  Veterans Banker
								|  made getting a loan so incredibly easy and simple - I knew I was making
								| the right decision. And, since closing my loan, I’ve already seen more than 100 new customers
								| walk through my door. I’ll definitely be coming back to
								strong  Veterans Banker
								|  for my next project."

							.slide__author
								span.name Roderick & Ami Quass
								span.org Army Private First Class

					.slide
						.slide__image
							img(src="assets/images/slide-1.jpg")
						.slide__content
							p
								| "On
								strong  Veterans Banker
								|  made getting a loan so incredibly easy and simple - I knew I was making
								| the right decision. And, since closing my loan, I’ve already seen more than 100 new customers
								| walk through my door. I’ll definitely be coming back to
								strong  Veterans Banker
								|  for my next project."

							.slide__author
								span.name Roderick & Ami Quass
								span.org Army Private First Class
					.slide
						.slide__image
							img(src="assets/images/slide-1.jpg")
						.slide__content
							p
								| "On
								strong  Veterans Banker
								|  made getting a loan so incredibly easy and simple - I knew I was making
								| the right decision. And, since closing my loan, I’ve already seen more than 100 new customers
								| walk through my door. I’ll definitely be coming back to
								strong  Veterans Banker
								|  for my next project."

							.slide__author
								span.name Roderick & Ami Quass
								span.org Army Private First Class
			.carousel-prev
			.carousel-next

	.loan-section
		.container
			span.section-motto get your loan today
			h2.section-header Thousands of your fellow service men and women have chosen Just Military Loans

			.features.justify
				.feature
					.feature__icon
						img(src="assets/images/icons/chat-icon.png" width="78" height="70")
					.feature__text
						span live chat
						p In order to get the full experience you need to sign up. It takes only 30 seconds!

				.feature
					.feature__icon
						img(src="assets/images/icons/note-icon.png" width="78" height="70")
					.feature__text
						span send us a note
						p In order to get the full experience you need to sign up. It takes only 30 seconds!
						a.note-button(href="#") contact us

				.feature
					.feature__icon
						img(src="assets/images/icons/call-icon.png" width="78" height="70")
					.feature__text
						span give us a call
						p In order to get the full experience you need to sign up. It takes only 30 seconds!









