extends ../layouts/default

block head
	- pageTitle = 'Industries served';

block content
	.container
		.main-content
			article
				.breadcrumbs
					a(href="/") Home
					a.current(href="index.html") Industries served

				.article__title
					span Industries served
					h1 We are happy to serve you

				.article__text

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						| aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

					ul
						li
							a(href="#top-industries") Top Industries
						li
							a(href="#high-risk") High Risk Industries
						li
							a(href="#restricted-industries") Restricted Industries

					h2.underlined-header#top-industries Top industries

					span.list-subheader industry

					ul.ascetic-list
						li Automotive Repair
						li Dentists
						li Physicians
						li Beauty Salons
						li Gift, Novelty, and Souvenir Stores
						li Restaurants
						li Furniture Stores
						li Chiropractors
						li Plumbing / HVAC Contractors
						li Hotels
						li Sporting Goods Stores
						li Grocery Stores
						li Gas Stations
						li General Merchandise Stores
						li Bars
						li Nail Salons
						li General Retailers
						li Electronics Stores
						li Food / Health Care Stores
						li Clothing Stores
						li Cleaning Services
						li Veterinary Services
						li Home Health Care Services
						li Home Furnishings Stores
						li Optometrists
						li Automotive Parts and Accessories Stores
						li Beer, Wine, and Liquor Stores
						li Hardware Stores
						li Jewelry Stores
						li Nail Salons

					h2.underlined-header#high-risk High Risk Industries

					span.list-subheader industry

					ul.ascetic-list
						li Trucking
						li Online Retailers
						li Residential Remodeling
						li Gyms
						li Schools
						li Vitamin Retailers
						li Accountants
						li Golf Courses
						li Staffing Companies

					h2.underlined-header#restricted-industries Restricted Industries

					span.list-subheader Financial Services and Investments

					ul.ascetic-list
						li Banks, Credit Unions, Mortage Lenders
						li Non-Bank, Finance Companies
						li Money Services Business
						li Ball Bonding
						li Factoring & Purchase Order Financing
						li Financial Transaction Processing
						li Credit Protection, Restoration, Repair
						li Collection Agencies & Debt Buyers
						li Debt and Tax Reduction Services
						li Investment Opportunities and Advice
						li Securities & Commodities Dealers/Brokers
						li Insurance Related Activities or Services
						li Real Estate Brokers or Agencies
						li Property Managers
						li Appraisers & Real Estate Consultants
						li Lessors of Real Estate
						li Tax Preparation Servicet

					span.list-subheader Sellers

					ul.ascetic-list
						li Pawn Shops/ Consignment
						li Discount Travel Clubs / Subscriptions
						li Flea Markets
						li Mail Order Coin Sales
						li Precious Metal Sales
						li Magazines Subscriptions

					span.list-subheader vices

					ul.ascetic-list
						li Adult Entertainment/Materials
						li Lotteries/Raffles/Gaming/Gambling
						li Drug Paraphernalia & Dispensaries
						li Horoscope / Fortune Telling
						li Guns & Ammunition Sales or Manufacturing

					span.list-subheader Vehicle & Power Equipment Sales

					ul.ascetic-list
						li Automobiles - New & Used
						li RV & Trailer Dealers - New & Used
						li Motorcycle Dealers - New & Used
						li Boat Dealers - New & Used
						li Manufactured/Mobile Home Dealers
						li ATV/Snowmobile Dealers - New & Used
						li Outdoor Power Equipment - New & Used

					span.list-subheader Services/Administrative Outsourcing

					ul.ascetic-list
						li Contracted Management Services
						li Payroll Companies
						li Call Centers Answering & Services
						li Mailing & Fulfillment Houses
						li Attorneys
						li Title Companies/Escrow Agents
						li Notaries
						li Stenography & Court Reporters
						li Brokerage
						li Personal Trainers

					span.list-subheader Travel & Transportation

					ul.ascetic-list
						li Non-Truck Based Freight Transportation
						li Logistics/Freight Forwarding
						li Air/Rail/Bus/Boat - Passenger Transportation
						li Marinas
						li Travel Agencies &Tour Operators
						li Museums, Zoos, Historical Sites

					span.list-subheader Miscellaneous

					ul.ascetic-list
						li Mining
						li Energy Generation & Distribution
						li Building & Utility Construction
						li Printing
						li Vehicle Manufacturing
						li Funeral Services
						li Media Publishing & Production
						li Telephone Carriers & Resellers
						li Video Rental
						li Schools & Day Cares
						li Farming
						li Blood & Organ Banks
						li Sports & Performing Arts Groups or Venues
						li Religious Organization
						li Government & Non-Profits
						li Online Auctions

					h3 do you qualify?

					p Unlike our competitors and traditional sources of financing that base their lending decisions on credit scores,
						| we look at the business as a whole. Our approvals and offers are based on the business not a three digit
						| credit score. Reliant Funding looks at what you want to achieve and works with you to get there.
						| You may qualify if you meet the following criteria:

					ul
						li In business for at least 12 months.
						li Minimum of $8,000 per month in sales.
						li No open bankruptcies (prior BK is often ok).

					.article__cta In order to find out how much you qualify for
						span  CALL 877-850-0998 NOW.
					.round-button
						a(href="quote.html") apply now



		aside
			form(id="" method="POST" action="" class="c-quick-form")

				.quick-form-success
					.success__text
						span Thank you for your submission
						p We'll be in touch shortly

				span.form-header get a free quick quote

				select.js-summ-select(name="summ" id="summ")
					option(value="$5,000 - $10,000") $5,000
					option(value="$10,000 - $15,000") $10,000
					option(value="$15,000 -$20,000") $15,000
					option(value="$20,000 - $25,000") $20,000
					option(value="$30,000 - $35,000") $30,000
					option(value="$35,000 - $50,000") $35,000
					option(value="$50,000 - $75,000") $50,000
					option(value="$75,000 - $150,000") $75,000
					option(value="$150,000 - $250,000") $150,000
					option(value="More than $250,000") More than $250,000

				.form-row
					label(for="first_name") First name
						span *
					input(type="text" name="first_name" id="first_name")

				.form-row
					label(for="last_name") Last name
						span *
					input(type="text" name="last_name" id="last_name")

				.form-row
					label(for="company") Company
						span *
					input(type="text" name="company" id="company")

				.form-row
					label(for="email") Email
						span *
					input(type="email" name="email" id="email")

				.form-row
					label(for="phone") Phone
						span *
					input(type="text" name="phone" id="phone" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')")

				.form-info To qualify, your business must have more than $100,000 in gross annual revenue, and be in business
					| more than 6 months with no open bankruptcies.


				a.big-button(href="quote.html") Next

			.disclaimer
				span We never share your information

			.c-aside-compare
				img(src="assets/images/aside-compare3.jpg")

				table
					thead
						tr
							th Comparison
							th Veterans
								br
								|Banker
							th Banks
					tbody
						tr
							td Approvals within 24 hours

							td
								i.check-green
							td
								i.none
						tr
							td Funding in as little as 3 days

							td
								i.check-green
							td
								i.none
						tr
							td Renewable source of funds

							td
								i.check-green
							td
								i.none
						tr
							td No personal collateral or assets

							td
								i.check-green
							td
								i.none
						tr
							td Minimal paperwork

							td
								i.check-green
							td
								i.none




