extends ../layouts/default

block head
	- pageTitle = 'Leadership';

block content
	.container
		.main-content
			article
				.breadcrumbs
					a(href="/") Home
					a.current(href="leadership.html") Leadership

				.article__title
					span Leadership
					h1 Management Team

				.article__text
					img(src="assets/images/leadership.jpg")

					h2 Adam Stettner
					span Founder, CEO

					p Adam has over 20 years of leadership, management, sales, business development and operations experience.
						| He founded the company that became Reliant Services Group in late 2008. Just prior to that, he served as a
						| founder and President of National Lending Associates, Inc., serving the financing needs of students and
						| universities via loan and payment plan program administration.your needs. Adam has been involved in businesses
						| of all sizes. One thing they all required, aside from hard work and great people, is money. After producing
						| billions in assets for banks, and dealing with the frustrations of jumping through hoops to get money from them,
						| he decided to build a national business (Reliant) that provides easy access to funds - built around the client’s
						| story, not a bank’s requirements.

				.article__divider

				.person

					img(src="assets/images/leadership1.jpg").right

					h2 Matt Price
					span Vice President of Sales

					p Matt is responsible for making sure our sales staff is knowledgeable, listens intently and delivers to the need of our
						| clients. Previously, he served as Vice President for a privately held real estate development company.

				.article__divider

				.person

					img(src="assets/images/leadership.jpg").left

					h2 Travis Mottet
					span Vice President of Operations

					p Matt is responsible for making sure our sales staff is knowledgeable, listens intently and delivers to the need of our
						| clients. Previously, he served as Vice President for a privately held real estate development company.


		aside
			.c-banner
				h2 Get Started Today!

				i.c-banner__icon

				span.c-banner__slogan A fast, simple bridge loan process

				p In order to get the full experience you need to sign up. It takes only 30 seconds!

				a.simple-button(href="quote.html") quick quote!


			.c-twitter-feed
				.c-twitter-feed__header twitter feed

				.c-twitter-feed__content

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.article__divider

					.c-twitter-feed__follow
						i.twitter-icon
						a(href="#") Follow us on Twitter




