extends ../layouts/default

block head
	- pageTitle = 'Marine Corps Bridge Loans';

block content
	.container
		.main-content
			article
				.article__header
					img(src="assets/images/marine-bridge-loan.jpg")
					.caption If you're an active duty member of the Navy, whether an officer or enlisted, and need a military loan,
						| Veterans Banker Bridnge Loans has the loan for you.

				.breadcrumbs
					a(href="/") Home
					a(href="#") Military Branches
					a.current(href="marine-bridge-loan.html") Marine Corps Bridge Loans

				.article__title
					span Military Branch
					h1 Marine Corps Bridge Loans

				.article__text
					p We offer Marine Corps bridge loans with competitive interest rates and manageable payment schedules to fit all
						| budgets and needs.

					p Founded as Naval Infantry by Captain
						a(href="#")  Samuel
						|  Nicholas on November 10, 1775, the United States Marine Corps is the branch of the United States Navy in charge
						| of force projection from the sea.  The USMC has served in every American armed conflict and boasts over 203,000
						| active duty Marines at this time.  The US Marine Corps is the major theorist and practitioner of United States
						| amphibious warfare.

					p Just Military Loans specializes in financial assistance for active duty Marine Corps
						a(href="#")  personnel
						|  when unforeseen costs arise.
						| Financial strain can be extremely stressful, especially for Marine Corps service men and women actively serving their
						| country. In many cases, financial hardships are also out of your control. If a vehicle breaks down or you receive
						| Permanent Change of Station orders, incurring costs may be beyond your current budget. Fortunately, Just Military
						| Loans offers tailor-made Marine Corps loans that provide active duty personnel competitive interest rates and
						| comprehensive payment plans, offering financial stability and peace of mind.

					p Unlike other lenders, we understand the unique circumstance of Marine Corps personnel. Service members do not always
						| have the adequate time to develop good credit. For this reason, loans frequently include high interest rates.
						| At Just Military Loans, our approval process takes into account military service member’s circumstances. Our
						| Marine Corps loans can accommodate applicants of all kinds, and we may still be able to offer competitive interest
						| loans for military personnel with subpar credit.

					p Our approval process not only takes into account an applicant’s circumstances; it is also fast and hassle-free.
						| We understand that financial emergencies can happen at a moment’s notice. Unlike other lenders that may take
						| weeks for approval, our approval process is frequently same-day, ensuring you have the funds when you need it
						| most. For added peace of mind, our Marine Corps loans are also comprehensive and simple, providing Marine Corps
						| servicemen and women a highly manageable monthly payment program.  Don’t bare the financial burden of
						a(href="#")  unforeseen
						|  costs alone. At Just Military Loans, we provide Marine Corps loans to offer our service for those that serve our
						| country.

					p If you’re a Marine on active duty – whether an officer or enlisted – and need a military loan, Just Military Loans has
						| the loan for you.  We offer Marine Corps loans with competitve interest rates and manageable payment schedules to
						| fit all budgets and needs. Even if you have bad credit, if you have at least 18 months left in your tour of duty,
						| Just Military Loans may be able to help you.

					blockquote Excellent and professional service. You helped us bring our business to a higher level. Thank you!
						span Elmer Y

					h3 do you qualify?

					p Unlike our competitors and traditional sources of financing that base their lending decisions on credit scores,
						| we look at the business as a whole. Our approvals and offers are based on the business not a three digit
						| credit score. Reliant Funding looks at what you want to achieve and works with you to get there.
						| You may qualify if you meet the following criteria:

					ul
						li In business for at least 12 months.
						li Minimum of $8,000 per month in sales.
						li No open bankruptcies (prior BK is often ok).

					.article__cta In order to find out how much you qualify for
						span  CALL 877-850-0998 NOW.
					.round-button
						a(href="quote.html") apply now


		aside
			form(id="" method="POST" action="" class="c-quick-form")

				.quick-form-success
					.success__text
						span Thank you for your submission
						p We'll be in touch shortly

				span.form-header get a free quick quote

				select.js-summ-select(name="summ" id="summ")
					option(value="$5,000 - $10,000") $5,000
					option(value="$10,000 - $15,000") $10,000
					option(value="$15,000 -$20,000") $15,000
					option(value="$20,000 - $25,000") $20,000
					option(value="$30,000 - $35,000") $30,000
					option(value="$35,000 - $50,000") $35,000
					option(value="$50,000 - $75,000") $50,000
					option(value="$75,000 - $150,000") $75,000
					option(value="$150,000 - $250,000") $150,000
					option(value="More than $250,000") More than $250,000

				.form-row
					label(for="first_name") First name
						span *
					input(type="text" name="first_name" id="first_name")

				.form-row
					label(for="last_name") Last name
						span *
					input(type="text" name="last_name" id="last_name")

				.form-row
					label(for="company") Company
						span *
					input(type="text" name="company" id="company")

				.form-row
					label(for="email") Email
						span *
					input(type="email" name="email" id="email")

				.form-row
					label(for="phone") Phone
						span *
					input(type="text" name="phone" id="phone" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')")

				.form-info To qualify, your business must have more than $100,000 in gross annual revenue, and be in business
					| more than 6 months with no open bankruptcies.


				a.big-button(href="quote.html") Next

			.disclaimer
				span We never share your information

			.c-aside-compare
				img(src="assets/images/aside-compare5.jpg")

				table
					thead
						tr
							th Comparison
							th Veterans
								br
								|Banker
							th Banks
					tbody
						tr
							td Approvals within 24 hours

							td
								i.check-green
							td
								i.none
						tr
							td Funding in as little as 3 days

							td
								i.check-green
							td
								i.none
						tr
							td Renewable source of funds

							td
								i.check-green
							td
								i.none
						tr
							td No personal collateral or assets

							td
								i.check-green
							td
								i.none
						tr
							td Minimal paperwork

							td
								i.check-green
							td
								i.none


