extends ../layouts/default

block head
	- pageTitle = 'Merchant Cash Advance';

block content
	.container
		.main-content
			article
				.article__header
					img(src="assets/images/merchant-cash-advance.jpg")
					.caption Flexible funding solutions

				.breadcrumbs
					a(href="/") Home
					a(href="#") Types of Loans We Offer
					a.current(href="merchant-cash-advance.html") Merchant Cash Advance

				.article__title
					span Types of Loan
					h1 Merchant Cash Advance

				.article__text
					p At Reliant Funding we pride ourselves providing the best solution to solve your specific funding need. The way we do
						| that is simple, we listen and then act. Reliant Funding provides Merchant Cash Advance offers and service that are
						| not found elsewhere in the industry. Our Merchant Cash Advance programs offer hassle free working capital in as
						| little as 3 days. Reliant Funding's National Account Executives can provide you with a no cost, no obligation
						| Merchant Cash Advance quote often the same day we receive your application.

					p Rather than waiting on a small business loan from a bank you can obtain the money you need to grow your business
						| now by applying for a Small Business Loan from Reliant Funding. Call us now to learn how we can help or complete
						| the online application now.

					h3 types of loan

					ul
						li Drive more business with Advertising and Marketing.
						li Purchase Inventory
						li Business improvements or investments.
						li Repairs to equipment or facility.
						li Pay off outstanding debts, taxes or buyout a partner.
						li Renovation, Expansion, Franchise Required Improvements.
						li Cash Flow, Working Capital, Emergency Funds, etc.

					blockquote Excellent and professional service. You helped us bring our business to a higher level. Thank you!
						span Elmer Y

					h3 do you qualify?

					p Unlike our competitors and traditional sources of financing that base their lending decisions on credit scores,
						| we look at the business as a whole. Our approvals and offers are based on the business not a three digit
						| credit score. Reliant Funding looks at what you want to achieve and works with you to get there.
						| You may qualify if you meet the following criteria:

					ul
						li In business for at least 12 months.
						li Minimum of $8,000 per month in sales.
						li No open bankruptcies (prior BK is often ok).

					.article__cta In order to find out how much you qualify for
						span  CALL 877-850-0998 NOW.
					.round-button
						a(href="quote.html") apply now

		aside
			form(id="" method="POST" action="" class="c-quick-form")

				.quick-form-success
					.success__text
						span Thank you for your submission
						p We'll be in touch shortly

				span.form-header get a free quick quote

				select.js-summ-select(name="summ" id="summ")
					option(value="$5,000 - $10,000") $5,000
					option(value="$10,000 - $15,000") $10,000
					option(value="$15,000 -$20,000") $15,000
					option(value="$20,000 - $25,000") $20,000
					option(value="$30,000 - $35,000") $30,000
					option(value="$35,000 - $50,000") $35,000
					option(value="$50,000 - $75,000") $50,000
					option(value="$75,000 - $150,000") $75,000
					option(value="$150,000 - $250,000") $150,000
					option(value="More than $250,000") More than $250,000

				.form-row
					label(for="first_name") First name
						span *
					input(type="text" name="first_name" id="first_name")

				.form-row
					label(for="last_name") Last name
						span *
					input(type="text" name="last_name" id="last_name")

				.form-row
					label(for="company") Company
						span *
					input(type="text" name="company" id="company")

				.form-row
					label(for="email") Email
						span *
					input(type="email" name="email" id="email")

				.form-row
					label(for="phone") Phone
						span *
					input(type="text" name="phone" id="phone" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')")

				.form-info To qualify, your business must have more than $100,000 in gross annual revenue, and be in business
					| more than 6 months with no open bankruptcies.


				a.big-button(href="quote.html") Next

			.disclaimer
				span We never share your information

			.c-aside-compare
				img(src="assets/images/aside-compare4.jpg")

				table
					thead
						tr
							th Comparison
							th Veterans
								br
								|Banker
							th Banks
					tbody
						tr
							td Approvals within 24 hours

							td
								i.check-green
							td
								i.none
						tr
							td Funding in as little as 3 days

							td
								i.check-green
							td
								i.none
						tr
							td Renewable source of funds

							td
								i.check-green
							td
								i.none
						tr
							td No personal collateral or assets

							td
								i.check-green
							td
								i.none
						tr
							td Minimal paperwork

							td
								i.check-green
							td
								i.none


