extends ../layouts/default

block head
	- pageTitle = 'First Responders';

block content
	.container
		.main-content
			article
				.breadcrumbs
					a(href="/") Home
					a.current(href="mission.html") Mission

				.article__title
					span Mission
					h1 Helping you achiving your financial goals

				.article__text
					img(src="assets/images/mission.jpg")

					h2 A historical look at how Memorial Day came to be

					p Veterans Banker Loans has been offering personal loans to active duty military personnel with fast, efficient and
						| friendly service. We specialize in military lending; whether you need money for car repairs or you have a medical
						| emergency, Just Military Loans has a loan available to fit

					h3 Here are some of the benefits of doing business with VEterans Banker

					p Veterans Banker has been offering personal loans to active duty military personnel with fast, efficient and friendly
						| service. We specialize in military lending; whether you need money for car repairs or you have a medical emergency,
						| Just Military Loans has a loan available to fit.

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						| aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						| Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					p Veterans Banker has been offering personal loans to active duty military personnel with fast, efficient and friendly
						| service. We specialize in military lending; whether you need money for car repairs or you have a medical emergency,
						| Just Military Loans has a loan available to fit.

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						| aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						| Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					h3 Here are some of the benefits of doing business with VEterans Banker

					p Veterans Banker has been offering personal loans to active duty military personnel with fast, efficient and friendly
						| service. We specialize in military lending; whether you need money for car repairs or you have a medical emergency,
						| Just Military Loans has a loan available to fit.

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						| aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						| Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


		aside
			.c-banner
				h2 Get Started Today!

				i.c-banner__icon

				span.c-banner__slogan A fast, simple bridge loan process

				p In order to get the full experience you need to sign up. It takes only 30 seconds!

				a.simple-button(href="quote.html") quick quote!


			.c-twitter-feed
				.c-twitter-feed__header twitter feed

				.c-twitter-feed__content

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.article__divider

					.c-twitter-feed__follow
						i.twitter-icon
						a(href="#") Follow us on Twitter




