extends ../layouts/default

block head
	- pageTitle = 'First Responders';

block content
	.container
		.main-content
			article
				.article__header
					img(src="assets/images/national-guard.jpg")
					.caption If you're an active duty member of the Navy, whether an officer or enlisted, and need a military loan,
						| Veterans Banker Bridnge Loans has the loan for you.

				.breadcrumbs
					a(href="/") Home
					a(href="#") Military Branches
					a.current(href="national-guard-bridge-loan.html") National Guard Bridge Loans

				.article__title
					span Military Branch
					h1 National Guard Bridge Loans

				.article__text
					p We offer National Guard bridge loans with competitive interest rates and manageable payment schedules to fit all
						| budgets and needs.

					p The National Guard of the
						a(href="#")  United States
						| , part of the reserve components of the United States Armed Forces,
						| is a reserve military force, composed of National Guard military members or units of each state and the
						| territories of Guam, of the Virgin Islands, and of Puerto Rico, as well as of the District of Columbia,
						| for a total of 54 separate organizations. All members of the National Guard of the United States are also
						| members of the militia of the United States as defined by 10 U.S.C. § 311. National Guard units are under
						| the dual control of the state and the federal government.

					p The majority of National Guard soldiers and airmen hold a civilian job full-time while serving part-time as a
						| National Guard member. These part-time guardsmen are augmented by a full-time cadre of Active Guard & Reserve (AGR)
						| personnel in both the Army National Guard and Air National Guard, plus Army Reserve Technicians in the Army National
						| Guard and Air Reserve Technicians (ART) in the Air National Guard.

					p According to a recent study, financial income levels are at the same level that they were in the early 1990s.
						| Unfortunately, the cost of everyday goods, such as
						a(href="#")  groceries
						| , gasoline, and other similar bills has risen quite
						| dramatically. It should be of no surprise, then, that many individuals are struggling financially, and may have
						| difficulty when it comes to making ends meet. Though families from all walks of life may experience financial
						| hardship, military families may be at an increased risk. Fortunately, Just Military Loans is a lending company
						| dedicating to providing Navy loans to individuals who require financial assistance.

					p Navy loans can be used for a variety of purposes. For example, some individuals choose to use Navy loans to pay
						| automotive repair bills, rent or housing costs, or for unexpected emergencies. In other cases, a Navy loan may be
						| used to buy a computer, to pay for childcare expenses, or for debt consolidation bills. With a loan, Navy members
						| should feel free to use the money as they wish, in any manner that they deem fit, without having to make explanations
						| for their financial expenditures.

					p For best results when it comes to applying for a loan, Navy members should be sure to use Just Military Loans.
						| Just Military Loans is a highly reputable service that offers a 100 percent unconditional guarantee on all loans,
						| which is essential for individuals who decide that a loan is not required after all. Before applying for a loan,
						| Navy members may want to consult with the representatives at Just Military Loans. These individuals should be able
						| to answer any questions or concerns faced by potential applicants, and provide assistance when it comes to the loan
						| application process. Apply today to get started!

					blockquote Excellent and professional service. You helped us bring our business to a higher level. Thank you!
						span Elmer Y

					h3 do you qualify?

					p Unlike our competitors and traditional sources of financing that base their lending decisions on credit scores,
						| we look at the business as a whole. Our approvals and offers are based on the business not a three digit
						| credit score. Reliant Funding looks at what you want to achieve and works with you to get there.
						| You may qualify if you meet the following criteria:

					ul
						li In business for at least 12 months.
						li Minimum of $8,000 per month in sales.
						li No open bankruptcies (prior BK is often ok).

					.article__cta In order to find out how much you qualify for
						span  CALL 877-850-0998 NOW.
					.round-button
						a(href="quote.html") apply now


		aside
			form(id="" method="POST" action="" class="c-quick-form")

				.quick-form-success
					.success__text
						span Thank you for your submission
						p We'll be in touch shortly

				span.form-header get a free quick quote

				select.js-summ-select(name="summ" id="summ")
					option(value="$5,000 - $10,000") $5,000
					option(value="$10,000 - $15,000") $10,000
					option(value="$15,000 -$20,000") $15,000
					option(value="$20,000 - $25,000") $20,000
					option(value="$30,000 - $35,000") $30,000
					option(value="$35,000 - $50,000") $35,000
					option(value="$50,000 - $75,000") $50,000
					option(value="$75,000 - $150,000") $75,000
					option(value="$150,000 - $250,000") $150,000
					option(value="More than $250,000") More than $250,000

				.form-row
					label(for="first_name") First name
						span *
					input(type="text" name="first_name" id="first_name")

				.form-row
					label(for="last_name") Last name
						span *
					input(type="text" name="last_name" id="last_name")

				.form-row
					label(for="company") Company
						span *
					input(type="text" name="company" id="company")

				.form-row
					label(for="email") Email
						span *
					input(type="email" name="email" id="email")

				.form-row
					label(for="phone") Phone
						span *
					input(type="text" name="phone" id="phone" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')")

				.form-info To qualify, your business must have more than $100,000 in gross annual revenue, and be in business
					| more than 6 months with no open bankruptcies.


				a.big-button(href="quote.html") Next

			.disclaimer
				span We never share your information

			.c-aside-compare
				img(src="assets/images/aside-compare5.jpg")

				table
					thead
						tr
							th Comparison
							th Veterans
								br
								|Banker
							th Banks
					tbody
						tr
							td Approvals within 24 hours

							td
								i.check-green
							td
								i.none
						tr
							td Funding in as little as 3 days

							td
								i.check-green
							td
								i.none
						tr
							td Renewable source of funds

							td
								i.check-green
							td
								i.none
						tr
							td No personal collateral or assets

							td
								i.check-green
							td
								i.none
						tr
							td Minimal paperwork

							td
								i.check-green
							td
								i.none


