extends ../layouts/default

block head
	- pageTitle = 'Blogpost';

block content
	.container
		.main-content
			article

				.breadcrumbs
					a(href="/") Home
					a(href="#") Blog
					a.current(href="#") A historical look at how Memorial Day came to be

				.article__title
					span post
					h1 A historical look at how Memorial Day came to be

				.article__text
					img(src="assets/images/post.jpg")

					p There aren't many days of the year that virtually all
						a(href="#")  Americans
						|  observe, but Memorial Day happens to be one of
						| them. Schools close, government services like the U.S. Postal Service take a break for the day and as a
						| recent survey from Bloomberg indicates, 97 percent of American employers will provide their workers with
						| paid time off to spend with their families and loved ones.

					p It's for good reason that Memorial Day is given this kind of respect, as this is the one day of the year in which
						| everyone pays tribute to the men and women who gave their lives for the cause of freedom. Yet while millions of
						| people will participate in moments of silence and visit area cemeteries, many people aren't aware of when
						| Memorial Day became a tradition. For that, a trip down memory lane is in order.

					p t started with the conclusion of the U.S. Civil War, which lasted from 1861 to 1865. Of course, the Civil War
						| pitted the Union North against the
						a(href="#")  Confederate
						|  South, so every life that was lost was American. At more than
						| 618,200, more Americans died in the Civil War than any other war since or before then, according to historians.

					h3 Arlington National Cemetery home to first memorial

					p The first Decoration Day memorial took place in Arlington National Cemetery, under the direction of then General
						| James Garfield. Garfield would go on to become president 13 years later in 1881. It's estimated that 5,000 people
						| took part in decorating 20,000 graves of Union and Confederate soldiers who died in battle. These traditions
						| continued over the years, but Memorial Day wasn't officially recognized as a federal holiday until 1971, three
						| years after Congress passed the Uniform Monday Holiday Act. This is the reason why Memorial Day is recognized
						| not a specific date of the month, but rather the last Monday in May. Of course, many of the same tributes of
						| yesteryear are still in place, like the ceremonial service at Arlington National Cemetery. Since World War I,
						| the president of the United States has laid a wreath at the tomb of the unknown soldier, done as a way to honor
						|the fallen who aren't accounted for.


		aside
			.c-banner
				h2 Get Started Today!

				i.c-banner__icon

				span.c-banner__slogan A fast, simple bridge loan process

				p In order to get the full experience you need to sign up. It takes only 30 seconds!

				a.simple-button(href="quote.html") quick quote!


			.c-twitter-feed
				.c-twitter-feed__header twitter feed

				.c-twitter-feed__content

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.article__divider

					.c-twitter-feed__follow
						i.twitter-icon
						a(href="#") Follow us on Twitter


