pho ../layouts/default

block head
	- pageTitle = 'First Responders';

block content
	.container
		.main-content
			article
				.article__header
					img(src="assets/images/premium.jpg")
					.caption Veterans Banker offers unmatched terms for businesses that have earned it

				.breadcrumbs
					a(href="/") Home
					a(href="#") Types of Loans We Offer
					a.current(href="premium.html") Premium Programs

				.article__title
					span oberview
					h1 Premium Programs

				.article__text
					p While Reliant Funding is proud to serve businesses at every stage of their growth, we realize there are some
						| businesses that are stronger and more established than others. Those stronger businesses deserve a product
						| with more favorable terms. Reliant Funding is pleased to offer its Premium Program to the owners of businesses
						| that are proven.

					p A business with a track record and proven sales cycles may qualify for the Reliant Funding Premium Program. This
						| program is available for all of our financing products. The Reliant Funding Premium Program often offers
						| businesses larger funding amounts, longer terms, lower cost of capital and more flexibility. We believe that
						| all businesses will need funding and work hard to ensure that our programs present fair, responsible offers.
						| Owners should take solace in knowing that the stronger your business, the better your offer from Reliant Funding.
						| We strive to provide options that will work for you. After all, if the offers we provide do not work for you,
						| they will not work for us either.

					h3 VETERANS BANKER Premium Program can be used for ANY need:

					p Our Small Business Loans come with flexible fixed daily payments; this allows you to obtain the money you need for
						| your business now while clearly planning your finances for the future. Reliant Funding offers Small Business
						| Loans $5,000 to $500,000 per location without restrictions on how you use the money.

					ul
						li Drive more business with Advertising and Marketing.
						li Purchase Inventory
						li Business improvements or investments.
						li Repairs to equipment or facility.
						li Pay off outstanding debts, taxes or buyout a partner.
						li Renovation, Expansion, Franchise Required Improvements.
						li Cash Flow, Working Capital, Emergency Funds, etc.

					p With our Premium Program, Reliant Funding can provide $5,000 to $500,000 per location and may deliver this money
						| in as few as 3 business days.

					blockquote Excellent and professional service. You helped us bring our business to a higher level. Thank you!
						span Elmer Y

					h3 VETERANS BANKER Funding

					p Reliant Funding specializes in fast low-documentation financing. The Reliant Funding process is very straightforward
						| and the process for the Premium Program is very similar to our other programs. The only difference is the criteria
						| we apply for approvals. Apply with us using the method of your choice: Phone, Online or via Fax, email or
						| traditional mail. Within 24 hours of receipt your National Account Executive will contact you to discuss the
						| options available to you. Once approved, funding is only a few days away.

					p The money we provide can be used for anything you see fit. We are like the ultimate business partner. Reliant
						| Funding provides the money, gets repaid as you make sales and has no ownership and no say in how you use the
						| money or run your business.

					h3 do you qualify?

					p Unlike our competitors and traditional sources of financing that base their lending decisions on credit scores,
						| we look at the business as a whole. Our approvals and offers are based on the business not a three digit
						| credit score. Reliant Funding looks at what you want to achieve and works with you to get there.
						| You may qualify if you meet the following criteria:

					ul
						li In business for at least 12 months.
						li Minimum of $8,000 per month in sales.
						li No open bankruptcies (prior BK is often ok).

					.article__cta In order to find out how much you qualify for
						span  CALL 877-850-0998 NOW.
					.round-button
						a(href="quote.html") apply now

		aside
			form(id="" method="POST" action="" class="c-quick-form")

				.quick-form-success
					.success__text
						span Thank you for your submission
						p We'll be in touch shortly

				span.form-header get a free quick quote

				select.js-summ-select(name="summ" id="summ")
					option(value="$5,000 - $10,000") $5,000
					option(value="$10,000 - $15,000") $10,000
					option(value="$15,000 -$20,000") $15,000
					option(value="$20,000 - $25,000") $20,000
					option(value="$30,000 - $35,000") $30,000
					option(value="$35,000 - $50,000") $35,000
					option(value="$50,000 - $75,000") $50,000
					option(value="$75,000 - $150,000") $75,000
					option(value="$150,000 - $250,000") $150,000
					option(value="More than $250,000") More than $250,000

				.form-row
					label(for="first_name") First name
						span *
					input(type="text" name="first_name" id="first_name")

				.form-row
					label(for="last_name") Last name
						span *
					input(type="text" name="last_name" id="last_name")

				.form-row
					label(for="company") Company
						span *
					input(type="text" name="company" id="company")

				.form-row
					label(for="email") Email
						span *
					input(type="email" name="email" id="email")

				.form-row
					label(for="phone") Phone
						span *
					input(type="text" name="phone" id="phone" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')")

				.form-info To qualify, your business must have more than $100,000 in gross annual revenue, and be in business
					| more than 6 months with no open bankruptcies.


				a.big-button(href="quote.html") Next

			.disclaimer
				span We never share your information

			.c-aside-compare
				img(src="assets/images/aside-compare4.jpg")

				table
					thead
						tr
							th Comparison
							th Veterans
								br
								|Banker
							th Banks
					tbody
						tr
							td Approvals within 24 hours

							td
								i.check-green
							td
								i.none
						tr
							td Funding in as little as 3 days

							td
								i.check-green
							td
								i.none
						tr
							td Renewable source of funds

							td
								i.check-green
							td
								i.none
						tr
							td No personal collateral or assets

							td
								i.check-green
							td
								i.none
						tr
							td Minimal paperwork

							td
								i.check-green
							td
								i.none


