extends ../layouts/default

block head
	- pageTitle = 'Privacy Policy & Legal Disclaimer';

block content
	.container
		.main-content
			article
				.breadcrumbs
					a(href="/") Home
					a.current(href="privacy.html") Privacy Policy & Legal Disclaimer

				.article__title
					span Please read carefully
					h1 Privacy Policy & Legal Disclaimer

				.article__text

					h3 Privacy Statement

					p Veterans Banker has been offering personal loans to active duty military personnel with fast, efficient and
						| friendly service. We specialize in military lending; whether you need money for car repairs or you have
						| a medical emergency, Just Military Loans has a loan available to fit.

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						| aliqua. Duis aute irure dolor in
						a(href="#")  reprehenderit
						|  in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						| Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim

					h3 Confidentiality

					p Veterans Banker has been offering personal loans to active duty military personnel with fast, efficient and friendly
						| service. We specialize in military lending; whether you need money for car repairs or you have a medical emergency,
						| Just Military Loans has a loan available to fit.

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						| aliqua. Duis aute irure dolor in
						a(href="#")  reprehenderit
						|  in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						| Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					p Veterans Banker has been offering personal loans to active duty military personnel with fast, efficient and friendly
						| service. We specialize in military lending; whether you need money for car repairs or you have a medical emergency,
						| Just Military Loans has a loan available to fit.

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						| aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						| Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					h3 Privacy Statement

					p Veterans Banker has been offering personal loans to active duty military personnel with fast, efficient and friendly
						| service. We specialize in military lending; whether you need
						a(href="#")  money
						|  for car repairs or you have a medical emergency,
						| Just Military Loans has a loan available to fit.

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						| aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						| Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		aside
			.c-banner
				h2 Get Started Today!

				i.c-banner__icon

				span.c-banner__slogan A fast, simple bridge loan process

				p In order to get the full experience you need to sign up. It takes only 30 seconds!

				a.simple-button(href="quote.html") quick quote!


			.c-twitter-feed
				.c-twitter-feed__header twitter feed

				.c-twitter-feed__content

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.c-twitter-feed__item
						.item-header
							.item-ava
								img.ava(src="assets/images/twitter-ava.png")

							.item-author Veterans Banker
								span @VeteransBanker

							.item-time 8 h

						.item-content
							p Just a reminder our offices will be closed on Monday, May 25th, in observance of Memorial Day.

					.article__divider

					.c-twitter-feed__follow
						i.twitter-icon
						a(href="#") Follow us on Twitter




