extends ../layouts/default

block head
	- pageTitle = 'Quick Quote';

block content
	.overlay.overlay-door#charity-modal
		.modal
			h3 support a charity
			p Lorem ipsum dolor sit amet,
				a(href="#")  vv  tt
				|  adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
			a.overlay-close(href="#") close

	.overlay.overlay-door#verify-modal
		.modal
			h3 verify
			p Lorem ipsum dolor sit amet,
				a(href="#")  vv  tt
				|  adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
			a.overlay-close(href="#") close

	.overlay.overlay-door#form-req-error
		.modal
			h3 please fill all fields
			a.overlay-close(href="#") close

	.overlay.overlay-door#form-send-error
		.modal
			h3 oops, something went wrong. please try again
			a.overlay-close(href="#") close

	.overlay.overlay-door#form-email-error
		.modal
			h3 emails are different
			a.overlay-close(href="#") close

	.overlay.overlay-door#form-sms-waiting
		.modal
			h3 enter code from sms
			a.overlay-close(href="#") close

	.overlay.overlay-door#form-email-format-error
		.modal
			h3 enter correct email
			a.overlay-close(href="#") close

	.container
		.main-content

			.breadcrumbs
				a(href="/") Home
				a.current(href="quote.html") Quick Quote

			.article__title
				span Quick Quote
				h1 Get a Free Bridge Loan Quick Quote

				p Make lenders compte for you Bridge Loan Business. Complete this one page application and our loan specialist will
					| help you get the cash you need -
					strong  It's free. It's simple. It's quick.

			form(id="quote-form" method="POST" action="" class="c-full-form")

				fieldset.first-step

					span.form-header нужно how much do you need

					.form-row
						select.js-summ-select(name="summ" id="summ")
							option(value="$5,000 - $10,000") $5,000 - $10,000
							option(value="$10,000 - $15,000") $10,000 - $15,000
							option(value="$15,000 -$20,000") $15,000 -$20,000
							option(value="$20,000 - $25,000") $20,000 - $25,000
							option(value="$30,000 - $35,000") $30,000 - $35,000
							option(value="$35,000 - $50,000") $35,000 - $50,000
							option(value="$50,000 - $75,000") $50,000 - $75,000
							option(value="$75,000 - $150,000") $75,000 - $150,000
							option(value="$150,000 - $250,000") $150,000 - $250,000
							option(value="More than $250,000") More than $250,000

						span.full-form__info Bad credit? No credit? You can still qualify. We offer bridge financing to all credit levels within 700 + industries.

					.form-row
						.input-container
							label(for="first_name") First name
								span *
							input(type="text" name="first_name" id="first_name")

						.input-container
							label(for="last_name") Last name
								span *
							input(type="text" name="last_name" id="last_name")

					.form-row
						.input-container
							label(for="email") Email
								span *
							input(type="email" name="email" id="email")

						.input-container
							label(for="confirm_email") Confirm Email
								span *
							input(type="email" name="confirm_email" id="confirm_email")

					.form-row
						.input-container
							label(for="company") Company Name
								span *
							input(type="text" name="company" id="company")

						.input-container
							label(for="company_site") Company Website (optional)
							input(type="text" name="company_site" id="company_site")

					.form-row
						.input-container
							label(for="phone") Phone
								span *
							input(type="text" name="phone" id="phone" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')")

						.input-container
							label(for="cellphone") Cellphone
								span *
							input(type="text" name="cellphone" id="cellphone" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')")

					span.form-header Preferred mailing address

					.form-row
						.input-container
							label(for="address") Address
								span *
							input(type="text" name="address" id="address")

						.input-container
							label(for="city") City
								span *
							input(type="text" name="city" id="city")

					.form-row
						.input-container
							label(for="state") State
								span *
							input(type="text" name="state" id="state")

						.input-container
							label(for="zip") zip
								span *
							input(type="text" name="zip" id="zip")

					span.form-header Your Identity Information

					.form-row.textarea
						.input-container
							label(for="birth") Date of Birth
								span *
							.date-container
								select(name="birth" id="birth" data-placeholder="MM")
									option(value="")
									option(value="January") January
									option(value="February") February
									option(value="March") March
									option(value="April") April
									option(value="May") May
									option(value="June") June
									option(value="July") July
									option(value="August") August
									option(value="September") September
									option(value="October") October
									option(value="November") November
									option(value="December") December

								select(name="date" id="date" data-placeholder="DD")
									option(value="")
									option(value="1") 1
									option(value="2") 2
									option(value="3") 3
									option(value="4") 4
									option(value="5") 5
									option(value="6") 6
									option(value="7") 7
									option(value="8") 8
									option(value="9") 9
									option(value="10") 10
									option(value="11") 11
									option(value="12") 12
									option(value="13") 13
									option(value="14") 14
									option(value="15") 15
									option(value="16") 16
									option(value="17") 17
									option(value="18") 18
									option(value="19") 19
									option(value="20") 20
									option(value="21") 21
									option(value="22") 22
									option(value="23") 23
									option(value="24") 24
									option(value="25") 25
									option(value="26") 26
									option(value="27") 27
									option(value="28") 28
									option(value="29") 29
									option(value="30") 30
									option(value="31") 31

								select(name="year" id="year" data-placeholder="YY")
									option(value="")
									option(value="1999") 1999
									option(value="1998") 1998
									option(value="1997") 1997
									option(value="1996") 1996
									option(value="1995") 1995
									option(value="1994") 1994
									option(value="1993") 1993
									option(value="1992") 1992
									option(value="1991") 1991
									option(value="1990") 1990
									option(value="1989") 1989
									option(value="1988") 1988
									option(value="1987") 1987
									option(value="1986") 1986
									option(value="1985") 1985
									option(value="1984") 1984
									option(value="1983") 1983
									option(value="1982") 1982
									option(value="1981") 1981
									option(value="1980") 1980
									option(value="1979") 1979
									option(value="1978") 1978
									option(value="1977") 1977
									option(value="1976") 1976
									option(value="1975") 1975
									option(value="1974") 1974
									option(value="1973") 1973
									option(value="1972") 1972
									option(value="1971") 1971
									option(value="1970") 1970
									option(value="1969") 1969
									option(value="1968") 1968
									option(value="1967") 1967
									option(value="1966") 1966
									option(value="1965") 1965
									option(value="1964") 1964
									option(value="1963") 1963
									option(value="1962") 1962
									option(value="1961") 1961
									option(value="1960") 1960
									option(value="1959") 1959
									option(value="1958") 1958
									option(value="1957") 1957
									option(value="1956") 1956
									option(value="1955") 1955
									option(value="1954") 1954
									option(value="1953") 1953
									option(value="1952") 1952
									option(value="1951") 1951
									option(value="1950") 1950
									option(value="1949") 1949
									option(value="1948") 1948
									option(value="1947") 1947
									option(value="1946") 1946
									option(value="1945") 1945
									option(value="1944") 1944
									option(value="1943") 1943
									option(value="1942") 1942
									option(value="1941") 1941
									option(value="1940") 1940

					.form-row
						.input-container.radio-container
							input(type="radio" name="military" id="military" value="military" checked)
							label(for="military") Military
							input(type="radio" name="military" id="responders" value="responders")
							label(for="responders") First Responder

					.military-checked
						.form-row.textarea
							.input-container
								label(for="duty") Duty Status
									span *
								select(name="duty" id="duty" data-placeholder="Select one")
									option(value="")
									option(value="val1") Some option
									option(value="val2") Another value

							.input-container
								label(for="branch") Branch
									span *
								select(name="branch" id="branch" data-placeholder="Select one")
									option(value="")
									option(value="val11") Some option
									option(value="val22") Another value

						.form-row.textarea
							.input-container
								label(for="rank") Rank
									span *
								select(name="rank" id="rank" data-placeholder="Select one")
									option(value="")
									option(value="val111") Some option
									option(value="val222") Another value

							.input-container
								label(for="years") Years of Service
									span *
								select(name="years" id="years" data-placeholder="YYYY")
									option(value="")
									option(value="val1111") Some option
									option(value="val2222") Another value

						.form-row.textarea
							.input-container
								label(for="location") Base Location State
									span *
								select(name="location" id="location" data-placeholder="Select one")
									option(value="")
									option(value="val01111") Some option
									option(value="val02222") Another value

					.responders-checked
						.form-row.textarea
							.input-container
								label(for="duty") Duty Status
									span *
								select(name="duty" id="duty" data-placeholder="Select one")
									option(value="")
									option(value="val1") Some option
									option(value="val2") Another value

							.input-container
								label(for="branch") Branch
									span *
								select(name="branch" id="branch" data-placeholder="Select one")
									option(value="")
									option(value="val11") Some option
									option(value="val22") Another value

						.form-row.textarea
							.input-container
								label(for="badge") Badge ID#
									span *
								input(type="text" name="badge" id="badge" placeholder="Type your badge id·")
							.input-container
								label(for="years") Years of Service
									span *
								select(name="years" id="years" data-placeholder="YYYY")
									option(value="")
									option(value="val1111") Some option
									option(value="val2222") Another value

					a.big-button.js-next(href="#") last step

				fieldset.last

					.quick-form-success
						.success__text
							span Thank you for your submission
							p We'll be in touch shortly

					span.form-header about your business

					.form-row.textarea
						.input-container
							label(for="residence") State of Legal Residence
								span *
							select(name="residence" id="residence" data-placeholder="Select one")
								option(value="")
								option(value="state") State
								option(value="state1") State 1
								option(value="state2") State 2

						.input-container
							label(for="bus_age") How old is your business?
								span *
							select(name="bus_age" id="bus_age" data-placeholder="Select one")
								option(value="")
								option(value="1-3 years") 1-3 years
								option(value="3-5 years") 3-5 years
								option(value="5-10 years") 5-10 years
								option(value="More than 10 years") More than 10 years

					.form-row.textarea
						.input-container
							label(for="revenue") Annual Revenue?
								span *
							select(name="revenue" id="revenue" data-placeholder="Select one")
								option(value="")
								option(value="$10,000") $10,000
								option(value="$50,000") $50,000
								option(value="$100,000") $100,000

						.input-container
							label(for="soon") How soon do you need the money?
								span *
							select(name="soon" id="soon" data-placeholder="Select one")
								option(value="")
								option(value="immediatly") Immediatly
								option(value="1 week") 1 week
								option(value="30 days") 30 days
								option(value="More than 30 days") More than 30 days

					.form-row.textarea
						.input-container
							label(for="purpose") Purpose of Bridge Loan
								span *
							select(name="purpose" id="purpose" data-placeholder="Select one")
								option(value="")
								option(value="Expansion") Expansion
								option(value="Buying an existing business") Buying an existing business
								option(value="Buying out a partner") Buying out a partner
								option(value="Marketing | Advertising") Marketing | Advertising
								option(value="Working Capital") Working Capital
								option(value="Refinancing | Debt Consolidation") Refinancing | Debt Consolidation
								option(value="Remodeling an existing location") Remodeling an existing location
								option(value="Purchasing Equipment") Purchasing Equipment
								option(value="Repairing Equipment") Repairing Equipment
								option(value="Other") Other

						.input-container
							label(for="about") Tell us about your business, it’s helpful (optional)
							input(type="file" name="about" id="about" data-placeholder="Upload Attachment")

					.form-row.textarea
						.input-container
							label(for="ent-type") Entity Type?
								span *
							select(name="ent-type" id="ent-type" data-placeholder="Select one")
								option(value="")
								option(value="S Corporation") S Corporation
								option(value="LLC") LLC
								option(value="LLP") LLP
								option(value="Sole Proprietorship") Sole Proprietorship

						.input-container
							label(for="industry") Industry?
								span *
							select(name="industry" id="industry" data-placeholder="Select one")
								option(value="")
								option(value="FOOD") FOOD
								option(value="Restaurant, Cafe or Bar-Lounge") Restaurant, Cafe or Bar-Lounge
								option(value="Catering & Service") Catering & Service
								option(value="HEALTH") HEALTH
								option(value="Dentistry") Dentistry
								option(value="Veterinary Clinic") Veterinary Clinic
								option(value="Physicians | Doctors Office") Physicians | Doctors Office
								option(value="Other Health Services") Other Health Services
								option(value="HOME SERVICES") HOME SERVICES
								option(value="HVAC & Plumbing") HVAC & Plumbing
								option(value="Interior Decoration & Design") Interior Decoration & Design
								option(value="Cleaning") Cleaning
								option(value="Other Home Services") Other Home Services
								option(value="PHYSICAL RETAIL & DISTRIBUTION") PHYSICAL RETAIL & DISTRIBUTION
								option(value="Apparel & Fashion") Apparel & Fashion
								option(value="Automotive, ATV, Motor Homes & Motorcycles") Automotive, ATV, Motor Homes & Motorcycles
								option(value="Electronics") Electronics
								option(value="Grocery and Baked Goods") Grocery and Baked Goods
								option(value="Building Materials & Home Furnishings") Building Materials & Home Furnishings
								option(value="Garden | Retail Nursery") Garden | Retail Nursery
								option(value="Bicycling & Sporting Equipment") Bicycling & Sporting Equipment
								option(value="Alcohol") Alcohol
								option(value="Adult & Mature") Adult & Mature
								option(value="Firearms") Firearms
								option(value="Florists") Florists
								option(value="Other Merchandise") Other Merchandise
								option(value="RETAIL FACILITIES") RETAIL FACILITIES
								option(value="Beauty Salon, Barber, Spa") Beauty Salon, Barber, Spa
								option(value="Gyms & Fitness Clubs") Gyms & Fitness Clubs
								option(value="Child Day Care") Child Day Care
								option(value="Oil & Natural Gas") Oil & Natural Gas
								option(value="Printing") Printing
								option(value="Astrology & Horoscopes") Astrology & Horoscopes
								option(value="Laundry & Garment") Laundry & Garment
								option(value="Cemeteries & Funeral Homes") Cemeteries & Funeral Homes
								option(value="MANUFACTURING") MANUFACTURING
								option(value="Construction & Materials") Construction & Materials
								option(value="Electronics") Electronics
								option(value="Other Merchandise") Other Merchandise
								option(value="Apparel & Accessories") Apparel & Accessories
								option(value="Automotive and Bicycle") Automotive and Bicycle
								option(value="HOSPITALITY") HOSPITALITY
								option(value="Adult, Senior & Assisted Living Center") Adult, Senior & Assisted Living Center
								option(value="Hotel | Motel | Lodging") Hotel | Motel | Lodging
								option(value="BUSINESS SERVICES") BUSINESS SERVICES
								option(value="Marketing | Advertising") Marketing | Advertising
								option(value="Architecture & Landscape Design") Architecture & Landscape Design
								option(value="Strategic and General Consulting") Strategic and General Consulting
								option(value="FINANCE") FINANCE
								option(value="Tax Accounting & Consulting") Tax Accounting & Consulting
								option(value="Brokerage or Investment Banking") Brokerage or Investment Banking
								option(value="Financial | Wealth Advisory") Financial | Wealth Advisory
								option(value="Investment Management") Investment Management
								option(value="Credit Restoration | Protection") Credit Restoration | Protection
								option(value="Currency Exchange | Transfer") Currency Exchange | Transfer
								option(value="Financial Accounting") Financial Accounting
								option(value="Lending, Cash Advance, Factoring") Lending, Cash Advance, Factoring
								option(value="TRAVEL & TRANSPORTATION") TRAVEL & TRANSPORTATION
								option(value="Trucking & Commercial") Trucking & Commercial
								option(value="Shuttles, Buses & Personal") Shuttles, Buses & Personal
								option(value="Travel Planning & Services") Travel Planning & Services
								option(value="Aviation") Aviation
								option(value="RECREATION") RECREATION
								option(value="Scuba, Skydive, Fitness, Training Services") Scuba, Skydive, Fitness, Training Services
								option(value="Gambling") Gambling
								option(value="Other Recreation") Other Recreation
								option(value="REAL ESTATE") REAL ESTATE
								option(value="General Contractor") General Contractor
								option(value="Investment | Speculative") Investment | Speculative
								option(value="Landscaping | Home Repair & Upkeep") Landscaping | Home Repair & Upkeep
								option(value="MEDIA") MEDIA
								option(value="Online") Online
								option(value="Print Publications & Magazines") Print Publications & Magazines
								option(value="MISCELLANEOUS") MISCELLANEOUS
								option(value="Law Firms & Attorneys") Law Firms & Attorneys
								option(value="Personal Consulting, Training & Coaching") Personal Consulting, Training & Coaching
								option(value="Direct Selling & Mult-Level Marketing") Direct Selling & Mult-Level Marketing
								option(value="Other Industry") Other Industry

					.form-row.textarea

						.input-container.radio-container
							label.clean(for="cards") Does your business process credit cards?
								span *

							input(type="radio" name="credit" id="credit_yes" value="credit_yes" checked)
							label.top(for="credit_yes") Yes

							input(type="radio" name="credit" id="credit_no" value="credit_no")
							label.top(for="credit_no") No

							.card-receipts
								input(type="text" name="card-receipts" id="card-receipts" placeholder="Monthly Credit Card Receipts")

						.input-container
							label(for="score") Credit Score
								span *
							select(name="score" id="score" data-placeholder="Select one")
								option(value="")
								option(value="Excellent (700+)") Excellent (700+)
								option(value="Excellent (660-699)") Excellent (660-699)
								option(value="Good (640-659)") Good (640-659)
								option(value="Good (620-639)") Good (620-639)
								option(value="Fair (580-619)") Fair (580-619)
								option(value="Challenged (500-579)") Challenged (500-579)

					.form-row.textarea
						.input-container
							label(for="bankruptcy") Have you ever declared bankruptcy?
								span *
							select(name="bankruptcy" id="bankruptcy" data-placeholder="Select one")
								option(value="")
								option(value="No Bankruptcy") No Bankruptcy
								option(value="Discharged 1+ year ago") Discharged 1+ year ago
								option(value="Discharged 2+ year ago") Discharged 2+ year ago
								option(value="Discharged 4+ year ago") Discharged 4+ year ago
								option(value="Discharged 7+ year ago") Discharged 7+ year ago

						.input-container
							label(for="profit") Is your business profitable?
								span *
							select(name="profit" id="profit" data-placeholder="Select one")
								option(value="")
								option(value="yes") Yes
								option(value="no") No


					span.form-header Support a charity
					p.small-text Name a charitable organization you would like us to support on your behalf
						span *
						i.help.js-popup(data-url="charity-modal")

					.form-row
						.input-container
							label(for="name") Contact name
							input(type="text" name="name" id="name")

						.input-container
							label(for="site") Website
							input(type="text" name="site" id="site")

					.form-row
						.input-container
							label(for="email") Email
							input(type="email" name="email" id="email")

						.input-container
							label(for="phone1") Phone
							input(type="text" name="phone1" id="phone1")

					.form-row
						.input-container.checkboxes-container
							p.small-text If you don't have one, choose one of these

							input(type="checkbox" name="h4hus" id="h4hus")
							label(for="h4hus")
								a(href="http://www.h4hus.org" target="blank") H4HUS.org

							input(type="checkbox" name="answerthecall" id="answerthecall")
							label(for="answerthecall")
								a(href="http://www.answerthecall.org" target="blank") AnswerTheCall.org

					.form-row
						.checkboxes-container.js-verify
							input(type="checkbox" name="les" id="les")
							label(for="les") I understand that I will need to provide my current LES for approval.

							input(type="checkbox" name="terms" id="terms")
							label(for="terms") I have read and agree to the
								a(href="#")  Terms of Use.

							input(type="checkbox" name="ondesk" id="ondesk")
							label(for="ondesk") I understand that a representative from your OnDeck financing unit will call me to review my
								| application and answer my questions.

					.form-row
						.verify
							button.verify-button.disabled(href="#" disabled) verify
							//- img(src="assets/images/verify.jpg")
							p Help protect our community by verifying who you are. A 4 digit number wll be sent to you via text and email.
								| Please enter that number to submit your application.
								i.help.js-popup(data-url="verify-modal")

					.form-row
						.submit.disabled
							input(type="text" name="verify_code" id="verify" maxlength="4" disabled="disabled" placeholder="Enter code here" class="digits-only")
							//input(type="submit" value="submit" disabled)
							button#submit-button(type="button") submit

					a.c-full-form__back.js-back(href="#") < Back

				.disclaimer
					span We never share your information



		aside

			.full-form-info
				span.c-article__list__header Basic Requirements

				ul.c-article__list
					li At least 1 full year in business under the applicant’s ownership.
						span – There must be at least 50% ownership on the application.
					li At least $100,000 in Gross Annual Revenue
						span – Since we only look at 3 months of statements, the business must deposit
							| at least $8,400 into their account per month, for all 3 months.
					li At least a 500 Personal Credit Score
					li 5 Individual deposits into the account per month
					li Average balance of at least $1,000 over the 3 month span
					li Minimal amount of NSF’s and Negative Ending Days



