extends ../layouts/default

block head
	- pageTitle = 'First Responders';

block content
	.container
		.main-content
			article
				.article__header
					img(src="assets/images/firefighters.jpg")
					.caption If you're an active duty member of the firefighters, whether an officer or enlisted, and need a military loan, Veterans Banker Bridnge Loans has the loan for you.

				.breadcrumbs
					a(href="/") Home
					a(href="#") First Responders
					a.current(href="responders.html") Firefighters Bridge Loans

				.article__title
					span first responders
					h1 Firefighters Bridge Loans

				.article__text
					p We offer Firefighters bridge loans with competitive interest rates and manageable payment schedules to fit all
						| budgets and needs.

					p A firefighter (also known as a fireman or firewoman) is a rescuer extensively trained in firefighting,
						| primarily to extinguish hazardous fires that threaten property and civilian or natural populations, and to
						| rescue people from dangerous situations, like collapsed or burning buildings or crashed vehicles.

					p The
						a(href="#")  complexity
						|  of modern industrialized life with a greater prominence of hazards has created an increase
						| in the skills needed in firefighting technology and a broadening of the firefighter-rescuer's remit. They
						| sometimes provide emergency medical services, for example. The fire service, or fire and rescue service, also
						| known in some countries as the fire brigade or fire department, is one of the three main emergency services.
						| Firefighting and firefighters have become ubiquitous around the world, from wildlands to urban areas, and aboard
						| ships. According to Merriam-Webster's Dictionary, the
						a(href="#")  English
						|  word firefighter has been used since 1903. In recent
						| decades it has become the preferred term, replacing fireman, since more women serve as firefighters, and also
						| because the term fireman can have other meanings, including someone who sets, stokes, or tends fires, especially
						| in designated fireplaces – the opposite of the firefighting role.

					p In many countries, firefighters may be employed as full-time workers and paid a salary. Additionally, there are
						| volunteer firefighters (who are theoretically unpaid) and retained firefighters (or auxiliary firefighters, who
						| are paid for the specific time they are on duty, i.e., permanent part-time career firefighters) on call as
						| required.[3] In such countries as the United Kingdom, the use of additional retained firefighters is standard.
						| In Portugal, for example, the use of volunteer firefighters is standard, along with career firefighters. In
						| Australia there are volunteer brigades which are mostly unpaid rural services, although traditionally they are
						| paid by their employers if called out during usual working hours.

					blockquote Excellent and professional service. You helped us bring our business to a higher level. Thank you!
						span Elmer Y

					h3 do you qualify?

					p Unlike our competitors and traditional sources of financing that base their lending decisions on credit scores,
						| we look at the business as a whole. Our approvals and offers are based on the business not a three digit
						| credit score. Reliant Funding looks at what you want to achieve and works with you to get there.
						| You may qualify if you meet the following criteria:

					ul
						li In business for at least 12 months.
						li Minimum of $8,000 per month in sales.
						li No open bankruptcies (prior BK is often ok).

					.article__cta In order to find out how much you qualify for
						span  CALL 877-850-0998 NOW.
					.round-button
						a(href="quote.html") apply now

		aside
			form(id="" method="POST" action="" class="c-quick-form")

				.quick-form-success
					.success__text
						span Thank you for your submission
						p We'll be in touch shortly

				span.form-header get a free quick quote

				select.js-summ-select(name="summ" id="summ")
					option(value="$5,000 - $10,000") $5,000
					option(value="$10,000 - $15,000") $10,000
					option(value="$15,000 -$20,000") $15,000
					option(value="$20,000 - $25,000") $20,000
					option(value="$30,000 - $35,000") $30,000
					option(value="$35,000 - $50,000") $35,000
					option(value="$50,000 - $75,000") $50,000
					option(value="$75,000 - $150,000") $75,000
					option(value="$150,000 - $250,000") $150,000
					option(value="More than $250,000") More than $250,000

				.form-row
					label(for="first_name") First name
						span *
					input(type="text" name="first_name" id="first_name")

				.form-row
					label(for="last_name") Last name
						span *
					input(type="text" name="last_name" id="last_name")

				.form-row
					label(for="company") Company
						span *
					input(type="text" name="company" id="company")

				.form-row
					label(for="email") Email
						span *
					input(type="email" name="email" id="email")

				.form-row
					label(for="phone") Phone
						span *
					input(type="text" name="phone" id="phone" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')")

				.form-info To qualify, your business must have more than $100,000 in gross annual revenue, and be in business
					| more than 6 months with no open bankruptcies.


				a.big-button(href="quote.html") Next

			.disclaimer
				span We never share your information

			.c-aside-compare
				img(src="assets/images/aside-compare1.jpg")

				table
					thead
						tr
							th Comparison
							th Veterans
								br
								|Banker
							th Banks
					tbody
						tr
							td Approvals within 24 hours

							td
								i.check-green
							td
								i.none
						tr
							td Funding in as little as 3 days

							td
								i.check-green
							td
								i.none
						tr
							td Renewable source of funds

							td
								i.check-green
							td
								i.none
						tr
							td No personal collateral or assets

							td
								i.check-green
							td
								i.none
						tr
							td Minimal paperwork

							td
								i.check-green
							td
								i.none


