extends ../layouts/default

block head
	- pageTitle = 'First Responders';

block content
	.container
		.main-content
			article
				.article__header
					img(src="assets/images/serve.jpg")
					.caption We’re 100% focused on small business.

				.breadcrumbs
					a(href="/") Home
					a.current(href="serve.html") We serve you

				.article__title
					span we serve you
					h1 We Believe In Small Business

				.article__text
					p We’re 100% focused on small business.

					p We launched OnDeck in 2007 to solve a major issue facing small businesses: financing. We combined our passion for
						| Main Street with cutting-edge technology to evaluate businesses based on their actual performance, not personal
						| credit.

					p That’s enabled us to say “yes” more often and faster than traditional lenders. And that lets owners spend their
						| time where it should be—on growing their business, not seeking financing.

					.text-block-img-rigth
						p Loans in the United States and Canada
							span 30,000+ Businesses Served
						img(src="assets/images/canada.png")

					.text-block-img-left
						img(src="assets/images/bbb-rating.png")
						p A+ Better Business Bureau Rating
							span 93% of Our Customers Would Recommend Us to a Friend

					.principles
						span.section-motto our core principles
						h2.section-header Lorem ipsum dolor sit amet, consectetur adipiscing

						ul.c-simple-list
							li
								span Offering Responsible Business Loans:
								| We are committed to building a sustainable and scalable model of small business
								| financing that does not require public support or subsidy and that enables small businesses
								| to grow and thrive.
							li
								span Providing Truthful, Transparent, and Complete Information:
								| We are committed to ensuring that our small business customers are provided truthful, transparent,
								| and complete information about our loans so that they can make prudent and informed decisions.
							li
								span Enhancing the Customer Experience:
								| We are committed to ensuring that all aspects of a customer’s OnDeck experience meet the highest
								| standards of service excellence.
							li
								span Respecting Our Customers:
								| We are committed to serving as a trusted partner, promptly and fairly responding to inquiries,
								| and treating our small business customers with respect in all matters.
							li
								span Focusing on Privacy and Data Security:
								| We are committed to ensuring the privacy and security of our small business customer’s information,
								| and providing transparent disclosure of how borrower information is used.
							li
								span Living by Our OnDeck Values:
								| We are committed to attracting and retaining the best team of professionals in the industry.

				.article__divider

				.round-button
					a(href="quote.html") apply now



		aside
			form(id="" method="POST" action="" class="c-quick-form")

				.quick-form-success
					.success__text
						span Thank you for your submission
						p We'll be in touch shortly

				span.form-header get a free quick quote

				select.js-summ-select(name="summ" id="summ")
					option(value="$5,000 - $10,000") $5,000
					option(value="$10,000 - $15,000") $10,000
					option(value="$15,000 -$20,000") $15,000
					option(value="$20,000 - $25,000") $20,000
					option(value="$30,000 - $35,000") $30,000
					option(value="$35,000 - $50,000") $35,000
					option(value="$50,000 - $75,000") $50,000
					option(value="$75,000 - $150,000") $75,000
					option(value="$150,000 - $250,000") $150,000
					option(value="More than $250,000") More than $250,000

				.form-row
					label(for="first_name") First name
						span *
					input(type="text" name="first_name" id="first_name")

				.form-row
					label(for="last_name") Last name
						span *
					input(type="text" name="last_name" id="last_name")

				.form-row
					label(for="company") Company
						span *
					input(type="text" name="company" id="company")

				.form-row
					label(for="email") Email
						span *
					input(type="email" name="email" id="email")

				.form-row
					label(for="phone") Phone
						span *
					input(type="text" name="phone" id="phone" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')")

				.form-info To qualify, your business must have more than $100,000 in gross annual revenue, and be in business
					| more than 6 months with no open bankruptcies.


				a.big-button(href="quote.html") Next

			.disclaimer
				span We never share your information

			.c-aside-compare
				img(src="assets/images/aside-compare2.jpg")

				table
					thead
						tr
							th Comparison
							th Veterans
								br
								|Banker
							th Banks
					tbody
						tr
							td Approvals within 24 hours

							td
								i.check-green
							td
								i.none
						tr
							td Funding in as little as 3 days

							td
								i.check-green
							td
								i.none
						tr
							td Renewable source of funds

							td
								i.check-green
							td
								i.none
						tr
							td No personal collateral or assets

							td
								i.check-green
							td
								i.none
						tr
							td Minimal paperwork

							td
								i.check-green
							td
								i.none


