extends ../layouts/default

block head
	- pageTitle = 'Type of loans';

block content
	.container
		.main-content
			article
				.breadcrumbs
					a(href="/") Home
					a.current(href="types.html") Type of Loans

				.article__title
					span type of loans
					h1 Our Products

				.article__text

					p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur
						| sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					.types
						.types__item
							.types__item__icon
								img(src="assets/images/icons/small-business-icon.png" width="67" height="63")
							.types__item__text
								span Small Business Loans
								p Funding Tailored to Your Business, Quickly and Without Hassle from
									strong  Veterans Bankers
									sup TM
									|.
							a.list-more(href="small-business-loans.html") Learn more

						.types__item
							.types__item__icon
								img(src="assets/images/icons/cash-icon.png" width="67" height="63")
							.types__item__text
								span Merchant cash advance
								p
									strong Veterans Bankers
									sup TM
									|  provides Merchant Cash Advance offers and service that are not found elsewhere in the
									| industry.
								a.list-more(href="merchant-cash-advance.html") Learn more

						.types__item
							.types__item__icon
								img(src="assets/images/icons/premium-icon.png" width="67" height="57")
							.types__item__text
								span Premium programms
								p
									strong Veterans Bankers
									sup TM
									|  provides Merchant Cash Advance offers and service that are not found elsewhere in the
									| industry.
								a.list-more(href="premium.html") Learn more

						.types__item
							.types__item__icon
								img(src="assets/images/icons/equipment-icon.png" width="72" height="50")
							.types__item__text
								span Equipement Leasing
								p Funding from
									strong  Veterans Bankers
									sup TM
									|  to purchase new or used equipment with unbeatable terms.

								a.list-more(href="equipment-leasing.html") Learn more

						.types__item
							.types__item__icon
								img(src="assets/images/icons/qa-icon.png" width="63" height="63")
							.types__item__text
								span Funding Q & A
								p Have question? We have answers! Contact us today and let us know how can we help you.

								a.list-more(href="faq.html") Learn more

						.types__item
							.types__item__icon
								img(src="assets/images/icons/restricted-icon.png" width="63" height="63")
							.types__item__text
								span Restricted Industries
								p We have a list of restricted industries that at this moment do not are elegible for loan. Please review it.

								a.list-more(href="industries.html#restricted-industries") Learn more





				.article__divider

				.round-button
					a(href="quote.html") apply now


		aside
			form(id="" method="POST" action="" class="c-quick-form")

				.quick-form-success
					.success__text
						span Thank you for your submission
						p We'll be in touch shortly

				span.form-header get a free quick quote

				select.js-summ-select(name="summ" id="summ")
					option(value="$5,000 - $10,000") $5,000
					option(value="$10,000 - $15,000") $10,000
					option(value="$15,000 -$20,000") $15,000
					option(value="$20,000 - $25,000") $20,000
					option(value="$30,000 - $35,000") $30,000
					option(value="$35,000 - $50,000") $35,000
					option(value="$50,000 - $75,000") $50,000
					option(value="$75,000 - $150,000") $75,000
					option(value="$150,000 - $250,000") $150,000
					option(value="More than $250,000") More than $250,000

				.form-row
					label(for="first_name") First name
						span *
					input(type="text" name="first_name" id="first_name")

				.form-row
					label(for="last_name") Last name
						span *
					input(type="text" name="last_name" id="last_name")

				.form-row
					label(for="company") Company
						span *
					input(type="text" name="company" id="company")

				.form-row
					label(for="email") Email
						span *
					input(type="email" name="email" id="email")

				.form-row
					label(for="phone") Phone
						span *
					input(type="text" name="phone" id="phone" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')")

				.form-info To qualify, your business must have more than $100,000 in gross annual revenue, and be in business
					| more than 6 months with no open bankruptcies.


				a.big-button(href="quote.html") Next

			.disclaimer
				span We never share your information

			.c-aside-compare
				img(src="assets/images/aside-compare4.jpg")

				table
					thead
						tr
							th Comparison
							th Veterans
								br
								|Banker
							th Banks
					tbody
						tr
							td Approvals within 24 hours

							td
								i.check-green
							td
								i.none
						tr
							td Funding in as little as 3 days

							td
								i.check-green
							td
								i.none
						tr
							td Renewable source of funds

							td
								i.check-green
							td
								i.none
						tr
							td No personal collateral or assets

							td
								i.check-green
							td
								i.none
						tr
							td Minimal paperwork

							td
								i.check-green
							td
								i.none




