extends ../layouts/default

block head
	- pageTitle = 'First Responders';

block content
	.container
		.main-content
			article
				.article__header
					img(src="assets/images/why.jpg")
					.caption Lorem ipsum dolor sit amet, consectetur adipiscing elit

				.breadcrumbs
					a(href="/") Home
					a.current(href="why.html") Why a Bridge Loan

				.article__title
					span Why a Bridge Loan
					h1 What Is A Bridge Loan?

				.article__text
					p
						| A bridge loan is a type of short-term loan, typically taken out for a period of 2 weeks to 3 years pending
						| the arrangement of larger or
						a(href="#")  longer-term
						|  financing. It is usually called a bridging loan in the United Kingdom,
						| also known as a "caveat loan," and also known in some applications as a swing loan. In South African usage, the
						| term bridging finance is more common, but is used in a more restricted sense than is common elsewhere.

					p Bridge loans are often used for commercial real estate purchases to quickly close on a property, retrieve real
						| estate from foreclosure, or take advantage of a short-term opportunity in order to secure long-term financing.
						| Bridge loans on a property are typically paid back when the property is sold, refinanced with a traditional
						| lender, the borrower's creditworthiness improves, the property is improved or completed, or there is a specific
						| improvement or change that allows a permanent or subsequent round of mortgage financing to occur. The timing
						| issue may arise from project phases with different cash needs and risk profiles as much as ability to secure funding.

			article
				.article__title
					span answer
					h1 Why A Bridge Loan?

				.article__text
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						a(href="#")  eiusmod
						|  tempor incididunt ut labore et dolore magna
						| aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						| Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					h3 do you qualify?

					p Unlike our competitors and traditional sources of financing that base their lending decisions on credit scores,
						| we look at the business as a whole. Our approvals and offers are based on the business not a three digit
						| credit score. Reliant Funding looks at what you want to achieve and works with you to get there.
						| You may qualify if you meet the following criteria:

					ul
						li In business for at least 12 months.
						li Minimum of $8,000 per month in sales.
						li No open bankruptcies (prior BK is often ok).

					.article__cta In order to find out how much you qualify for
						span  CALL 877-850-0998 NOW.
					.round-button
						a(href="quote.html") apply now



		aside
			form(id="" method="POST" action="" class="c-quick-form")

				.quick-form-success
					.success__text
						span Thank you for your submission
						p We'll be in touch shortly

				span.form-header get a free quick quote

				select.js-summ-select(name="summ" id="summ")
					option(value="$5,000 - $10,000") $5,000
					option(value="$10,000 - $15,000") $10,000
					option(value="$15,000 -$20,000") $15,000
					option(value="$20,000 - $25,000") $20,000
					option(value="$30,000 - $35,000") $30,000
					option(value="$35,000 - $50,000") $35,000
					option(value="$50,000 - $75,000") $50,000
					option(value="$75,000 - $150,000") $75,000
					option(value="$150,000 - $250,000") $150,000
					option(value="More than $250,000") More than $250,000

				.form-row
					label(for="first_name") First name
						span *
					input(type="text" name="first_name" id="first_name")

				.form-row
					label(for="last_name") Last name
						span *
					input(type="text" name="last_name" id="last_name")

				.form-row
					label(for="company") Company
						span *
					input(type="text" name="company" id="company")

				.form-row
					label(for="email") Email
						span *
					input(type="email" name="email" id="email")

				.form-row
					label(for="phone") Phone
						span *
					input(type="text" name="phone" id="phone" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')")

				.form-info To qualify, your business must have more than $100,000 in gross annual revenue, and be in business
					| more than 6 months with no open bankruptcies.


				a.big-button(href="quote.html") Next

			.disclaimer
				span We never share your information

			.c-aside-compare
				img(src="assets/images/aside-compare3.jpg")

				table
					thead
						tr
							th Comparison
							th Veterans
								br
								|Banker
							th Banks
					tbody
						tr
							td Approvals within 24 hours

							td
								i.check-green
							td
								i.none
						tr
							td Funding in as little as 3 days

							td
								i.check-green
							td
								i.none
						tr
							td Renewable source of funds

							td
								i.check-green
							td
								i.none
						tr
							td No personal collateral or assets

							td
								i.check-green
							td
								i.none
						tr
							td Minimal paperwork

							td
								i.check-green
							td
								i.none


