extends ../layouts/default

block head
	- pageTitle = 'Widows & Children Benefits';

block content
	.container
		.main-content
			article
				.article__header
					img(src="assets/images/widows.jpg")
				.breadcrumbs
					a(href="/") Home
					a.current(href="widows.html") Widows & Children Benefits

				.article__title
					span resources
					h1 Widows & Children Benefits

				.article__text

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						| aliqua. Ut enim ad minim veniam, quis nostrud
						a(href="#")  exercitation
						|  ullamco laboris nisi ut aliquip ex ea commodo consequat.
						| Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
						| sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
						| sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
						| dolor sit amet, consectetur adipiscing elit, sed do
						a(href="#")  eiusmod
						|  tempor incididunt ut labore et dolore magna aliqua.
						| Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						| Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
						| sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					p Lorem ipsum dolor sit amet, consectetur
						a(href="#")  adipiscing
						|  elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						| aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						| Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					h3 Lorem ipsum

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						| aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						| Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
						| sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


		aside
			form(id="contact" method="POST" action="" class="c-quick-form")

				.quick-form-success
					.success__text
						span Thank you for your submission
						p We'll be in touch shortly

				span.form-header contact us

				.form-row
					label(for="first_name") Your name
						span *
					input(type="text" name="first_name" id="first_name")

				.form-row
					label(for="address") Your address (street, state, zip)
						span *
					input(type="text" name="address" id="address")

				.form-row
					input(type="text" name="address1" id="address1")

				.form-row
					label(for="email") Email
						span *
					input(type="email" name="email" id="email")

				.form-row
					label(for="phone") Phone
						span *
					input(type="text" name="phone" id="phone" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')")

				.form-row.textarea
					label(for="message") Your message
						span *
					textarea(name="message" id="message")

				.form-row.captcha
					label(for="captcha") Are you human? 7+11
						span *
					input(type="text" id="captcha" name="captcha")


				a.big-button(href="quote.html") Next

			.disclaimer
				span We never share your information


