<div class="overlay overlay-door">
	<div class="modal">
		<h3>support a charity</h3>
		<p>Lorem ipsum dolor sit amet, <a href="#">vv  tt</a> adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		<a href="#" class="overlay-close">close x</a>
	</div>
</div>
